<div layout="column" flex>

    <md-card flex>
        <md-card-content>
            <div flex >
                <md-checkbox ng-model="$ctrl.isShown">
                    Mostrar/Esconder tabela de dados
                </md-checkbox>
            </div>
            <md-content flex>
              <div ng-if="$ctrl.isShown" layout="column" flex>
                <div layout="column" flex>
                  <md-list flex>
                    <md-list-item class="md-1-line"  ng-style="$ctrl.listStyle">
                      <div class="md-list-item-text" layout="column" style="min-width: 80px;max-width: 80px;">
                        <div layout="row" layout-align="center center" layout-padding>
                          <span layout="column">Data</span>
                        </div>
                      </div>
                      <md-list-item ng-repeat="Center in $ctrl.fieldCenters">
                        <div class="md-list-item-text" layout="column" style="min-width: 56px;">
                          <div layout="row" layout-align="center center" layout-padding>
                            <span layout="column" style="text-align:center;">{{Center}}</span>
                          </div>
                        </div>
                      </md-list-item>
                      <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item ng-repeat="(dateIndex,dateValue) in $ctrl.dates" ng-style="$ctrl.listStyle">
                      <div class="md-list-item-text" layout="column" style="min-width: 80px;max-width: 80px;">
                        <div layout="row" layout-align="center center" layout-padding>
                          <span layout="column" style="text-align:center;">{{ dateValue }}</span>
                        </div>
                      </div>
                      <md-list-item ng-repeat="(centerIndex,center) in $ctrl.fieldCenters">
                        <div class="md-list-item-text" layout="column" style="min-width: 56px">
                          <div layout="row" layout-align="center center" layout-padding>
                            <span layout="column">{{$ctrl.datasets[centerIndex].data[dateIndex]}}</span>
                          </div>
                        </div>
                      </md-list-item>
                      <md-divider flex></md-divider>
                    </md-list-item>
                  </md-list>
                </div>

              </div>
            </md-content>
        </md-card-content>
    </md-card>
</div>
