<md-content layout="column" flex>
      <div layout-align="start center" flex>
        <md-card layout="row" flex="80" flex-offset="10">
          <div layout="column" flex>
            <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
              Informações do Lote
            </md-subheader>
            <div flex>
              <div flex layout-padding>
                <div layout="row" layout-xs="column" flex>
                  <div layout="column" layout-align="center start" flex="20" flex-md="15" flex-gt-md="10">
                    <span>Centro: {{$ctrl.lot.fieldCenter.acronym}}</span>
                  </div>
                </div>
                <div>
                  <div layout="row" layout-xs="column" flex>
                    <div layout="column" layout-align="center start" flex="35" >
                      <span>Tipo do lote: {{$ctrl.lot.aliquotLabel}}</span>
                    </div>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card>
        <div flex layout="row" layout-align="center center">
          <md-card flex="80">
            <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
              Alíquotas
            </md-subheader>
            <div layout="row" layout-align="center center" layout-padding>
              <span class="">Código:</span>
              <input type="text" class="aliquot-lot-input" flex placeholder="Alíquota" name="fast-trigger" value="Inserção rápida" ng-model="$ctrl.aliquotCode" ng-keydown="$ctrl.aliquotInputkeydown($event)"/>
              <div>
                <md-button ng-click="$ctrl.fastInsertion($ctrl.aliquotCode)" class="md-raised md-primary" aria-label="Adicionar Alíquota">
                  <md-tooltip md-direction="down">Adicionar</md-tooltip>
                  <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
                </md-button>
              </div>
            </div>
            <md-divider></md-divider>
            <dynamic-data-table flex
              headers="['Código', 'Tipo', 'Recipiente', 'Aliquotagem']"
              elements-array="$ctrl.lot.aliquotList"
              elements-properties="['code', 'label', 'containerLabel', 'aliquotCollectionData.time']"
              callback-after-change="$ctrl.dynamicDataTableChange"
              table-update-function="$ctrl.ExamLotService.dynamicDataTableFunction.updateDataTable"

              table-title="'Lista de Alíquotas'"
              order-indices="[1,3,2,0]"
              number-fields-aligned-left="10"

              flex-array="[20, 40, 20,20]"
              format-data=""
              format-data-properties-array="['aliquotCollectionData.time']"
              format-data-index-array="[]"

              disable-checkbox="false"
              disable-filter="false"
              disable-reorder="false"
              disable-pagination="false"
              selected-color=""
              hover-color=""
            >
            </dynamic-data-table>

            <md-list ng-if="false">
              <md-list-item ng-repeat="aliquot in $ctrl.lot.aliquotList | orderBy:['label', 'aliquotCollectionData.time', 'containerLabel'] track by $index"
               ng-class="{ 'selectedState': aliquot.isSelected, 'regularState': !aliquot.isSelected}"
               ng-click="$ctrl.selectAliquot(aliquot)" class="card-animated">
                <div ng-class="{'md-list-item-text': true, 'error': aliquot.hasError}" flex>
                  <span class="md-title" layout-margin>{{aliquot.code}}</span>
                  <span>{{aliquot.containerLabel + " de " + aliquot.label}}</span>
                  <span>{{aliquot.aliquotCollectionData.time | date:'dd/MM/yyyy'}}</span>
                  <span>{{}}</span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
</md-content>


