.moment-type-selected{
  box-shadow: 1px 2px 5px grey;
}
.moment-type-not-selected{
  opacity: 0.5;
}
.aliquot-md-card:focus {
  outline: none;
  box-shadow: 1px 2px 5px grey;
}

.aliquot-md-card {
  cursor: pointer;
}

.input-footer-message{
  position: relative;
  left: 5px;
  right: auto;
  top: -35px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}
