.card-tube{
  padding:10px;
}

.moment-type-title{
  font-size: 18px;
  text-align: center;
}

.tube-design{
  height:80px;
  width:10px;
  margin-right:10px;
  border: solid 1px #ccc;
  border-radius: 3px 3px 10px 10px;
}

.aliquot-whiteframe{
  margin-bottom: 10px;
}

.aliquot-whiteframe-title{
  color:red;
}

.aliquot-arrow-icon{
  text-align: center;
}

.aliquot-arrow-icon-up{
  position: relative;
  top: -7px;
}

.moment-type-selected{
  box-shadow: 1px 2px 5px grey;
}
.moment-type-not-selected{
  opacity: 0.5;
}
.aliquot-md-card:focus {
  outline: none;
  box-shadow: 1px 2px 5px grey;
}

.aliquot-md-card {
  cursor: pointer;
}

.input-footer-message{
  position: relative;
  left: 5px;
  right: auto;
  top: -35px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

.aliquot-lot-input {
    margin: 20px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    -webkit-box-shadow: 4px 4px 14px -1px rgba(112,108,112,0.79);
    -moz-box-shadow: 4px 4px 14px -1px rgba(112,108,112,0.79);
    box-shadow: 4px 4px 14px -1px rgba(112,108,112,0.79);
    outline: none;
    background: transparent;
    width: 650px;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    border-radius:4px;
    -webkit-appearance: textfield;
}
