.dashboard-sidenav-component {
  md-sidenav {
    position: fixed !important;
    width: 320px;
    min-width: 320px !important;
  }

  md-backdrop {
    position: fixed !important;
  }

  md-backdrop ~ md-content {
    position: fixed;
    overflow: hidden;
  }

  @media (max-width: 456px) {
    md-sidenav,
    md-sidenav.md-locked-open,
    md-sidenav.md-closed.md-locked-open-add-active {
      position: fixed !important;
      min-width: 320px !important;
    }
  }
}

.md-dashboard-autocomplete {
  @media only screen and (max-width: 361px) {
    input:not(.md-input) {
      font-size: 11px;
    }
    .md-show-clear-button button {
      display: none;
    }
  }
  @media only screen and (min-width: 361px) {
    @media only screen and (max-width: 500px) {
      input:not(.md-input) {
        font-size: 12px;
      }
      .md-show-clear-button button {
        display: none;
      }
    }
  }
}


.participants-manager-list-component {
  .dynamic-table-container {
    min-width: 850px;
    .dynamic-structure {
      min-width: 800px !important;
    }
  }
}

.dashboard-toolbar-component {
  @media only screen and (max-width: 800px) {
    .not-mobile {
      display: none;
    }
  }
  @media only screen and (min-width: 800px) {
    .mobile {
      display: none;
    }
  }
}

.dashboard-component {
  .dashboard-toolbar-component {
    @media only screen and (max-width: 800px) {
      width: 50px;
      .mobile {
        display: none !important;
      }
      .not-mobile {
        display: block !important;
      }
    }
  }
}

.report-dashboard-component {
  .report-list {
    min-width: 250px;
  }
  .report-item {
    min-width: 250px;
    background-color: #ffffff
  }
}

.activity-manager-component {
  .activity-manager-list-component {
    @media only screen and (max-width: 450px) {
      .not-mobile {
        display: none;
      }
    }
    .dynamic-table-container {
      min-width: 800px;
      .dynamic-structure {
        min-width: 750px !important;
      }
    }
  }

  .activity-manager-toolbar-component {
    md-fab-speed-dial {
      max-height: 50px;
    }
    @media only screen and (max-width: 450px) {
      md-toolbar {
        display: none !important;
      }
      md-fab-speed-dial {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 20;
        md-fab-trigger {
          width: 80%;
          button {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
    @media only screen and (min-width: 451px) {
      md-fab-speed-dial {
        display: none;
      }
    }
  }

  .activity-manager-commander-component {
    @media only screen and (max-width: 451px) {
      md-fab-speed-dial {
        display: none;
      }
    }
  }
}

.control-panel-component {
  @media only screen and (max-width: 550px) {
    .control-panel {
        display: none;
    }
    .control-panel-mobile {
      md-fab-speed-dial {
        max-height: 50px;
        display: flex;
        align-items: center;
        z-index: 20;
        md-fab-trigger {
          width: 80%;
          button {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
          }
        }
        md-fab-actions {
          button {
            min-width: 150px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 551px){
    .control-panel-mobile {
      display: none;
    }
  }
}
