.dashboard-sidenav-component md-sidenav {
  position: fixed !important;
  width: 320px;
  min-width: 320px !important;
}
.dashboard-sidenav-component md-backdrop {
  position: fixed !important;
}
.dashboard-sidenav-component md-backdrop ~ md-content {
  position: fixed;
  overflow: hidden;
}
@media (max-width: 456px) {
  .dashboard-sidenav-component md-sidenav,
.dashboard-sidenav-component md-sidenav.md-locked-open,
.dashboard-sidenav-component md-sidenav.md-closed.md-locked-open-add-active {
    position: fixed !important;
    min-width: 320px !important;
  }
}

@media only screen and (max-width: 361px) {
  .md-dashboard-autocomplete input:not(.md-input) {
    font-size: 11px;
  }
  .md-dashboard-autocomplete .md-show-clear-button button {
    display: none;
  }
}
@media only screen and (min-width: 361px) and (max-width: 500px) {
  .md-dashboard-autocomplete input:not(.md-input) {
    font-size: 12px;
  }
  .md-dashboard-autocomplete .md-show-clear-button button {
    display: none;
  }
}

.participants-manager-list-component .dynamic-table-container {
  width: 850px;
}
.participants-manager-list-component .dynamic-table-container .dynamic-structure {
  min-width: 800px !important;
}

@media only screen and (max-width: 800px) {
  .dashboard-toolbar-component .not-mobile {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .dashboard-toolbar-component .mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .dashboard-component .dashboard-toolbar-component {
    width: 50px;
  }
  .dashboard-component .dashboard-toolbar-component .mobile {
    display: none !important;
  }
  .dashboard-component .dashboard-toolbar-component .not-mobile {
    display: block !important;
  }
}

.report-dashboard-component .report-list {
  min-width: 250px;
}
.report-dashboard-component .report-item {
  min-width: 250px;
  background-color: #ffffff;
}

@media only screen and (max-width: 450px) {
  .activity-manager-component .activity-manager-list-component .not-mobile {
    display: none;
  }
}
.activity-manager-component .activity-manager-list-component .dynamic-table-container {
  width: 800px;
}
.activity-manager-component .activity-manager-list-component .dynamic-table-container .dynamic-structure {
  min-width: 750px !important;
}
.activity-manager-component .activity-manager-toolbar-component md-fab-speed-dial {
  max-height: 50px;
}
@media only screen and (max-width: 450px) {
  .activity-manager-component .activity-manager-toolbar-component md-toolbar {
    display: none !important;
  }
  .activity-manager-component .activity-manager-toolbar-component md-fab-speed-dial {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  .activity-manager-component .activity-manager-toolbar-component md-fab-speed-dial md-fab-trigger {
    width: 80%;
  }
  .activity-manager-component .activity-manager-toolbar-component md-fab-speed-dial md-fab-trigger button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 451px) {
  .activity-manager-component .activity-manager-toolbar-component md-fab-speed-dial {
    display: none;
  }
}
@media only screen and (max-width: 451px) {
  .activity-manager-component .activity-manager-commander-component md-fab-speed-dial {
    display: none;
  }
}

/*# sourceMappingURL=components-style.css.map */
