.dashboard-sidenav-component {
  md-sidenav{
    position: fixed !important;
    width: 320px;
    min-width: 320px !important;
  }

  md-backdrop {
    position: fixed !important;
  }

  md-backdrop ~ md-content {
    position: fixed;
    overflow: hidden;
  }

  @media (max-width: 456px) {
    md-sidenav,
    md-sidenav.md-locked-open,
    md-sidenav.md-closed.md-locked-open-add-active {
      position: fixed !important;
      min-width: 320px !important;
    }
  }
}

.md-dashboard-autocomplete {
  @media only screen and (max-width: 361px) {
    input:not(.md-input) {
      font-size: 11px;
    }
    .md-show-clear-button button {
      display: none;
    }
  }
  @media only screen and (min-width: 361px) {
    @media only screen and (max-width: 500px) {
      input:not(.md-input) {
        font-size: 12px;
      }
      .md-show-clear-button button {
        display: none;
      }
    }
  }
}

.participants-manager-list-component {
  .dynamic-structure{
    min-width: 800px !important;
  }
}

.dashboard-toolbar-component {
  @media only screen and (max-width: 550px) {
    .not-mobile {
      display: none;
    }
  }
  @media only screen and (min-width: 550px) {
    .mobile {
      display: none;
    }
  }
}

.dashboard-component {
    .dashboard-toolbar-component {
      @media only screen and (max-width: 550px) {
        width: 50px;
        .mobile {
          display: none !important;
        }
        .not-mobile {
          display: block !important;
        }
      }
  }
}