.project-name {
  color: white;
}
/*----------------------Novo login-----------------------------*/
.card {
  width: 60%;
  top: 20%;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}
#user-login-page {
  height: 100%;
  position: relative;
}
#user-login-page #center {
  width: 55%;
  top: 30%;
  margin: 0 auto;
  position: relative;
  border: 2px solid #E6E6E6;
}
#user-login-page #divtop {
  height: 40%;
  z-index: 1;
  position: absolute;
  width: 100%;
}
#user-login-page .system-name {
  text-align: left;
  color: white;
  top: 52%;
  position: relative;
}
#user-login-page .system-name span {
  margin-left: 23%;
}
#user-login-page h1 {
  margin: 0 auto;
  width: 110px;
  display: block;
}
#user-login-page .logotype {
  width: 24%;
  position: absolute;
  top: 0%;
  left: 36%;
  transform: translate(-30%, -30%);
}
@media screen and (max-width: 1280px) and (min-width: 800px) {
  #user-login-page .logotype {
    width: 32%;
    position: absolute;
    left: 38%;
    transform: translate(-30%, -30%);
  }
}
#user-login-page .content {
  margin-top: 11%;
  padding: 10px;
}

#user-login-page .md-block {
  width: 60%;
  left: 12%;
  right: 12%
}