* {
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden !important;
}

.toolbar-icon {
  width: 48px;
  height: 48px;
}

.icon-clickable {
  cursor: pointer;
}

md-input-container.hide-error-msg .md-errors-spacer:empty {
  display: none;
}

/** finish style participant search **/

.selectedState {
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: #009688;
  background: rgba(68, 68, 68, 0.04);
}

.regularState {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: #FFFFFF;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title, .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

/**  ACTIVITY MANAGER LIST **/

.activity-item-icon {
  background: none !important;
  color: #0091EA !important;
  margin: 0 !important;
  padding-left: 0px !important;
}

.label-light-gray {
  color: #757575;
}

/** participant-search **/

.md-autocomplete-participant {
  background-color: #299288 !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: none !important;
}

.md-dashboard-autocomplete {
  color: red !important;
  border: none !important;
  box-shadow: none !important;
}

.autocomplete-custom-participant-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

otus-participant-dashboard-toolbar>div>md-toolbar>div>otus-participant-search>md-autocomplete>md-autocomplete-wrap>input {
  color: rgb(255, 255, 255) !important;
}

otus-participant-dashboard-toolbar>div>md-toolbar>div>otus-participant-search>md-autocomplete>md-autocomplete-wrap>input::-webkit-input-placeholder {
  color: rgb(255, 255, 255) !important;
}

otus-participant-dashboard-toolbar>div>md-toolbar>div>otus-participant-search>md-autocomplete>md-autocomplete-wrap>button>md-icon>svg>g>path {
  fill: rgb(255, 254, 254) !important;
}

otus-participant-dashboard-toolbar>div>md-toolbar>div>otus-participant-search>md-autocomplete {
  color: rgb(255, 255, 255) !important;
}

.autocomplete-custom-participant-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-participant-template .participant-title, .autocomplete-custom-participant-template .participant-information {
  display: block;
  line-height: 2;
}

.autocomplete-custom-participant-template .participant-title md-icon {
  margin-right: 10px;
}

/** finish participant-search **/

/** tube-item-view-component **/

.tubeNotCollect {
  transition: all linear 0.5s;
  opacity: 0.4;
}

md-checkbox.md-checkbox-small {
  transform: scale(0.8);
  margin: 0;
}

/** finish tube-item-view-component**/

/** lot-info-maneger-display-component **/

.error {
  color: red;
}

/** finish lot-info-maneger-display-component **/

.remove-padding {
  padding: 0;
}

md-input-container.remove-errors-spacer .md-errors-spacer {
  min-height: 0;
}

md-input-container.input-container-lot-margin {
  margin-top: 2px;
  margin-bottom: 2px;
}

.md-subheader.backgroud-color-default {
  background-color: unset;
}

.md-subheader.left-alignment {
  text-align: left;
}

.rotate-180-deg, .reverse-rotate-180-deg {
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.rotate-180-deg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.reverse-rotate-180-deg {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

md-content.no-background-color {
  background-color: transparent;
}

.fieldActive {
  border: none;
  outline: 0;
  opacity: 0.9;
  background: none;
  color: #00008B;
  font-weight: bold;
  cursor: pointer;
}

.fieldDisable {
  border: none;
  outline: 0;
  opacity: 0.8;
  background: none;
  color: #292828;
  font-weight: bold;
  font-family: arial;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
  background: rgb(0, 121, 107) !important;
}

.dtp div.dtp-date, .dtp div.dtp-time {
  background: rgb(0, 150, 136) !important;
}

.dtp table.dtp-picker-days tr>td>a.selected {
  background: rgb(0, 121, 107) !important;
}

.dtp table.dtp-picker-days tr>td>a.hilite:not(.selected) {
  color: rgb(0, 150, 136) !important;
}

.dtp .dtp-picker-time>a.dtp-select-hour.selected {
  background: rgb(0, 121, 107) !important;
}

.dtp .dtp-hand.on {
  background: rgb(0, 150, 136) !important;
}

.dtp .dtp-actual-meridien a.selected {
  background: rgb(0, 150, 136) !important;
}

.iconInverted {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5;
}

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%;
}

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toolbarInfo {
  background-color: rgb(0, 145, 234) !important;
}