* {
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden !important;
}

.toolbar-icon {
  width: 48px;
  height: 48px;
}

.icon-clickable {
  cursor: pointer;
}

md-input-container.hide-error-msg .md-errors-spacer:empty {
  display: none;
}


/** finish style participant search **/

.selectedState {
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: #009688;
  background: rgba(68, 68, 68, 0.04);
}

.regularState {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 0px 0px 0px 8px;
  border-color: #FFFFFF;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title, .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}


/**  ACTIVITY MANAGER LIST **/

.activity-item-icon {
  background: none !important;
  color: #0091EA !important;
  margin: 0 !important;
  padding-left: 0px !important;
}

.label-light-gray {
  color: #757575;
}


/** participant-search **/

.md-autocomplete-participant {
  background-color: #299288 !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: none !important;
}

.md-dashboard-autocomplete {
  color: red !important;
  border: none !important;
  box-shadow: none !important;
}

.autocomplete-custom-participant-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

otus-participant-dashboard-toolbbar>div>md-toolbar>div>otus-participant-search>md-autocomplete>md-autocomplete-wrap>input {
  color: rgb(255, 255, 255) !important;
}

otus-participant-dashboard-toolbbar>div>md-toolbar>div>otus-participant-search>md-autocomplete>md-autocomplete-wrap>input::-webkit-input-placeholder {
  color: rgb(255, 255, 255) !important;
}

otus-participant-dashboard-toolbbar>div>md-toolbar>div>otus-participant-search>md-autocomplete>md-autocomplete-wrap>button>md-icon>svg>g>path {
  fill: rgb(255, 254, 254) !important;
}

otus-participant-dashboard-toolbbar>div>md-toolbar>div>otus-participant-search>md-autocomplete {
  color: rgb(255, 255, 255) !important;
}

.autocomplete-custom-participant-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-participant-template .participant-title, .autocomplete-custom-participant-template .participant-information {
  display: block;
  line-height: 2;
}

.autocomplete-custom-participant-template .participant-title md-icon {
  margin-right: 10px;
}
/** finish participant-search **/

/** tube-item-view-component **/
.tubeNotCollect {
  transition: all linear 0.5s;
  opacity: 0.4;
}

md-checkbox.md-checkbox-small {
  transform: scale(0.8);
  margin: 0;
}
/** finish tube-item-view-component**/

/** lot-info-maneger-display-component **/
.error {
  color: red;
}
/** finish lot-info-maneger-display-component **/

.remove-padding{
  padding: 0;
}


/*.card-animated {*/
  /*-moz-transition:transform 0.5s;*/
  /*-webkit-transition:transform 0.5s;*/
  /*-ms-transition:transform 0.5s;*/
  /*-o-transition:transform 0.5s;*/
  /*transition:transform 0.5s;*/
  /*transition: .2s all;*/
/*}*/

/*.card-animated.ng-enter-active {*/
/*!* -moz-transform: scale(0.1);*/
/*-webkit-transform: scale(0.1);*/
/*-ms-transform: scale(0.1);*/
/*-o-transform: scale(0.1);*/
/*transform: scale(0.1); *!*/
/*opacity: 1;*/
/*} */

/*.card-animated.ng-enter {*/
  /*!* -moz-transform: scale(0.1);*/
  /*-webkit-transform: scale(0.1);*/
  /*-ms-transform: scale(0.1);*/
  /*-o-transform: scale(0.1);*/
  /*transform: scale(0.1); *!*/
  /*opacity: 0;*/
/*} */

/*.card-animated.ng-leave {*/
  /*transition:0.5s linear all;*/
  /*opacity:1;*/
/*}*/
/*.card-animated.ng-leave.ng-leave-active {*/
  /*opacity:0;*/
/*}*/

md-input-container.remove-erros-spacer .md-errors-spacer {
  min-height: 0;
}

md-input-container.input-container-lot-margin{
  margin-top: 2px;
  margin-bottom: 2px;
}

.md-subheader.backgroud-color-default{
  background-color: unset;
}

.md-subheader.left-alignment{
  text-align: left;
}