<md-content layout="row" flex>
    <md-card flex>
        <md-card-content style="display:inline-block;">
            <div flex layout="row" >
                <canvas style="font-size:60px;height:60px;width:80px;" id="goalPercentageChart"></canvas>
                <div layout="row" style="padding-top:20px;">
                    <div ng-model="$ctrl.goalPercentage" style="vertical-align: middle;text-align:left;font-size:3vw;color:rgb(128, 128, 128);">{{$ctrl.goalPercentage}}%</div>
                    <div style="text-align:left;font-size:1.2vw;color:rgb(150, 150, 150);"> de questionários contemplados</div>
                </div>

            </div>
        </md-card-content>
    </md-card>
    <!--
    <md-card flex>
        <md-card-content style="display:inline-block;">
            <div flex layout="row" ng-init="Data = $ctrl.generalInformation">
                <canvas style="font-size:60px;height:60px;width:80px;" id="deathsPercentageChart"></canvas>
                <div layout="row" style="padding-top:20px;">
                    <div style="vertical-align: middle;text-align:left;font-size:5vh;color:rgb(128, 128, 128);">{{((Data.deaths/(Data.goal))*100).toFixed(0)}}%</div>
                    <div style="text-align:left;font-size:2vh;color:rgb(150, 150, 150);"> de Falecimentos de Participantes</div>
                </div>
            </div>
        </md-card-content>
    </md-card>-->
    <md-card flex>
        <md-card-content >
            <div flex layout="row">
                <md-icon style="text-align:left;font-size:60px;height:60px;width:60px;" flex="1">event_available</md-icon>
                <div layout="row" style="padding-top:20px;" flex="80">
                    <div ng-model="$ctrl.reachedTotal" style="text-align:left;font-size:3vw;color:rgb(128, 128, 128);">{{$ctrl.reachedTotal}}</div>
                    <div  style="text-align:left;font-size:1.2vw;color:rgb(150, 150, 150);">questionários completos</div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content >
            <div flex layout="row">
                <md-icon style="text-align:left;font-size:60px;height:60px;width:60px;" flex="1">event_note</md-icon>
                <div layout="row" style="padding-top:20px;" flex="80">
                    <div ng-model="$ctrl.goal" style="text-align:left;font-size:3vw;color:rgb(128, 128, 128);">{{$ctrl.goal}}</div>
                    <div  style="text-align:left;font-size:1.2vw;color:rgb(150, 150, 150);">participantes a serem contemplados</div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-content>