<md-content id="login-page" layout="column" flex>
	<div id="divtop">
		<h2 class="name">
			<span class="md-display-1">Otus</span>
		</h2>
		<div id="center">
			<div>
				<img src="app/assets/img/OtusImg.png" class="logo" media="screen and (max-width: 1280px) and (min-width: 800px)" />
			</div>
			<div layout="column">
				<div>
					<div id="content" flex>
						<form name="loginForm" novalidate>
							<br>
							<md-input-container class="md-block">
								<label>Email</label>
								<input name="userEmail" ng-model="user.email" required />

								<div ng-messages="loginForm.userEmail.$error">
									<div ng-message="required">Obrigatório</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block">
								<label>Senha</label>
								<input name="userPassword" ng-model="user.password" type="password" required />

								<div ng-messages="loginForm.userPassword.$error">
									<div ng-message="required">Obrigatório</div>
								</div>
							</md-input-container>
							<br />

							<div layout="row" layout-sm="column">
								<md-button type="submit" class="md-raised md-accent" ng-click="$ctrl.authenticate(user)" ng-disabled="loginForm.$invalid">
									Logar
								</md-button>
								<md-button type="button" class="md-raised md-accent" ng-click="$ctrl.signup()">
									Cadastrar-se
								</md-button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</md-content>
