<md-toolbar style="z-index: 1" class="md-primary md-hue-1">
  <div class="md-toolbar-tools">
    <md-button ng-click="$ctrl.returnToParticipantActivities()" aria-label="Lista de Atividades">
      <md-tooltip md-direction="down">Lista de Atividades</md-tooltip>
      <md-icon md-svg-icon="arrow-left" aria-label="Lista de Atividades"></md-icon>
      Voltar
    </md-button>

    <span flex></span>
    <h3 hide-xs>
      <span>Dados de Atividade em Papel</span>
    </h3>
    <h6 hide-gt-xs>
      <span>Dados da Atividade</span>
    </h6>
    <span flex></span>

    <md-button ng-click="$ctrl.goToActivityAdder()" aria-label="Continuar">
      Continuar
      <md-tooltip md-direction="down">Continuar</md-tooltip>
      <md-icon md-svg-icon="arrow-right" aria-label="Continuar"></md-icon>
    </md-button>
  </div>
</md-toolbar>


<md-content layout="row" flex layout-align="center center">
  <div layout-margin layout="column">
    <div layout="column" class="label-light-gray">
      <h3 class="md-display-3">Informações de Realização</h3>
      <span class="md-body-1">Informe a <b>data de realização</b> e o responsável pelo preenchimento <b>realizado em papel.</b>
      </span>
    </div>
    <div flex>
      <div>
        <md-datepicker ng-model="$ctrl.paperActivityData.realizationDate"
                       md-placeholder="Data de realização"></md-datepicker>
      </div>
      <md-autocomplete flex md-no-cache="true" md-selected-item="$ctrl.selectedItem"
                       md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
                       md-search-text="$ctrl.searchText"
                       md-selected-item-change="$ctrl.selectedItemChange(item)"
                       md-items="item in $ctrl.querySearch($ctrl.searchText)"
                       md-item-text="item.text" md-min-length="0" placeholder="Aferidor (a)"
                       md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="account"></md-icon>
            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{ item.title }}</span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              E-mail: <strong>{{ item.metastat.email }}</strong>
            </span>
          </span>
        </md-item-template>
        <md-not-found>
          Nenhum resultado para "{{ $ctrl.searchText }}" foi encontrado.
        </md-not-found>
      </md-autocomplete>
    </div>
  </div>
</md-content>
