otus-dashboard-display {
  background-color: #eeeeee;

  @media screen and (min-width: 360px) {
    .dashboard-display-layout {
      display: grid;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "display-participant-info"
        "display-participant-attempt"
        "display-participant-heatmap"
        "display-participant-exam-heatmap"
        "display-report-dashboard";
    }
    .mobile-width {
      width: 100vw;
    }

    .mobile-width-left {
      width: 100vw;
    }

    .mobile-width-right {
      width: 100vw;
    }
  }

  @media screen and (min-width: 1200px) {
    .dashboard-display-layout {
      display: grid;
      align-items: center;
      height: auto;
      width: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "display-participant-info"
        "display-participant-attempt"
        "display-participant-heatmap"
        "display-participant-exam-heatmap"
        "display-report-dashboard";
    }

    .mobile-width {
      width: auto;
    }

    .mobile-width-left {
      width: 50vw;
    }

    .mobile-width-right {
      width: 48vw;
    }
  }

  .mobile-height {
    min-height: 40vh;
  }

  .display-color-gray {
    color: gray;
  }

  .display-participant-info {
    grid-area: display-participant-info;
  }

  .display-participant-attempt {
    grid-area: display-participant-attempt;
  }

  .display-participant-heatmap {
    grid-area: display-participant-heatmap;
  }

  .display-participant-exam-heatmap {
    grid-area: display-participant-exam-heatmap;
  }

  .display-report-dashboard {
    grid-area: display-report-dashboard;
  }
}

@media screen and (min-width: 360px) {
  .icon-display-size {
    font-size: 1.6em;
    height: auto;
    width: auto;
  }

  .icon-display-generate-size {
    font-size: 1.6em;
    height: auto;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .icon-display-size {
    font-size: 2.6em;
  }

  .icon-display-generate-size {
    font-size: 2.6em;
    padding-right: 35px;
  }
}
