<md-sidenav class="md-sidenav-right" md-component-id="right" flex>
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
      <md-icon md-font-library="material-icons" layout-margin>colorize</md-icon>
      <span>Materiais</span>
    </div>
  </md-toolbar>
  <md-list flex>
    <md-list-item class="md-2-line" ng-repeat="activitie in $ctrl.offlineCollectionData.activities"
      ng-click="null">
      <div class="md-list-item-text" layout="column">
        <span flex class="md-title">{{activitie.surveyForm.acronym}}</span>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-sidenav>
