<div>
  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-1dp"
               layout="column"
  >
    <md-toolbar class="md-primary md-whiteframe-1dp">
      <div class="md-toolbar-tools">
        <img ng-src="{{$ctrl.iconImage}}" class="toolbar-icon">
        <span flex></span>
        <span class="md-body-2">{{$ctrl.projectName}} | PROJETO</span>
        <span flex></span>
        <md-button aria-label="Logout" ng-click="$ctrl.logout()" layout="column">
          <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div ng-transclude="hideHomeButton">
      <div layout-margin>
        <md-list>
          <md-list-item>
            <div layout-align="start center">
              <md-icon md-svg-icon="home" aria-label="Home" class="md-accent"></md-icon>
              <md-button id="home-menu" ng-click="$ctrl.home()">INÍCIO</md-button>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div ng-transclude="hideParticipantBox">
      <otus-participant-box on-close="$ctrl.close()" layout="row"></otus-participant-box>
      <!-- Insere participant-box caso não seja fornecido elemento para o transclude -->
    </div>
    <span flex="100"></span>
    <div layout-align="end center" md-colors="::{background: 'default-primary-500'}">
      <div layout-margin>
        <label class="md-caption">Importação de dados</label>
        <md-list>
          <md-list-item>
            <div layout-align="start center">
              <md-button class="md-fab md-mini md-accent md-raised">

                <md-icon aria-label="backup">backup</md-icon>
              </md-button>
              <md-button id="home-menu" ng-click="$ctrl.importActivity()">IMPORTAR ATIVIDADES</md-button>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>  </md-sidenav>
</div>
