<style>
  .activity-sharing-dialog {
    width: 40vw;
  }

  .content-share {
    background-color: #dedede;
    padding: 0.5em;
  }

  .md-whiteframe-1dp {
    background-color: #FFFFFF;
    padding-left: 0.5em;
  }

  md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none;
  }
</style>

<md-dialog class="activity-sharing-dialog">
  <md-toolbar class="md-primary md-toolbar-tools">
    <span class="md-subhead">{{ $ctrl.ActivitySharingDialogValues.titles.dialogToTitle }}</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.data.cancel() "
               aria-label={{$ctrl.ActivitySharingDialogValues.buttons.closeSharingDialog.ariaLabel}}>
      <md-icon aria-label={{$ctrl.ActivitySharingDialogValues.buttons.closeSharingDialog.ariaLabel}}>
        {{$ctrl.ActivitySharingDialogValues.buttons.closeSharingDialog.icon}}
      </md-icon>
      <md-tooltip md-direction="bottom">
        {{$ctrl.ActivitySharingDialogValues.buttons.closeSharingDialog.tooltip}}
      </md-tooltip>
    </md-button>
  </md-toolbar>

  <md-dialog-content class="content-share">
    <div layout="column" layout-margin>
      <div layout="row" layout-align="space-between center">
        <md-chips class="md-primary md-body-1">
          <md-chip md-colors="{background: 'primary'}">{{ $ctrl.data.activity.surveyForm.acronym }}</md-chip>
        </md-chips>
        <span>{{ $ctrl.data.activity.surveyForm.name }}</span>

        <md-button class="md-icon-button" ng-click="$ctrl.deleteSharedURL()"
                   {{$ctrl.ActivitySharingDialogValues.buttons.deleteActivitySharing.ariaLabel}}>
          <md-icon class="md-warn">
            {{$ctrl.ActivitySharingDialogValues.buttons.deleteActivitySharing.icon}}
          </md-icon>
          <md-tooltip md-direction="bottom">
            {{$ctrl.ActivitySharingDialogValues.buttons.deleteActivitySharing.tooltip}}
          </md-tooltip>
        </md-button>

      </div>
      <div layout="row" layout-align="center">
        <span class="md-subhead">{{ $ctrl.data.activity.participantData.name}}</span>
      </div>
      <div class="md-whiteframe-1dp" layout="row" layout-align="space-between center">
        <span>Válido até: {{ $ctrl.activitySharing.getExpirationDate() | date:'dd/MM/yyyy'}}</span>
        <md-button class="md-icon-button md-primary"
                   ng-click="$ctrl.renovateSharedURL()"
                   ng-disabled="$ctrl.liveLink"
                   aria-label={{$ctrl.ActivitySharingDialogValues.buttons.renovateActivitySharing.ariaLabel}}>
          <md-icon>
            {{$ctrl.ActivitySharingDialogValues.buttons.renovateActivitySharing.icon}}
          </md-icon>
          <md-tooltip md-direction="right">
            {{$ctrl.ActivitySharingDialogValues.buttons.renovateActivitySharing.tooltip}}
          </md-tooltip>
        </md-button>
      </div>

      <div class="md-whiteframe-1dp" layout="row" layout-align="space-between center">
        <span md-truncate flex="90">{{$ctrl.activitySharing.url}}</span>
        <md-button class="md-icon-button md-primary"
                   ng-click="$ctrl.copyLinkToClipboard($ctrl.activitySharing.url,'link')"
                   aria-label={{$ctrl.ActivitySharingDialogValues.buttons.arialLabel}}
                   ng-disabled="!$ctrl.liveLink">
          <md-icon class="">content_copy</md-icon>
          <md-tooltip md-direction="right">
            {{$ctrl.ActivitySharingDialogValues.buttons.copyLink.tooltip}}
          </md-tooltip>
        </md-button>
      </div>

      <div>
        <md-button ng-click="$ctrl.copyLinkToClipboard($ctrl.activitySharing.url,'msg')"
                   class="md-raised md-primary" aria-label="Salvar"
                   ng-disabled="!$ctrl.liveLink" layout-fill>
          <span ng-show="$ctrl.liveLink"> {{$ctrl.ActivitySharingDialogValues.buttons.copyMessageWithLink.titleActivity}}</span>
          <span ng-show="!$ctrl.liveLink">{{$ctrl.ActivitySharingDialogValues.buttons.copyMessageWithLink.titleInactivity}}</span>
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
