<div id="user-login-page" layout="column" flex>
  <img ng-src="{{$ctrl.bannerURL}}" style="width: 100%;">

  <div flex layout="row" layout-align="center start" ng-show="!$ctrl.recovery" style="background-color: #FFFFFF">
    <md-card class="card" layout-padding flex-gt-xs="50" flex="80" flex-gt-lg="30" flex-gt-md="40" >
      <form name="loginForm" class="content" flex="" layout-fill layout-align="start start" layout="row">
        <div layout="column" flex>
          <div  layout-fill layout="column" flex-offset="10">
            <div layout="row" flex>
              <span flex-gt-xs="20" flex-sm="10"></span>
              <md-input-container flex flex-gt-xs="60" style="margin: 0 !important;">
                <label>Email</label>
                <input required name="userEmail" ng-model="user.email">
                <div ng-messages="loginForm.userEmail.$error">
                  <div ng-message="required">Obrigatório</div>
                </div>
              </md-input-container>
              <span flex-gt-xs="20" flex-sm="10"></span>
            </div>
            <div layout="row" flex>
              <span flex-gt-xs="20" flex-sm="10"></span>

              <md-input-container flex flex-gt-xs="60" style="margin: 0 !important;">
                <label>Senha</label>
                <input required name="userPassword" ng-model="user.password" type="password" />
                <div ng-messages="loginForm.userPassword.$error">
                  <div ng-message="required">Obrigatório</div>
                </div>
              </md-input-container>
              <span flex-gt-xs="20" flex-sm="10"></span>
            </div>
          </div>
          <span show-gt-sm="30" hide style="margin-top:30px"></span>
          <div flex="40" layout-fill layout="column"  layout-margin=""  layout-gt-sm="row">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="$ctrl.authenticate(user)">Entrar</md-button>
            <md-button type="button" class="md-raised md-accent" ng-click="$ctrl.goToSignupPage()">Cadastrar-se</md-button>
            <span flex></span>
            <md-button target="_blank" class="md-accent" ng-click="$ctrl.goToRecovery()">Esqueci minha senha</md-button>
          </div>
        </div>
      </form>
    </md-card>
  </div>
  <!-- user access recovery -->
  <div flex layout="row" layout-align="center start" ng-show="$ctrl.recovery" style="background-color: #FFFFFF">
    <md-card class="card" layout-padding flex="80" flex-gt-xs="45">
      <form name="accessRecoveryForm" class="content" layout="row">
        <div  layout-fill layout="column" flex-offset="10">
          <md-input-container layout-margin flex>,
            <label>Email</label>
            <input required name="userEmail" ng-model="user.email" ng-change="$ctrl.resetValidation()">
            <div ng-messages="accessRecoveryForm.userEmail.$error">
              <div ng-message="required">Obrigatório</div>
              <div ng-message="invalid">Este e-mail não está cadastrado</div>
            </div>
          </md-input-container>
          <div flex="40" layout-fill flex layout-fill layout="column"  layout-margin=""  layout-gt-sm="row">
            <md-button type="button" class="md-raised md-no-focus" ng-click="$ctrl.goBack()">Voltar</md-button>,
            <md-button type="submit" class="md-raised md-accent" ng-disabled="accessRecoveryForm.$invalid" ng-click="$ctrl.sendRecovery(user)">Solicitar troca de senha</md-button>
          </div>
        </div>
        <div flex></div>
      </form>
    </md-card>
  </div>
</div>
