<style>
  .signal-card > md-card-header {
    max-height: 65px !important;
  }

  .grid-color-legend {
    width: 20px !important;
    height: 20px !important;
  }
</style>

<otus-panel header-label="'Painel de Exames'" align="'center center'" flex>
  <div layout="column" layout-margin flex ng-if="$ctrl.showExamSignal && $ctrl.examList.length">
    <span class="md-body-2">Situação:</span>
    <div layout="row" layout-wrap="" layout-align="start start" flex>
      <div layout="row" ng-repeat="legend in $ctrl.legends" layout-align="start start">
        <div>
          <md-grid-list class="md-whiteframe-3dp grid-color-legend" md-cols-gt-sm="20" md-cols="1"
                        md-row-height-gt-md="2:2"
                        md-row-height="2:2">
            <md-grid-tile ng-style="{'background': legend.color}" md-colspan-gt-sm="20" md-cols="10"
                          md-rowspan-gt-sm="20">
            </md-grid-tile>
          </md-grid-list>
        </div>
        <div>
          <span class="md-body-1" layout-margin>{{::legend.label}}</span>
        </div>
      </div>
    </div>
    <div layout="row" layout-wrap layout-align="center center" flex>
      <md-card class="md-whiteframe-3dp" ng-style="{backgroundColor:$ctrl.COLOR[exam.status]}"
               ng-repeat="exam in $ctrl.examList" flex="30" flex-xs="90" flex-sm="40">
        <md-card-title flex>
          <md-card-title-text flex="90">
            <div layout="row" flex>
              <div layout="column" flex>
                <span class="md-body-2 truncate">{{::exam.name}}</span>
                <span class="md-body-1">Quantidade: {{::exam.quantity}}</span>
              </div>
              <span flex="10"></span>
              <div layout="column" flex="5">
                <md-button ng-click="$ctrl.showObservation($event,  $index, exam)" class="md-icon-button"
                           aria-label="Observações">
                  <md-icon>info</md-icon>
                  <md-tooltip md-direction="bottom">Observações</md-tooltip>
                </md-button>
              </div>
            </div>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </div>

  <div layout="column" layout-margin ng-if="$ctrl.showExamSignal && !$ctrl.examList.length" flex>
    <span class="md-body-1">Não existem exames disponíveis para o participante</span>
  </div>

  <div layout-align="center center" style="width: 300px" layout="row" ng-if="$ctrl.loading">
    <md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular>
    <span class="md-caption">&nbsp;&nbszCarregando Exames</span>
  </div>

  <div layout-align="center center" layout="row" ng-if="$ctrl.error">
    <span class="md-caption">{{$ctrl.LOAD_ERROR_MESSAGE}}</span>
  </div>
</otus-panel>