<md-content>
  <div layout="row" layout-align="end center" layout-margin="" ng-if="$ctrl.permission && $ctrl.userAccessToParticipant.participantCreateAccess">
    <md-button class="md-button md-icon-button md-primary md-raised" ng-click="$ctrl.addParticipant()">
      <md-icon md-svg-icon="plus"></md-icon>
      <md-tooltip md-direction="down">Adicionar Participante</md-tooltip>
    </md-button>
  </div>
  <md-divider ng-if="$ctrl.permission && $ctrl.userAccessToParticipant.participantCreateAccess"></md-divider>
  <md-content class="dynamic-table-container-md-content" layout="column" flex>
    <div class="dynamic-table-container" flex>
      <dynamic-data-table flex dynamic-table-settings="$ctrl.dynamicTableSettings"
                          table-update-function="$ctrl.MaterialTransportationService.dynamicDataTableFunction.updateDataTable">
      </dynamic-data-table>
    </div>
  </md-content>
</md-content>