<md-content layout="column" flex>
      <div layout-align="start center" flex>
        <md-card layout="row" flex="80" flex-offset="10">
          <div layout="column" flex>
            <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
              Informações do Lote
            </md-subheader>
            <div flex>
              <div flex layout-padding>
                <div ng-if="$ctrl.action=='create'" flex>
                  <div layout="row" layout-xs="column" flex>
                    <div layout="column" layout-align="center start" flex="20" flex-md="15" flex-gt-md="10">
                      <span>Envio:</span>
                    </div>
                    <md-input-container class="remove-errors-spacer input-container-lot-margin">
                      <md-datepicker ng-model="$ctrl.lot.shipmentDate" ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})" aria-label="Data de Envio"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="remove-errors-spacer input-container-lot-margin">
                      <md-icon class="material-icons">access_time</md-icon>
                      <input type="time" ng-model="$ctrl.lot.shipmentDate" ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})" aria-label="Tempo" min="0" max="4999">
                    </md-input-container>
                  </div>
                </div>
                <div>
                  <div layout="row" layout-xs="column" flex>
                    <div layout="column" layout-align="center start" flex="20" flex-md="15" flex-gt-md="10" >
                      <span>Processamento:</span>
                    </div>
                    <md-input-container class="remove-errors-spacer input-container-lot-margin">
                      <md-datepicker ng-model="$ctrl.lot.processingDate" ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})" aria-label="Data de processamento"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="remove-errors-spacer input-container-lot-margin">
                      <md-icon class="material-icons">access_time</md-icon>
                      <input type="time" ng-model="$ctrl.lot.processingDate" ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})" aria-label="Tempo" min="0" max="4999">
                    </md-input-container>
                  </div>
                  <div ng-if="$ctrl.action=='alter'" layout="row" layout-xs="column" layout-align="start center">
                    <span class="md-body-1"> Criado em {{($ctrl.lot.shipmentDate | date:'dd/MM/yyyy') + " às " + ($ctrl.lot.shipmentDate | date: "HH:mm")}}</span>
                    <span class="md-body-1" layout-margin layout-padding>{{$ctrl.lot.operator}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card>
        <div flex layout="row" layout-align="center center">
          <md-card flex="80">
            <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
              Alíquotas
            </md-subheader>
            <md-nav-bar
              md-selected-nav-item="$ctrl.currentNavItem"
              nav-bar-aria-label="Navegação de tipo de inserção de alíquota">
              <md-nav-item md-nav-click="$ctrl.changeNavItem('insertionByPeriod')" name="insertionByPeriod">
                Inserção por Período
              </md-nav-item>
              <md-nav-item md-nav-click="$ctrl.changeNavItem('individualInsertion')" name="individualInsertion">
                Inserção Individual
              </md-nav-item><div layout="row" >
            </div>
            </md-nav-bar>

            <div ng-if="$ctrl.currentNavItem == 'insertionByPeriod'" layout="row" layout-align="start center" layout-padding>
              <div layout="row" layout-xs="column" layout-align="center center">
                <span>Período Inicial:</span>

                <md-input-container class="remove-errors-spacer input-container-lot-margin">
                  <md-datepicker ng-model="$ctrl.initialDate" aria-label="Período Inicial" ng-keydown="$ctrl.periodInputkeydown($event)"></md-datepicker>
                </md-input-container>
              </div>

              <div layout="row" layout-xs="column" layout-align="center center">
                <span>Período Final:</span>

                <md-input-container class="remove-errors-spacer input-container-lot-margin">
                  <md-datepicker ng-model="$ctrl.finalDate" aria-label="Período Final" ng-keydown="$ctrl.periodInputkeydown($event)"></md-datepicker>
                </md-input-container>
              </div>

              <div>
                <md-button ng-click="$ctrl.insertAliquotsByPeriod()" class="md-raised md-primary" aria-label="Adicionar Alíquotas por Período">
                  <md-tooltip md-direction="down">Adicionar</md-tooltip>
                  <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
                </md-button>
              </div>
            </div>
            <div ng-if="$ctrl.currentNavItem == 'individualInsertion'" layout="row" layout-align="center center" layout-padding>
              <span class="">Código:</span>
              <input type="text" class="aliquot-lot-input" flex placeholder="Alíquota" name="fast-trigger" value="Inserção rápida" ng-model="$ctrl.aliquotCode" ng-keydown="$ctrl.aliquotInputkeydown($event)"/>
              <div>
                <md-button ng-click="$ctrl.fastInsertion($ctrl.aliquotCode)" class="md-raised md-primary" aria-label="Adicionar Alíquota">
                  <md-tooltip md-direction="down">Adicionar</md-tooltip>
                  <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
                </md-button>
              </div>
            </div>

            <div layout="row" layout-margin>
              <div layout="column" flex-gt-sm="40" flex-gt-md="25" flex="40">
                <otus-sample-transportation-lot-aliquots-chart lot-data-set="$ctrl.lotDataSet"></otus-sample-transportation-lot-aliquots-chart>
              </div>
              <div layout="column" style="height: 200px;" flex>
                <md-content class="no-background-color">
                  <otus-sample-transportation-lot-chart-subtitle-table lot-data-set="$ctrl.lotDataSet" flex></otus-sample-transportation-lot-chart-subtitle-table>
                </md-content>
              </div>
            </div>

            <md-divider></md-divider>

            <dynamic-data-table flex
              dynamic-table-settings="$ctrl.dynamicTableSettings"
              table-update-function="$ctrl.AliquotTransportationService.dynamicDataTableFunction.updateDataTable"
            >
            </dynamic-data-table>
          </div>
        </div>
      </div>
</md-content>


