<md-card class="card-button">
  <md-menu>
    <md-button style="margin: 0; padding: 8px;" layout="column" layout-align="center center" class="md-accent" ng-click="$mdMenu.open()">
      <md-icon class="icon-display-size">vpn_key</md-icon>
      <span class="md-caption display-color-gray">senha</span>
      <md-tooltip md-direction="bottom">Recuperação de senha</md-tooltip>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="$ctrl.resetPassword()">
          <md-icon>email</md-icon>
          Enviar email
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="$ctrl.copyLinkToClipboard()">
          <md-icon>content_copy</md-icon>
          Copiar link
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-card>
