<md-menu>
  <md-button class="md-accent" ng-click="$mdMenu.open()">
    <md-icon>vpn_key</md-icon>
    <md-tooltip md-direction="bottom">Recuperação de senha</md-tooltip>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item>
      <md-button ng-click="$ctrl.resetPassword()">
        <md-icon>email</md-icon>
        Enviar email
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="$ctrl.copyLinkToClipboard()">
        <md-icon>content_copy</md-icon>
        Copiar link
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
