<md-dialog aria-label="Observações">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Observações</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
          <md-tooltip md-direction="bottom">Fechar</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <!-- more observation -->
    <div ng-if="description">
      <md-dialog-content>
        <div class="md-dialog-content">
          <div layout="row" layout-align="center end">
            <md-icon class="md-warn" layout-margin>warning</md-icon>
            <p layout-margin>{{description}}</p>
          </div>
          <br>
          <div ng-repeat="info in information">
            <p> <b>Status:</b> {{info.status}}, <b>Data:</b> {{info.date}};</p>
          </div>
        </div>
      </md-dialog-content>
      <md-divider></md-divider>
    </div>
    <!-- default observation -->
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-checkbox ng-change="change()" ng-model="doesNotApply" name="doesNotApply" class="md-block">
          O formulário não será aplicado ao participante
        </md-checkbox>
        <md-input-container ng-show="doesNotApply" class="md-block">
          <label>Observações</label>
          <textarea ng-change="change()" ng-model="observation" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="cancelar" ng-click="cancel()">
        Cancelar
      </md-button>
      <md-button ng-disabled="disable" class="md-raised md-primary" aria-label="atualizar" ng-click="update()">
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>