<link rel="stylesheet" href="app/static-resource/stylesheet/override-datetime-picker.css">
<div flex>
  <div layout="row" flex>
    <div layout="column" flex>
      <md-subheader class="md-no-sticky moment-type-title">
        Filtros de Pesquisa
      </md-subheader>
      <div layout="column" layout-gt-md="row" layout-align="center">
          <md-card flex>
            <md-card-content>
              <span class="md-subheader">Atividades:</span>
              <div flex  layout-align="center center" layout="row" layout-xs="column">
              <span flex="15"></span>
              <md-input-container class="remove-errors-spacer md-input-has-placeholder">
                <label class="md-subhead">Período Inicial:</label>
                <input mdc-datetime-picker="" ng-change="$ctrl.onFilter()" show-icon="true"
                date="true" time="false" aria-label="Período Inicial" type="text" id="datetime"
                show-todays-date="" ng-model="$ctrl.startDateInfo" class="md-input"
                  readonly="readonly" format="MM/YYYY" disable-parent-scroll="true">
              </md-input-container>
              <md-input-container class="remove-errors-spacer md-input-has-placeholder">
                <label class="md-subhead">Período Final:</label>
                <input mdc-datetime-picker="" ng-change="$ctrl.onFilter()" show-icon="true"
                date="true" time="false" aria-label="Período Final" type="text" id="datetime"
                show-todays-date="" ng-model="$ctrl.endDateInfo" class="md-input" readonly="readonly"
                  format="MM/YYYY" disable-parent-scroll="true">
              </md-input-container>
              <span flex-gt-md="5"></span>
              <span flex-sm="10"></span>
              <md-input-container class="remove-errors-spacer md-block" flex="20" ng-if="!$ctrl.userHaveCenter">
                <label class="md-subhead">Sigla:</label>
                <md-select ng-model="$ctrl.questionnaireInfo" ng-change="$ctrl.onChangeAcronym()" ng-disabled="">
                  <md-tooltip>
                    Sigla da atividade a ser visualizada
                  </md-tooltip>
                  <md-option ng-repeat="questionnaire in $ctrl.questionnairesList track by $index" ng-selected="{{$index == 0 ? true : false}}" value="{{questionnaire}}" ng-click="">
                    {{questionnaire}}
                  </md-option>
                </md-select>
              </md-input-container>
              <span flex-gt-md="15"></span>
              <span flex="5"></span>
            </div>
            </md-card-content>
          </md-card>
        <div flex layout-align="center center" layout="row">
          <md-card flex>
            <md-card-content>
              <span class="md-subheader">Centros:</span>
              <div layout="row" layout-wrap flex>
                <md-input-container ng-repeat="center in $ctrl.centers" class="remove-errors-spacer" ng-if="!$ctrl.userHaveCenter">
                  <md-checkbox ng-change="$ctrl.onFilter()" ng-model="$ctrl.selectedFieldCenters[center.acronym]">
                    {{center.acronym}}
                  </md-checkbox>
                </md-input-container>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>
<md-divider></md-divider>
