<md-toolbar layout="column" class="md-hue-2">
  <div class="md-toolbar-tools">
    <span>Pendências</span>
  </div>
</md-toolbar>

<md-content class="scrollbar scrollbar-default" flex>
  <md-button ng-click="$ctrl.loadActivity()"" ng-disabled="!$ctrl.participantManagerReady">selectActivity</md-button>
  <md-button ng-click="$ctrl.loadActivityPlayer()"" ng-disabled="!$ctrl.participantManagerReady">selectActivityPlayer</md-button>

  <md-divider></md-divider>
  <md-list >
    <md-list-item class="md-3-line" ng-repeat="item in $ctrl.openedUserActivityPendencies" ng-click="null">
      <div layout="column">
        <div class="md-list-item-text" layout="row">
          <span class="md-caption" ng-style="{color:'#797985'}"><small class="md-body-2" ng-style="{color:'black'}">{{ item.activityInfo.acronym }} - {{ item.activityInfo.name }}</small></span>
          <div>
            <md-icon ng-style="{color: '#00897b'}" md-font-library="material-icons" layout-align="end end">{{item.activityInfo.lastStatus.icon}}</md-icon>
            <md-tooltip md-direction="top">
              {{item.activityInfo.lastStatus.tooltip}}
            </md-tooltip>
          </div>
        </div>
        <div class="md-list-item-text" layout="column">
          <span class="md-caption" ng-style="{color:'#797985'}">Nº recrutamento:
            <small class="md-body-2"  ng-style="{color:'black'}">{{ item.activityInfo.recruitmentNumber }}</small>
          </span>
          <span class="md-caption" ng-style="{color:'#797985'}">Pendente desde:
            <small class="md-body-2" ng-style="{color:'black'}">{{ item.creationDate }} ({{ item.timePending }})</small>
          </span>
        </div>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>

  <md-divider></md-divider>
</md-content>

