<md-content layout-gt-md="row" layout-wrap layout="column" flex>
    <md-card flex layout-align-gt-md="start start" layout-align="center center">
      <md-card-content style="display:inline-block;">
        <div flex layout="row">
          <canvas style="font-size:60px;height:70px;width:90px;vertical-align: middle;" id="goalPercentageChart"></canvas>
          <div layout="column" style="padding-top:20px;">
            <div ng-model="$ctrl.goalPercentage" class="indicator-legend">{{$ctrl.goalPercentage}}%</div>
            <label class="md-subhead" layout-margin>de média de atividades finalizadas</label>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <div flex layout="row">
          <md-icon class="icon-size-larger" flex="1">event_available</md-icon>
          <div layout="column" style="padding-top:20px;" flex="80">
            <div ng-model="$ctrl.reachedTotal" class="indicator-legend">{{$ctrl.reachedTotal}}</div>
            <label class="md-subhead" layout-margin>atividades finalizadas</label>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <div flex layout="row">
          <md-icon class="icon-size-larger" flex="1">event_note</md-icon>
          <div layout="column" style="padding-top:20px;" flex="80">

            <div ng-model="$ctrl.goal" class="indicator-legend">{{$ctrl.goal}}</div>
            <label class="md-subhead" layout-margin>participantes a serem contemplados</label>
          </div>
        </div>
      </md-card-content>
    </md-card>
</md-content>
