<md-toolbar style="z-index: 1" class="md-primary md-hue-1">
  <div class="md-toolbar-tools">

    <span flex></span>
    <span class="md-body-5">Revisão de Atividade </span>
    <span flex></span>

    <md-button ng-click="vm.cancel()" class="md-icon-button" aria-label="Cancelar">
      <md-tooltip md-direction="down">Cancelar</md-tooltip>
      <md-icon aria-label="Cancelar">close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="row" flex layout-align="center center">
  <div layout-margin layout="column">
    <div layout="column" class="label-light-gray">
      <span class="md-body-3">
        <p class="md-body-3">Confirme as informações, selecione data e hora, e salve para criar o registro</p>
      </span>
    </div>
    <div flex class="label-light-gray" layout="column">
      <md-whiteframe class="md-whiteframe-3dp" layout="" layout-align="left center" layout-padding="50">
        <span>
          <p class="md-body-2">Atividade: <span class="md-body-1" style="color: #000000 !important;">{{vm.activity.getName()}}</span></p>
          <p class="md-body-2"> Revisor: <span class="md-body-1" style="color: #000000 !important;">{{vm.user.name}} {{vm.user.surname}}</span></p>
          <p class="md-body-2"> Email: <span class="md-body-1" style="color: #000000 !important;">{{vm.user.email}}</span></p>
        </span>
      </md-whiteframe>
      <br>
      <p class="md-body-2"> Data da Revisão:
        <md-datepicker style="width:300px !important;" ng-model="vm.revisionDate" aria-label="Data da Revisão" md-max-date="vm.now" md-placeholder="Insira uma data" md-open-on-focus></md-datepicker>
      </p>

      <md-dialog-actions layout="row">
        <md-button ng-click="vm.addActivityRevision()" class="md-primary md-raised" aria-label="Salvar"
                   ng-disabled="!vm.revisionDate">SALVAR</md-button>
        <md-button ng-click="vm.cancel()" class="md-raised" aria-label="Cancelar">CANCELAR</md-button>
      </md-dialog-actions>
    </div>
  </div>
</div>