/*start style for generic-viewer-component*/
@media screen and (min-width: 360px) {
  .pv-layout {
    background: #0d3349;
    display: grid;
    height: 100vh;
    /*width: 100vw;*/
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr 1fr .05fr;
    grid-template-areas: "toolbar" "control" "list" "paginator"
  }
}

@media screen and (min-width: 768px) {
  .pv-layout {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .03fr .1fr 1fr .05fr;
    grid-template-areas:
      "toolbar toolbar   toolbar   toolbar"
      "control control   control   control"
      "list    list      list      list"
      ".       .         .         paginator"
  }
}

@media screen and (min-width: 1280px) {
  .pv-layout {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-columns: repeat(4, 1fr) .7fr;
    grid-template-rows: .03fr .1fr 1fr .05fr;
    grid-template-areas:
      "toolbar toolbar toolbar toolbar     toolbar"
      "control control control control     control"
      "list    list    list      list      list"
      ".       .       .         .         paginator"
  }
}

.generic-viewer otus-dashboard-toolbar {
  grid-area: toolbar
}

.generic-viewer otus-generic-list-control {
  grid-area: control
}

.generic-viewer otus-generic-list {
  grid-area: list
}

.generic-viewer otus-generic-list-paginator {
  grid-area: paginator
}

/*end style for generic-viewer-component*/


/*start style for generic-list-control*/
@media screen and (min-width: 768px) {
  .plc-layout {
    width: 98vw;
    display: grid;
    grid-template-columns: 1fr .2fr;
    grid-template-rows: .1fr .2fr .1fr;
    grid-template-areas:
      "title  ordination"
      "filter filter"
      "submit submit "
  }
}

@media screen and (min-width: 1280px) {
  .plc-layout {
    /*width: 98vw;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr) .2fr;
    grid-template-rows: .1fr .2fr .1fr;
    grid-template-areas:
      "title  .      ordination"
      "filter filter filter"
      "submit submit submit"
  }
}

.title {
  grid-area: title
}

.ordination {
  grid-area: ordination;
}

.filter {
  grid-area: filter
}

.submit {
  grid-area: submit;
}

.generic-list-control md-input-container {
  padding: 0px;
  margin: 0px;
}

.generic-list-control otus-participant-search {
  background-color: #ffffff;
}

.generic-list-control md-chips.md-default-theme .md-chips {
  box-shadow: none;
}

/*end style for generic-list-control*/
