<style>

  @media screen and (min-width: 360px){
    .plf-layout {
      display: grid;
      /*width: 90vw;*/
      grid-template-columns:  1fr;
      grid-template-rows: .01fr .1fr 1fr .1fr .1fr .1fr .1fr .1fr;
      grid-template-areas:
        "toolbar"
        "status"
        "sortingCriteria"
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
    }

  }



  @media screen and (min-width: 768px){
    .plf-layout {
      display: grid;
      /*width: 90vw;*/
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: .01fr .1fr 1fr .5fr .5fr .5fr;
      grid-template-areas:
      "toolbar         toolbar"
      "status          status"
      "sortingCriteria sortingCriteria"
      "item            item"
      "item            item"
      "item            item"
    }
  }

   @media screen and (min-width: 1280px){
     .plf-layout {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: .01fr .1fr .5fr .5fr;
       grid-template-areas:
       "toolbar         toolbar         toolbar"
       "status          sortingCriteria sortingCriteria"
       "item            item            item"
       "item            item            item"
     }
   }


  .padding-layout-fill {
    padding: 0 10px 0 10px;
  }

  .item-filter {
    grid-area: item;
  }

  md-toolbar-filler {
    grid-area: toolbar;
    background: #00907e;
    color: #ffffff;
  }

  .status {
    grid-area: status;
  }

  .sorting-criteria {
    grid-area: sortingCriteria;
  }

  #participantSearchAutoCompleteId {
    background-color: #ffffff;
  }

  .pendency-list-filters .md-button.md-default-theme.md-raised:not([disabled]) md-icon, .md-button.md-raised:not([disabled]) md-icon {
    color: rgb(119,119,119);
   }

  .pendency-list-filters  md-input-container.md-default-theme {
    color: black;
    opacity: 0.54;
  }

  .pendency-list-filters .md-autocomplete-participant {
    background-color: #ffffff !important;
  }

  .icon-cursor {
    cursor: pointer;
  }

  icon-move {
    cursor: move;
  }

</style>

<md-card class="plf-layout pendency-list-filters" layout-margin>
  <md-toolbar-filler layout="row" layout-align="space-between center" layout-margin>
    <span>{{$ctrl.PENDENCY_VIEWER_TITLES.FILTERS}}</span>
    <md-button aria-label={{$ctrl.PENDENCY_VIEWER_TITLES.RESET_FILTERS}} class="md-fab md-mini"
               ng-click="$ctrl.clearAll($ctrl.searchSettings)">
      <md-icon>autorenew
        <md-tooltip md-direction="left">{{$ctrl.PENDENCY_VIEWER_TITLES.RESET_FILTERS}}</md-tooltip>
      </md-icon>
    </md-button>
  </md-toolbar-filler>

  <div class='sorting-criteria'>
    <span ng-if="!$ctrl.inputViewState['sortingCriteria']">
      <md-button layout-fill class="md-raised padding-layout-fill"
                 aria-label={{$ctrl.PENDENCY_VIEWER_TITLES.SORTING_CRITERIA}}
                 ng-click="$ctrl.chanceStateCriteria()">
        <md-icon>swap_calls
          <md-tooltip md-direction="right">{{$ctrl.PENDENCY_VIEWER_TITLES.SORTING_CRITERIA}}</md-tooltip>
        </md-icon>
      </md-button>
    </span>

    <span ng-if="$ctrl.inputViewState['sortingCriteria']" layout="row"
          layout-align="center center">
      <md-icon ng-click="$ctrl.resetCriteriaOrderCustomization()" class="icon-cursor">refresh
      <md-tooltip md-direction="top">{{$ctrl.PENDENCY_VIEWER_TITLES.REORDERING_ITEMS}}</md-tooltip>
      </md-icon>

      <div dragula='new-order-list'
           dragula-model='$ctrl.searchSettings.order.fields'
           layout="row" layout-xs="column">
        <md-chips ng-repeat='criteria in $ctrl.searchSettings.order.fields'>
          <md-chip>{{$ctrl.pendencyAttributes[criteria].translatedTitle}}</md-chip>
        </md-chips>
      </div>
      <md-icon ng-click="$ctrl.chanceStateCriteria()" class="icon-cursor">
      {{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}
      <md-tooltip md-direction="top">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-tooltip>
      </md-icon>
    </span>
  </div>


  <md-radio-group class="status" ng-model="$ctrl.searchSettings.filter.status" layout="row"
                  layout-align="space-around center" ng-change="$ctrl.changePaginationViewState()">
    <md-radio-button value="ALL" class="md-primary">{{$ctrl.PENDENCY_VIEWER_TITLES.ALL_STATE}}</md-radio-button>
    <md-radio-button value="FINALIZED" class="md-primary">{{$ctrl.PENDENCY_VIEWER_TITLES.ALL_STATE_STATE}}</md-radio-button>
    <md-radio-button value="NOT_FINALIZED" class="md-primary">{{$ctrl.PENDENCY_VIEWER_TITLES.OPENED_STATE}}</md-radio-button>
  </md-radio-group>

  <div ng-repeat="item in $ctrl.pendencyAttributes" layout-align="start center">
    <div class="item-filter" ng-if="item.title !== 'creationDate' && item.title !== 'remainingDays'">
      <span ng-if="!$ctrl.inputViewState[item.title]">
        <md-button layout-fill class="md-raised padding-layout-fill"
                   aria-label={{item.translatedTitle}}
                   ng-click="$ctrl.chanceInputViewState(item)">
          <md-icon>{{item.icon}}
            <md-tooltip md-direction="right">{{item.translatedTitle}}</md-tooltip>
          </md-icon>
        </md-button>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && item.title === 'rn'" layout="row">
        <md-icon>{{item.icon}}
          <md-tooltip md-direction="bottom">{{item.translatedTitle}}</md-tooltip>
        </md-icon>
        <otus-participant-search layout-fill class="padding-layout-fill"
                                 on-select="$ctrl.selectParticipant(participant)"
                                 pendency-filter-item="item"
                                 search-settings="$ctrl.searchSettings"
                                 show-participants-button="false"
                                 change-watcher="$ctrl.changePaginationViewState()"
                                 on-ready="true">
        </otus-participant-search>
        <md-icon ng-click="$ctrl.clear(item)" class="icon-cursor">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-icon>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && item.title === 'requester'" layout="row">
        <md-icon>{{item.icon}}
          <md-tooltip md-direction="bottom">{{item.translatedTitle}}</md-tooltip>
        </md-icon>
        <otus-checker-search layout-fill class="padding-layout-fill" pendency-filter-item="item"
                             search-settings="$ctrl.searchSettings"
                             change-watcher="$ctrl.changePaginationViewState()"
                             placeholder-title="{{item.translatedTitle}}">
        </otus-checker-search>
        <md-icon ng-click="$ctrl.clear(item)" class="icon-cursor">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-icon>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && item.title === 'receiver'" layout="row">
        <md-icon>{{item.icon}}
          <md-tooltip md-direction="bottom">{{item.translatedTitle}}</md-tooltip>
        </md-icon>
        <otus-checker-search layout-fill class="padding-layout-fill" pendency-filter-item="item"
                             search-settings="$ctrl.searchSettings"
                             change-watcher="$ctrl.changePaginationViewState()"
                             placeholder-title="{{item.translatedTitle}}">
        </otus-checker-search>
        <md-icon ng-click="$ctrl.clear(item)" class="icon-cursor">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-icon>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'acronym')" layout="row">
        <md-input-container layout-fill class="padding-layout-fill">
          <md-icon>{{item.icon}}
            <md-tooltip md-direction="bottom">{{item.translatedTitle}}</md-tooltip>
          </md-icon>
          <input ng-model="$ctrl.searchSettings.filter[item.title]"
                 ng-change="$ctrl.changePaginationViewState(); $ctrl.searchSettings.filter[item.title] = $ctrl.searchSettings.filter[item.title].toUpperCase()"
                 aria-label={{item.translatedTitle}} required>
          <md-icon ng-click="$ctrl.clear(item)" class="icon-cursor">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-icon>
        </md-input-container>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'externalID')" layout="row">
        <md-input-container layout-fill class="padding-layout-fill">
          <md-icon>{{item.icon}}
          <md-tooltip md-direction="bottom">{{item.translatedTitle}}</md-tooltip>
        </md-icon>
          <input ng-model="$ctrl.searchSettings.filter[item.title]"
                 ng-change="$ctrl.changePaginationViewState()"
                 aria-label={{item.translatedTitle}} required>
          <md-icon ng-click="$ctrl.clear(item)" class="icon-cursor">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-icon>
        </md-input-container>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'dueDate')" layout="row" layout-align="space-between center">
        <md-icon>{{item.icon}}
          <md-tooltip md-direction="bottom">{{item.translatedTitle}}</md-tooltip>
        </md-icon>
        <md-datepicker ng-model="$ctrl.searchSettings.filter[item.title]"
                       ng-change="$ctrl.changePaginationViewState()"
                       md-placeholder={{$ctrl.PENDENCY_VIEWER_TITLES.STANDARD_DATE_FORMAT}}
                       md-hide-icons="calendar"
                       aria-label={{item.translatedTitle}}>
        </md-datepicker>
        <md-icon ng-click="$ctrl.clear(item)" class="icon-cursor">{{$ctrl.PENDENCY_VIEWER_TITLES.CANCEL_BUTTON}}</md-icon>
      </span>

    </div>
  </div>
</md-card>
