<md-card class="pendency-list-filters" layout-margin>
  <otus-list-filter-toolbar class="filter-toolbar" clear-all="$ctrl.clearAll"></otus-list-filter-toolbar>

  <div class='sorting-criteria'>
    <otus-list-sorting-criteria search-settings="$ctrl.searchSettings"
                                item-attributes="$ctrl.itemAttributes"
                                input-view-state="$ctrl.inputViewState"
                                get-default-order-fields="$ctrl.getDefaultOrderFields">
    </otus-list-sorting-criteria>
  </div>


  <md-radio-group class="status" ng-model="$ctrl.searchSettings.filter.status" layout="row"
                  layout-align="space-around center" ng-change="$ctrl.changePaginationViewState()">
    <md-radio-button ng-repeat="(status,label) in $ctrl.LABELS.FILTER_STATUS" ng-value="status">
      {{label}}
    </md-radio-button>
  </md-radio-group>


  <div ng-repeat="item in $ctrl.itemAttributes" layout-align="start center">
    <div class="item-filter" ng-if="item.title !== 'creationDate' && item.title !== 'remainingDays'">
      <span ng-if="!$ctrl.inputViewState[item.title]">
        <otus-button-over-filter filter-item="item"
                                 change-input-view-state="$ctrl.changeInputViewState">
        </otus-button-over-filter>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && item.title === 'rn'">
        <otus-participant-filter filter-item="item"
                                 search-settings="$ctrl.searchSettings"
                                 clear="$ctrl.clear"
                                 change-pagination-view-state="$ctrl.changePaginationViewState">
        </otus-participant-filter>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'requester' || item.title === 'receiver')">
        <otus-user-filter filter-item="item"
                          search-settings="$ctrl.searchSettings"
                          clear="$ctrl.clear"
                          change-pagination-view-state="$ctrl.changePaginationViewState"
                          viewer-service-get-checker="$ctrl.viewerServiceGetChecker">
        </otus-user-filter>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'acronym')">
        <otus-input-text-filter filter-item="item"
                                search-settings="$ctrl.searchSettings"
                                clear="$ctrl.clear"
                                change-pagination-view-state="$ctrl.changePaginationViewState"
                                upper-case="true">
        </otus-input-text-filter>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'externalID')">
        <otus-input-text-filter filter-item="item"
                                search-settings="$ctrl.searchSettings"
                                clear="$ctrl.clear"
                                change-pagination-view-state="$ctrl.changePaginationViewState">
        </otus-input-text-filter>
      </span>

      <span ng-if="$ctrl.inputViewState[item.title] && (item.title === 'dueDate')">
        <otus-date-filter filter-item="item"
                          search-settings="$ctrl.searchSettings"
                          clear="$ctrl.clear"
                          change-pagination-view-state="$ctrl.changePaginationViewState">
        </otus-date-filter>
      </span>

    </div>
  </div>
</md-card>
