<md-content layout="column" layout-align="center center" flex>
  <md-toolbar class="md-tall md-primary">
  </md-toolbar>
  <br>
  <md-content layout="column" layout-align="center center" layout-padding flex>
    <md-card>
      <md-card-content flex>
        <form name="loginForm">
          <md-input-container class="md-block" flex>
            <label>Email</label>
            <input required name="userEmail" ng-model="user.email">
            <div ng-messages="loginForm.userEmail.$error">
              <div ng-message="required">Obrigatório</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Senha</label>
            <input required name="userPassword" ng-model="user.password" type="password" />
            <div ng-messages="loginForm.userPassword.$error">
              <div ng-message="required">Obrigatório</div>
            </div>
          </md-input-container>
          <a class="md-accent" href ng-click="$ctrl.recover(user)">Esqueci minha senha</a>
          <div flex class="bottom-sheet-demo inset" layout="column" layout-sm="column" layout-align="center">
            <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="$ctrl.authenticate(user)">Entrar</md-button>
            <md-button class="md-raised md-accent" ng-click="$ctrl.goToSignupPage()">Cadastrar-se</md-button>
          </div>
        </form>
      </md-card-content>
      <md-card-content flex ng-if="$ctrl.recovery">

      </md-card-content>
    </md-card>
  </md-content>
</md-content>