.info-card {
  display: grid;
  width: 80vw;
  grid-template-columns: 12fr;
  grid-template-rows: .1fr .5fr;
  grid-template-areas: "infoTitle" "infoItem"
}

.info-title {
  grid-area: infoTitle;
  margin-bottom: 10px;

}

.info-item {
  background: #f5f7f9;
  grid-area: infoItem;
  margin-bottom: 20px;
}