<link
  href="app/ux-component/participants-manager/contact/participant-login-email/participant-login-email-style.css"
  rel="stylesheet" type="text/css">
<md-card no-cloak>
  <div layout="row" layout-align="end end"></div>
  <md-card-content class="info-card">
    <div layout="row" layout-align="space-between center" class="info-title">
      <span class="md-subhead">{{$ctrl.ParticipantContactValues.keys.login.translatedTitle}}</span>
    </div>
    <div layout="row">
      <form ng-if="true" layout="row" name="$ctrl.form.name"
            class="info-item info-item-layout"
            layout-fill layout-align="space-between center">

        <md-input-container class="content-input">
          <label>{{$ctrl.ParticipantContactValues.fields.login}}</label>
          <input type="email" ng-model="$ctrl.participantLoginEmail" ng-disabled=!$ctrl.editMode required>
        </md-input-container>
        {{contactItem}}

        <md-button class="md-accent md-icon-button md-button restore-button"
                   ng-if="$ctrl.editMode"
                   ng-click="">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.clear.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.clear.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.clear.translatedTitle}}</md-tooltip>
        </md-button>

        <md-button class="md-warn md-icon-button md-button restore-button"
                   ng-if="!$ctrl.editMode"
                   ng-click="">
          <md-icon aria-label={{$ctrl.ParticipantContactValues.icons.delete.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.delete.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.delete.translatedTitle}}
          </md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click="$ctrl.enableEditMode(key)"
                   ng-if="!$ctrl.editMode">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.edit.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.edit.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.edit.translatedTitle}}</md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click=""
                   ng-if="$ctrl.editMode"
                   ng-disabled="$ctrl.form.name.$invalid">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.save.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.save.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.save.translatedTitle}}</md-tooltip>
        </md-button>
      </form>
    </div>
  </md-card-content>
</md-card>
