<link
  href="app/ux-component/participants-manager/contact/participant-update-contact/participant-update-contact-style.css"
  rel="stylesheet" type="text/css">
<md-card ng-if="$ctrl.type !== 'address'" no-cloak>
  <md-card-content class="info-card">
    <div layout="row" layout-align="space-between center" class="info-title">
      <span class="md-subhead">{{$ctrl.ParticipantContactValues.keys[$ctrl.type].translatedTitle}}</span>
      <span></span>
      <md-button class="md-accent md-icon-button md-button" ng-click="$ctrl.addContactInput()">
        <md-icon aria-label={{$ctrl.ParticipantContactValues.icons.addContact.translatedTitle}}>
          {{$ctrl.ParticipantContactValues.icons.addContact.icon}}
        </md-icon>
        <md-tooltip md-direction="left">{{$ctrl.ParticipantContactValues.icons.addContact.translatedTitle}}</md-tooltip>
      </md-button>
    </div>
    <div ng-repeat="(key, contactItem) in $ctrl.editableContact" layout="row">
      <form ng-if="contactItem != null" layout="row" name="$ctrl.form[$ctrl.type][key]"
            class="info-item info-item-layout"
            layout-fill layout-align="space-between center">

        <md-input-container class="content-input" ng-if="$ctrl.type === 'phoneNumber'">
          <label>{{$ctrl.ParticipantContactValues.fields[key]}}</label>
          <input ng-model="contactItem.value.content" ng-disabled=!$ctrl.editMode[key] required
                 ui-mask="(99) 99999999?9" placeholder="">
        </md-input-container>

        <md-input-container class="content-input" ng-if="$ctrl.type === 'email'">
          <label>{{$ctrl.ParticipantContactValues.fields[key]}}</label>
          <input type="email" ng-model="contactItem.value.content" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>


        <md-input-container class="observation-input">
          <label>{{$ctrl.ParticipantContactValues.fields.comments}}</label>
          <input ng-model="contactItem.observation" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click="$ctrl.enableEditMode(key)"
                   ng-if="!$ctrl.editMode[key]">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.edit.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.edit.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.edit.translatedTitle}}</md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click="$ctrl.updateContact(contactItem, key, $ctrl.type)"
                   ng-if="$ctrl.editMode[key] && !$ctrl.newContactMode[key]"
                   ng-disabled="$ctrl.form[$ctrl.type][key].$invalid">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.save.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.save.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.save.translatedTitle}}</md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click="$ctrl.createNewContact(contactItem, key, $ctrl.type)"
                   ng-if="$ctrl.editMode[key] && $ctrl.newContactMode[key]"
                   ng-disabled="$ctrl.form[$ctrl.type][key].$invalid">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.saveNewContact.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.saveNewContact.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.saveNewContact.translatedTitle}}
          </md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button restore-button"
                   ng-if="!$ctrl.editMode[key]"
                   ng-click="">
          <md-icon aria-label={{$ctrl.ParticipantContactValues.icons.clear.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.clear.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.clear.translatedTitle}}</md-tooltip>
        </md-button>
        <md-button class="md-accent md-icon-button md-button restore-button"
                   ng-click="$ctrl.restoreContact(key)"
                   ng-if="$ctrl.editMode[key]">
          <md-icon aria-label={{$ctrl.ParticipantContactValues.icons.return.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.return.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.return.translatedTitle}}</md-tooltip>
        </md-button>
      </form>
    </div>
  </md-card-content>
</md-card>

<!--custom template for inputs by address -->
<md-card ng-if="$ctrl.type === 'address'">
  <md-card-content class="info-card">
    <div layout="row" layout-align="space-between center" class="info-title">
      <span class="md-subhead">{{$ctrl.ParticipantContactValues.keys[$ctrl.type].translatedTitle}}</span>
      <span></span>
      <md-button class="md-accent md-icon-button md-button" ng-click="$ctrl.addContactInput()"
                 ng-disabled="ctrl.isValid">
        <md-icon aria-label="Adicionar">{{$ctrl.ParticipantContactValues.icons.addContact.icon}}</md-icon>
        <md-tooltip md-direction="left">{{$ctrl.ParticipantContactValues.icons.addContact.translatedTitle}}</md-tooltip>
      </md-button>
    </div>
    <div ng-repeat="(key, contactItem) in $ctrl.editableContact">
      <form ng-if="contactItem != null" class="address-item" name="$ctrl.form.address[key]">
        <md-input-container class="street-input">
          <label>{{$ctrl.ParticipantContactValues.fields[key]}}{{$ctrl.ParticipantContactValues.fields.address}}</label>
          <input ng-model="contactItem.value.street" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>
        <md-input-container class="number-number-input">
          <label>{{$ctrl.ParticipantContactValues.fields.streetNumber}}</label>
          <input type="number" ng-model="contactItem.value.streetNumber" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>
        {{form[key].$valid}}
        <md-button class="md-accent md-icon-button find-cep" ng-click="$ctrl.findAddressByCep(contactItem)"
                   ng-disabled=!$ctrl.editMode[key]>
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.findPostalCode.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.findPostalCode.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.findPostalCode.translatedTitle}}
          </md-tooltip>
        </md-button>
        <md-input-container class="cep-input">
          <label>{{$ctrl.ParticipantContactValues.fields.postalCode}}</label>
          <input ng-model="contactItem.value.postalCode" ng-disabled=!$ctrl.editMode[key]
                 ui-mask="99999-999" placeholder="">
        </md-input-container>
        <md-input-container class="neighbourhood-input">
          <label>{{$ctrl.ParticipantContactValues.fields.neighbourhood}}</label>
          <input ng-model="contactItem.value.neighbourhood" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>
        <md-input-container class="city-input">
          <label>{{$ctrl.ParticipantContactValues.fields.city}}</label>
          <input ng-model="contactItem.value.city" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>
        <md-input-container class="complements-input">
          <label>{{$ctrl.ParticipantContactValues.fields.complements}}</label>
          <input ng-model="contactItem.value.complements" ng-disabled=!$ctrl.editMode[key]>
        </md-input-container>
        <md-input-container class="observation-input">
          <label>{{$ctrl.ParticipantContactValues.fields.observation}}</label>
          <input ng-model="contactItem.observation" ng-disabled=!$ctrl.editMode[key]>
        </md-input-container>
        <md-input-container class="state-input">
          <label>{{$ctrl.ParticipantContactValues.fields.state}}</label>
          <input ng-model="contactItem.value.state" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>
        <md-input-container class="country-input">
          <label>{{$ctrl.ParticipantContactValues.fields.country}}</label>
          <input ng-model="contactItem.value.country" ng-disabled=!$ctrl.editMode[key] required>
        </md-input-container>

        <md-button class="md-accent md-icon-button md-button edit-button" ng-click="$ctrl.enableEditMode(key)"
                   ng-disabled="$ctrl.isValid" ng-if="!$ctrl.editMode[key]">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.edit.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.edit.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.edit.translatedTitle}}</md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click="$ctrl.updateContact(contactItem, key, $ctrl.type)"
                   ng-if="$ctrl.editMode[key] && !$ctrl.newContactMode[key]"
                   ng-disabled="$ctrl.form[$ctrl.type][key].$invalid">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.save.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.save.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.save.translatedTitle}}</md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button edit-button"
                   ng-click="$ctrl.createNewContact(contactItem, key, $ctrl.type)"
                   ng-if="$ctrl.editMode[key] && $ctrl.newContactMode[key]"
                   ng-disabled="$ctrl.form[$ctrl.type][key].$invalid">
          <md-icon aria-label="{{$ctrl.ParticipantContactValues.icons.saveNewContact.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.saveNewContact.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.saveNewContact.translatedTitle}}
          </md-tooltip>
        </md-button>

        <md-button class="md-accent md-icon-button md-button restore-button"
                   ng-click=""
                   ng-if="!$ctrl.editMode[key]">
          <md-icon aria-label={{$ctrl.ParticipantContactValues.icons.clear.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.clear.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.clear.translatedTitle}}</md-tooltip>
        </md-button>
        <md-button class="md-accent md-icon-button md-button restore-button"
                   ng-click="$ctrl.restoreContact(key)"
                   ng-if="$ctrl.editMode[key]">
          <md-icon aria-label={{$ctrl.ParticipantContactValues.icons.return.translatedTitle}}">
            {{$ctrl.ParticipantContactValues.icons.return.icon}}
          </md-icon>
          <md-tooltip md-direction="down">{{$ctrl.ParticipantContactValues.icons.return.translatedTitle}}</md-tooltip>
        </md-button>
      </form>
    </div>
  </md-card-content>
</md-card>