/*grid para mainComponent*/
.puc-layout {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 1fr .5fr 1fr;
  grid-template-areas:
    "phones"
    "emails"
    "address"
}

.fones {
  grid-area: phones;
}

.emails {
  grid-area: emails;
}

.address {
  grid-area: address;
}
/* end grid for mainComponent*/


/*start grid for phoneNumberCard*/
.info-card {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: .6fr .1fr .1fr .1fr .1fr .1fr;
  grid-template-areas:
    "infoTitle"
    "infoItem"
}

.info-title {
  grid-area: infoTitle
}

.info-item {
  grid-area: phoneItem
}
/*end grid for phoneNumberCard*/