<link href="app/ux-component/participants-manager/contact/participant-update-contact/participant-update-contact-style.css" rel="stylesheet" type="text/css">
  <div class="puc-layout">
    <md-card class="phones">
      <md-card-content class="info-card">
        <div layout="row" layout-align="space-between center" class="info-title">
          <span class="md-subhead">Telefones</span>
          <span></span>
          <md-button class="md-accent md-icon-button md-button" ng-click=""
                     ng-disabled="ctrl.isValid">
            <md-icon aria-label="Adicionar">add_circle_outline</md-icon>
            <md-tooltip md-direction="left">Salvar</md-tooltip>
          </md-button>
        </div>
          <div ng-repeat="(key, phoneNumber) in $ctrl.contact.phoneNumbers" layout="row">
            <div ng-if="phoneNumber != null" layout="row"
                 layout-fill layout-align="space-between center">
              <md-input-container class="info-item">
                <label>{{$ctrl.PARTICIPANT_CONTACT_TITLES[key.toUpperCase()]}}</label>
                <input ng-model="phoneNumber.number" ng-disabled=true>
              </md-input-container>
              <md-input-container>
                <label>Observações</label>
                <input ng-model="phoneNumber.contact" ng-disabled=true>
              </md-input-container>
              <md-button class="md-accent md-icon-button md-button" ng-click=""
                         ng-disabled="$ctrl.isValid">
                <md-icon aria-label="Adicionar">create</md-icon>
                <md-tooltip md-direction="down">Editar</md-tooltip>
              </md-button>
            </div>
          </div>
      </md-card-content>
    </md-card>

    <md-card class="emails">
      <md-card-content class="info-card">
        <div layout="row" layout-align="space-between center" class="info-title">
          <span class="md-subhead">Emails</span>
          <span></span>
          <md-button class="md-accent md-icon-button md-button" ng-click=""
                     ng-disabled="ctrl.isValid">
            <md-icon aria-label="Adicionar">add_circle_outline</md-icon>
            <md-tooltip md-direction="left">Adicionar</md-tooltip>
          </md-button>
        </div>
        <div ng-repeat="(key, email) in $ctrl.contact.emails" layout="row">
          <div ng-if="email != null" layout="row"
               layout-fill layout-align="space-between start">
            <md-input-container class="info-item">
              <label>{{$ctrl.PARTICIPANT_CONTACT_TITLES[key.toUpperCase()]}}</label>
              <input ng-model="email.value" ng-disabled=true>
            </md-input-container>
            <md-input-container>
              <label>Observações</label>
              <input ng-model="email.observation" ng-disabled=true>
            </md-input-container>
            <md-button class="md-accent md-icon-button md-button" ng-click=""
                       ng-disabled="$ctrl.isValid">
              <md-icon aria-label="Adicionar">create</md-icon>
              <md-tooltip md-direction="down">Editar</md-tooltip>
            </md-button>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="address">
      <md-card-content>
        <md-card-title>
          <md-card-title-text>
            <span class="md-subhead">Endereços</span>
          </md-card-title-text>
        </md-card-title>
        <div ng-repeat="address in $ctrl.contact.address">
          {{address}}
        </div>
      </md-card-content>
    </md-card>

  </div>