/*start grid style for phoneNumber and emails in card*/

.info-card {
  display: grid;
  width: 80vw;
  grid-template-columns: 12fr;
  grid-template-rows: .1fr .5fr;
  grid-gap: 20px;
  grid-template-areas:
    "infoTitle"
    "infoItem"
}

.info-title {
  grid-area: infoTitle
}

.info-item {
  background: #f5f7f9;
  grid-area: infoItem
}
/*end grid style for phoneNumber and emails in card*/

.info-item-layout{
  background: #f5f7f9;
  display: grid;
  width: 77vw;
  grid-template-columns: 7fr 3fr  .1fr .1fr;
  grid-template-rows:  .1fr;
  grid-gap: 10px;
  grid-template-areas:
    "content observation clear edit"
}




/*start grid style for phoneNumber and emails in card*/
.address-item{
  background: #f5f7f9;
  display: grid;
  width: 77vw;
  grid-template-columns: 5fr 2fr 2fr .5fr;
  grid-template-rows:  .1fr .1fr .1fr;
  grid-gap: 10px;
  grid-template-areas:
    "street numberNumber cep  edit "
    "complements neighbourhood city clear"
    "observation observation country."
}

.content-input{
  grid-area: content;
}

.observation-input{
  grid-area: observation;
}

.street-input {
  grid-area: street;
}
.cep-input {
  grid-area: cep;
}
.street-number-input {
  grid-area: streetNumber;
}
.edit-button{
  grid-area: edit;
}

.clear-button{
  grid-area: clear;
}

.neighbourhood-input{
  grid-area: neighbourhood;
}

.city-input{
  grid-area: city;
}

.complements-input{
  grid-area: complements;
}

.observation-input{
  grid-area: observation;
}

.country-input{
  grid-area: country;
}

md-input-container{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*end grid style for phoneNumber and emails in card*/

