<md-grid-tile-header>
  <div layout="row" flex="">
    <div layout-padding flex="80">
      <h4>{{$ctrl.laboratoryData.identification}}</h4>
    </div>
    <div layout-padding layout-align="center end" flex="10">
      <md-button class="md-icon-button" ng-click="$ctrl.discardUnattached()" aria-label="More">
        <md-icon>delete</md-icon>
      </md-button>
    </div>
  </div>
</md-grid-tile-header>
<div class="md-grid-tile-body">
  <div layout="column" layout-align="center center">
    <span class="md-caption">Vincular laboratório ao participante</span>
    <div layout="row" layout-align="end end">
      <md-input-container class="remove-errors-spacer">
        <label>Número de recrutamento</label>
        <input ng-model="$ctrl.recruitmentNumber" type="number" numbers-only min="0" step="1">
      </md-input-container>
      <md-button class="md-icon-button md-primary" ng-click="$ctrl.attacheLaboratory()" ng-disabled="!$ctrl.recruitmentNumber" aria-label="More">
        <md-icon> compare_arrows</md-icon>
      </md-button>
    </div>
  </div>
</div>
<md-grid-tile-footer>
  <label-maker ng-show="false" class="label-maker-{{$ctrl.laboratoryData._id.$oid}}" label-data="$ctrl.labels"></label-maker>
  <div layout-align="center center" layout-margin="" layout="row">
    <md-button class="md-primary" aria-label="Gerar Etiquetas" ng-click="$ctrl.generateLabels()">
      Gerar Etiquetas
    </md-button>
  </div>
</md-grid-tile-footer>