<md-grid-tile-header>
  <div layout="row" flex="">
    <div layout-padding flex="80">
      <h4>Identificação do laboratorio: {{$ctrl.laboratoryData.identification}}</h4>
    </div>
    <div layout-padding layout-align="center end" flex="10">
      <md-button class="md-icon-button" aria-label="More">
        <md-icon>delete</md-icon>
      </md-button>
    </div>
  </div>
</md-grid-tile-header>
<div class="md-grid-tile-body" >
  <div layout="column" layout-align="center center">
    <span class="md-caption">Vincular laboratório ao participante</span>
    <div layout="row" layout-align="center start">
      <md-input-container class="md-icon-float md-icon-right md-block">
        <label>Número de recrutamento</label>
        <input ng-model="$ctrl.laboratoryIdentification" type="number" min="0" step="1">
      </md-input-container>
      <md-button class="md-fab md-mini md-primary" ng-click="$ctrl.attacheLaboratory()" aria-label="More">
        <md-icon> compare_arrows</md-icon>
      </md-button>
    </div>
  </div>
</div>
<md-grid-tile-footer>
  <label-maker ng-show="false" class="label-maker" label-data="$ctrl.labels"></label-maker>
  <div layout-align="center center" layout-margin="" layout="row">
    <md-button class="md-primary" aria-label="Gerar Etiquetas" ng-click="$ctrl.generateLabels()">
      Gerar Etiquetas
    </md-button>
  </div>
</md-grid-tile-footer>