<md-content layout="column" flex id="installer">
    <div layout="row" id="headerSize">
        <div layout="column" layout-align="center center" flex="20" flex-xs="25">
            <img src="static-resource/image/OtusImg.png" flex>
        </div>

        <div layout="column" layout-align="center center" hide-gt-xs flex-xs="80">
            <span class="md-display-1">Bem-vindo!</span>
        </div>

        <div layout="column" layout-align="center center" hide-xs id="welcome" flex="">
            <span class="md-display-2">Bem-vindo!</span>
        </div>
    </div>
    <div layout="row" id="separatorLine" layout-align="center center">
        <h3 hide-gt-xs>Bem-vindo! Vamos iniciar a Instalação do Projeto.</h3>
        <h2 hide-xs>Vamos iniciar a Instalação do Projeto.</h2>
    </div>
    <form name="initialConfigForm" novalidate layout="column" flex layout-align="center center">
        <div layout="row" flex="80" style="padding: 20px; width: 70%">
            <div layout="row" flex>
                <div layout="column" flex="100" ng-show="step === 1">
                    <h4>Cadastro do Administrador</h4>
                    <md-input-container>
                        <label>Nome</label>
                        <input name="name" ng-model="project.user.name" type="text" ng-required="true"/>
                        <div ng-messages="initialConfigForm.name.$error">
                            <div ng-message="required">Obrigatório</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Sobrenome</label>
                        <input name="surname" ng-model="project.user.surname" type="text"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.surname.$error">
                            <div ng-message="required">Obrigatório</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-set="material-icons">phone</md-icon>
                        <input name="phone" id="phonenumber" aria-label="phone"
                               ng-model="project.user.phone" type="text" ui-options={clearOnBlur:false}
                               ng-required="true" ui-mask="(99) 99999999?9"/>
                        <div ng-messages="initialConfigForm.phone.$error">
                            <div ng-message="required">Obrigatório</div>
                            <div ng-message="mask">Insira um número válido.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-set="material-icons">email</md-icon>
                        <input name="email" ng-model="project.user.email" aria-label="email"
                               type="email" ng-required="true"/>
                        <div ng-messages="initialConfigForm.email.$error">
                            <div ng-message="required">Obrigatório</div>
                            <div ng-message="email">Insira um email válido</div>
                            <div ng-message="emailService">Erro ao validar serviço de email. Verifique
                                dados informados
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Senha</label>
                        <input name="password" ng-model="project.user.password" type="password"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.password.$error">
                            <div ng-message="required"
                                 ng-show="initialConfigForm.password.$error.required">Obrigatório
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Confirmação de Senha</label>
                        <input name="passwordConfirmation" ng-model="project.user.passwordConfirmation"
                               st-password-match="project.user.password" type="password"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.passwordConfirmation.$error">
                            <div ng-message="required"
                                 ng-show="initialConfigForm.passwordConfirmation.$error.required">
                                Obrigatório
                            </div>
                            <div ng-message="passwordMatch">Suas senhas não coincidem</div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="end end" layout-margin flex>
                        <md-button ng-click="controller.next(project)" class="md-raised md-accent"
                                   ng-disabled="controller.invalidUser() || isLoading">
                            Proximo
                        </md-button>
                    </div>
                </div>
                <div layout="column" flex="100" ng-show="step === 2">
                    <h4>Projeto</h4>
                    <md-content class="md-padding md-margin">
                        <md-input-container class="md-block">
                            <label>Nome do Projeto</label>
                            <input type="text" name="projectName" ng-model="project.project.projectName"
                                   ng-required="true"/>
                            <div ng-messages="initialConfigForm.projectName.$error">
                                <div ng-message="required">Campo Obrigatório</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="end end" layout-margin flex>
                            <md-button ng-click="controller.goBack()" class="md-raised"
                                       ng-disabled="isLoading">
                                Voltar
                            </md-button>
                            <md-button ng-click="controller.next()" class="md-raised md-accent"
                                       ng-disabled="controller.invalidProject() || isLoading">
                                Proximo
                            </md-button>
                        </div>
                    </md-content>
                </div>
                <div layout="column" flex="100" ng-show="step === 3">
                    <h4>Domínio</h4>
                    <md-content class="md-padding md-margin">
                        <md-input-container class="md-block">
                            <label>Endereço. Exemplo: http://www.my-domain.com.br</label>
                            <md-icon md-font-set="material-icons">public</md-icon>
                            <input name="urlProject"
                                   ng-blur="controller.validateDomain(project.domain.domainRestUrl)"
                                   ng-change="controller.resetValidationDomain()"
                                   ng-model="project.domain.domainRestUrl" ng-required="true"/>
                            <div ng-messages="initialConfigForm.urlProject.$error">
                                <div ng-message="required">Campo Obrigatório</div>
                                <div ng-message="domainAccess">Esse endereço não é um domínio valido
                                </div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="end end" layout-margin flex>
                            <md-button ng-click="controller.goBack()" class="md-raised"
                                       ng-disabled="isLoading">
                                Voltar
                            </md-button>
                            <md-button ng-click="controller.next()" class="md-raised md-accent"
                                       ng-disabled="invalidDomain || isLoading">
                                Proximo
                            </md-button>
                        </div>
                    </md-content>
                </div>
                <div layout="column" flex="100" ng-show="step === 4">
                    <h4>E-mail</h4>
                    <md-input-container class="md-block">
                        <label>Prefixo para Emails</label>
                        <input name="emailSenderName" ng-model="project.emailSender.name" type="text"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.emailSenderName.$error">
                            <div ng-message="required">Obrigatório</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Email</label>
                        <md-icon md-font-set="material-icons">email</md-icon>
                        <input name="emailSenderEmail" ng-model="project.emailSender.email"
                               ng-change="controller.resetValidationEmail()" type="email"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.emailSenderEmail.$error">
                            <div ng-message="email">Insira um email válido.</div>
                            <div ng-message="required">Obrigatório</div>
                            <div ng-message="emailService">Erro ao validar serviço de email. Verifique
                                dados informados
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Senha</label>
                        <input name="emailSenderPassword" ng-change="resetValidationEmail()"
                               ng-model="project.emailSender.password" type="password"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.emailSenderPassword.$error">
                            <div ng-message="required"
                                 ng-show="initialConfigForm.emailSenderPassword.$error.required">
                                Obrigatório
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Confirmação de Senha</label>
                        <input name="emailSenderPasswordConfirm"
                               ng-model="project.emailSender.passwordConfirmation"
                               st-password-match="project.emailSender.password" type="password"
                               ng-required="true"/>
                        <div ng-messages="initialConfigForm.emailSenderPasswordConfirm.$error">
                            <div ng-message="required"
                                 ng-show="initialConfigForm.emailSenderPasswordConfirm.$error.required">
                                Obrigatório
                            </div>
                            <div ng-message="passwordMatch">Suas senhas não coincidem</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="end end" flex="" ng-if="!isLoading">
            <md-button type="submit" ng-click="controller.register(project)" class="md-raised md-accent"
                       ng-show="step === 4"
                       ng-disabled="initialConfigForm.$invalid || isLoading">
                Cadastrar
            </md-button>
        </div>
        <div layout="row" layout-sm="column" layout-align="center" flex="" ng-if="isLoading">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>
    </form>
</md-content>
