<md-content id="login-page" layout="column" flex>
    <div id="divtop">
        <h2 class="name">
            <span class="md-display-1">Cadastro</span>
        </h2>
        <div id="center">
            <div>
                <img src="app/assets/img/OtusImg.png" class="logo" media="screen and (max-width: 1280px) and (min-width: 800px)"></img>
            </div>
            <div layout="column">
                <div>
                    <div id="content" flex>
                        <form name="signupForm" novalidate>
                            <md-input-container class="md-block" flex>
                                <label>Nome</label>
                                <input name="name" ng-model="user.name" type="text" ng-required="true" />

                                <div ng-messages="signupForm.name.$error">
                                    <div ng-message="required">Obrigatório</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Sobrenome</label>
                                <input name="surname" ng-model="user.surname" type="text" ng-required="true" />

                                <div ng-messages="signupForm.surname.$error">
                                    <div ng-message="required">Obrigatório</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-icon md-font-set="material-icons">phone</md-icon>
                                <input aria-label="Telefone" name="phone" id="phonenumber" ng-model="user.phone" type="text" ui-options={clearOnBlur:false}
                                ui-mask="(99) 99999999?9" ng-required="true" />

                                <div ng-messages="signupForm.phone.$error">
                                    <div ng-message="required">Obrigatório</div>
                                    <div ng-message="mask">Insira um número válido.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-icon md-font-set="material-icons">email</md-icon>
                                <input aria-label="aria-label" ng-change="$ctrl.resetEmailValidation()" name="email" ng-model="user.email" type="email" unique ng-required="true">

                                <div ng-messages="signupForm.email.$error">
                                    <div ng-message="required">Obrigatório</div>
                                    <div ng-message="emailInUse">E-mail já em uso.</div>
                                    <div ng-message="email">Insira um e-mail válido.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Senha</label>
                                <input name="password" ng-model="user.password" type="password" ng-required="true"></input>

                                <div ng-messages="signupForm.password.$error">
                                    <div ng-message="required" ng-show="signupForm.password.$error.required">Obrigatório</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Confirmação de Senha</label>
                                <input name="passwordConfirmation" ng-model="user.passwordConfirmation" st-password-match="user.password" type="password" ng-required="true"/>

                                <div ng-messages="signupForm.passwordConfirmation.$error">
                                    <div ng-message="required" ng-show="signupForm.passwordConfirmation.$error.required">
                                        Obrigatório
                                    </div>
                                    <div ng-message="passwordMatch">Suas senhas não coincidem.</div>
                                </div>
                            </md-input-container>

                            <md-button class="md-raised md-accent" type="submit" ng-disabled="signupForm.$invalid || $ctrl.isWaiting" ng-click="$ctrl.signup(user)">Cadastrar</md-button>
                            <md-button class="md-raised md-accent" ng-click="$ctrl.back()">Voltar</md-button>
                            <div layout-align="center">
                                <md-progress-circular md-mode="indeterminate" ng-show="$ctrl.isWaiting"></md-progress-circular>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
