<md-content layout="column" flex>
  <div layout="row" layout-xs="column" layout-align="center center" layout-padding="" ng-if="!$ctrl.selectedParticipant.identified">
    <md-button class="md-icon-button md-warn"> <md-icon>warning</md-icon></md-button>
     <span align="center" class="md-title" layout-align="center center" layout-padding=""> O participante deve possuir todos os dados básicos de recrutamento para utilizar este recurso.</span>
  </div>
  <div ng-show="$ctrl.ready && !$ctrl.hasLaboratory" layout="row" layout-xs="column" style="height: 98%">
    <div layout="column" layout-align="center center" flex="50" flex-xs="100">
      <span class="md-title" layout-margin>Criar laboratório do participante</span>
      <div layout="row" layout-align="center center">
        <p layout-padding="" flex="80" class="md-subheader" align="center">Ao utilizar a função Inicializar Laboratório
          novos tubos serão criado
          e a respectiva sequência adicionada ao participante selecionado.</p>
      </div>
      <md-button class="md-raised md-primary" ng-click="$ctrl.initializeLaboratory()"
                 ng-disabled="!$ctrl.selectedParticipant.identified">Iniciar Laboratório
      </md-button>
    </div>
    <div layout="column" layout-align="center center" flex="50" flex-xs="100" class="spacing-second-block">
      <div layout="column" layout-align="center center" flex="100">
        <span class="md-title">Vincular laboratório do participante</span>
        <div layout="row" layout-align="center center">
          <p layout-padding="" flex="80" class="md-subheader" align="center">Utilize o função vincular laboratório para
            atribuir um conjunto de tubos previamente criados
            ao participante selecionado, para isso utilize o id do laboratório.</p>
        </div>
        <div layout="row" layout-align="center start">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Id do Laboratório</label>
            <input ng-model="$ctrl.laboratoryIdentification" type="number" numbers-only min="0" step="1"
                   ng-disabled="!$ctrl.selectedParticipant.identified">
          </md-input-container>
          <md-button class="md-fab md-mini md-primary" ng-click="$ctrl.attacheLaboratory()" aria-label="More"
                     ng-disabled="!$ctrl.laboratoryIdentification">
            <md-icon> compare_arrows</md-icon>
          </md-button>
        </div>
      </div>
      <div layout-margin style="height: 50px; width: 98%" flex-auto>
        <md-toolbar ng-if="$ctrl.attacheHaveErrors" class="md-warn">
          <h2 class="md-toolbar-tools" layout-align="center center">
            <span>{{$ctrl.attacheError}}</span>
          </h2>
        </md-toolbar>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.ready && $ctrl.hasLaboratory" layout="column" flex>
    <div layout="column" layout-align="center center" style=" margin-bottom: 3px;">
      <lab-control-panel lab-participant="$ctrl.participantLaboratory" state="$ctrl.state" labels="$ctrl.labels"
                         layout-fill/>
    </div>
    <div layout="row" flex>
      <lab-main-panel participant-laboratory="$ctrl.participantLaboratory" layout="row" flex state="$ctrl.state"/>
    </div>
  </div>
</md-content>
