<md-toolbar class="md-primary md-whiteframe-1dp">
  <div class="md-toolbar-tools md-padding">
    <img src="app/static-resource/image/coruja_pesquisadora.png" class="toolbar-icon"></img>
    <otus-dashboard-sidenav-launcher></otus-dashboard-sidenav-launcher>
    <div ng-transclude flex>
      <!-- <otus-participant-search flex on-select="$ctrl.selectParticipant(participant)" class="md-primary md"></otus-participant-search> -->
    </div>

          <md-button class="md-button md-icon-button" ng-click="$ctrl.copyToClipboard()" ng-hide="!$ctrl.key">
            <md-icon md-font-set="material-icons">vpn_key</md-icon>
            <md-tooltip md-direction="bottom">Copiar token.</md-tooltip>
          </md-button>

          <span>{{ $ctrl.loggedUser.name}}</span>
          <md-button class="md-fab md-mini md-accent" ng-click="$ctrl.getKey()" >
            <md-icon md-font-set="material-icons">person</md-icon>
          </md-button>

  </div>
</md-toolbar>
