<link href="app/ux-component/project-communication/issue-messages-viewer/issue-messages-viewer-styles.css"
      rel="stylesheet" type="text/css">

<md-content class="issue-messages-viewer" layout="column" flex>
  <otus-dashboard-sidenav layout="row">
    <hide-participant-box></hide-participant-box>
  </otus-dashboard-sidenav>

  <otus-dashboard-toolbar>
    <div flex layout="row" layout-align="center center" layout-margin>
      <span layout-align="center center">{{$ctrl.viewerTitle}}</span>
    </div>
  </otus-dashboard-toolbar>

  <otus-issue-info-header change-status="$ctrl.changeStatus">
  </otus-issue-info-header>

  <otus-generic-list items="$ctrl.items"
                     item-component-name="$ctrl.itemComponentName"
                     item-attributes="$ctrl.itemAttributes">
  </otus-generic-list>

  <div class="action-inputs">
    <div class="action-buttons" layout="row" layout-align="end center"
         ng-if="!$ctrl.replying">
      <md-button class="md-accent md-raised" ng-click="$ctrl.openReplyInput()">RESPONDER</md-button>
    </div>

    <div layout="column" layout-align="center center" layout-padding
         ng-if="$ctrl.replying">

      <md-input-container>
        <label>Resposta:</label>
        <textarea class="reply-box anchor" id="replyInputBox" hide-xs
                  max-rows="20" cols="80"
                  ng-model="$ctrl.replyContent"
                  placeholder="Insira sua resposta aqui"></textarea>
        <textarea class="reply-box anchor" id="replyInputBoxXS" hide-gt-xs
                  max-rows="20" cols="30"
                  ng-model="$ctrl.replyContent"
                  placeholder="Insira sua resposta aqui"></textarea>
      </md-input-container>

      <div layout="row" layout-align="center end">
        <md-button class="reply-action-button md-raised" id="cancelReplyButton"
                   ng-click="$ctrl.cancelReply()">CANCELAR</md-button>

        <md-button class="reply-action-button md-primary md-raised" id="sendReplyButton"
                   ng-click="$ctrl.sendReply()">ENVIAR</md-button>
      </div>
  </div>

</md-content>
