/*begin style for issue-messages-viewer*/
@media screen and (min-width: 360px) {
  .issue-messages-viewer {
    background: #0d3349;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .3fr 1.7fr .1fr;
    grid-template-areas:
      "toolbar"
      "issueInfo"
      "list"
      "actionInputs"
  }

  .issue-messages-viewer otus-dashboard-toolbar{
    grid-area: toolbar;
    max-height: 128px;
  }

  .issue-messages-viewer otus-issue-info-header{
    grid-area: issueInfo;
    max-height: 160px;
  }
}

@media screen and (min-width: 768px) {
  .issue-messages-viewer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: .03fr auto auto auto;
    grid-template-areas:
      "toolbar"
      "issueInfo"
      "list"
      "actionInputs"
  }

  .issue-messages-viewer otus-dashboard-toolbar{
    grid-area: toolbar;
    max-height: 64px;
  }

  .issue-messages-viewer otus-issue-info-header{
    grid-area: issueInfo;
    max-height: 100px;
  }
}

.issue-messages-viewer otus-generic-list{
  grid-area: list;
}

.action-inputs {
  grid-area: actionInputs;
}

.action-buttons{
  padding-right: 16px;
}

.action-buttons md-button {
  max-width: 100px;
}

/*end style for issue-messages-viewer*/


/*begin style for list-header*/

@media screen and (min-width: 360px) {
  .issue-messages-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-template-areas:
      "status     dateTime    goBackButton"
      "title      title       title"
      "issueText  issueText   issueText"
    ;
  }
}

@media screen and (min-width: 768px) {
  .issue-messages-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-template-areas:
      "status     dateTime    goBackButton"
      "title      title       title"
      "issueText  issueText   issueText"
  ;
  }
}

@media screen and (min-width: 1280px) {
  .issue-messages-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-template-areas:
      "status     dateTime    goBackButton"
      "title      title       title"
      "issueText  issueText   issueText"
  ;
  }
}

.issue-messages-datetime {
  grid-area: dateTime;
}

.issue-messages-status {
  grid-area: status;
}

.issue-messages-status md-chips-wrap{
  padding: 0px;
}

.issue-messages-status md-chip{
  margin: 0px;
}

.issue-messages-title {
  grid-area: title;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.issue-messages-text {
  grid-area: issueText;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.goback-button {
  grid-area: goBackButton;
}

.send-reply-button{
  max-height: 36px;
}

.status-options {
  min-width: 130px;
}

/*end style for issue-messages-header*/

/*begin style for issue-message-item*/

.datetime-font-text {
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
}

.message-text {
  font-family: Arial, Helvetica, sans-serif;
}

/*end style for issue-message-item*/

