<md-sidenav class="md-sidenav-left md-whiteframe-1dp" md-component-id="left" style="z-index: 1000 !important">
  <md-toolbar class="md-primary md-whiteframe-1dp">
    <div class="md-toolbar-tools">
      <img src="app/static-resource/image/coruja_pesquisadora.png" class="toolbar-icon"></img>
      <span flex></span>
      <span class="md-body-2">OTUS | PROJETO</span>
      <span flex></span>
      <md-button aria-label="Logout" ng-click="$ctrl.logout()" layout="column">
        <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div ng-transclude="hideHomeButton">
    <div layout-margin>
      <md-list>
        <md-list-item>
          <div layout-align="start center">
            <md-icon md-font-library="material-icons">local_pharmacy</md-icon>
            <md-button id="home-menu" ng-click="$ctrl.home()">INICIO</md-button>
          </div>
        </md-list-item>
      </md-lis  t>
    </div>
  </div>
  <div ng-transclude="hideParticipantBox">
    <otus-participant-box on-close="$ctrl.close()" layout="row"></otus-participant-box>
    <!-- Insere participant-box caso não seja fornecido elemento para o transclude -->
  </div>
</md-sidenav>
