otus-dashboard-sidenav md-sidenav {
  position: fixed !important;
  width: 320px;
  min-width: 320px !important;
}
otus-dashboard-sidenav md-backdrop {
  position: fixed !important;
}
otus-dashboard-sidenav md-backdrop ~ md-content {
  position: fixed;
  overflow: hidden;
}
@media (max-width: 456px) {
  otus-dashboard-sidenav md-sidenav,
  otus-dashboard-sidenav md-sidenav.md-locked-open,
  otus-dashboard-sidenav md-sidenav.md-closed.md-locked-open-add-active {
    position: fixed !important;
    min-width: 320px !important;
  }
}

otus-participants-list .dynamic-table-container-md-content {
  max-height: 90%;
}
otus-participants-list .dynamic-table-container {
  min-width: 850px;
}
otus-participants-list .dynamic-table-container .dynamic-structure {
  min-width: 800px !important;
}

@media only screen and (max-width: 799px) {
  otus-dashboard-toolbar .not-mobile {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  otus-dashboard-toolbar .mobile {
    display: none;
  }
}

@media only screen and (max-width: 799px) {
  otus-dashboard otus-dashboard-toolbar .mobile {
    display: none !important;
  }
  otus-dashboard otus-dashboard-toolbar .not-mobile {
    display: block !important;
  }
}

otus-report-dashboard otus-panel .report-list {
  min-width: 250px;
}
otus-report-dashboard otus-panel .report-list .report-item {
  min-width: 250px;
  background-color: #ffffff;
}

@media only screen and (max-width: 450px) {
  otus-activity-manager otus-activity-list .not-mobile {
    display: none;
  }
}
otus-activity-manager otus-activity-list .dynamic-table-container {
  min-width: 800px;
}
otus-activity-manager otus-activity-list .dynamic-table-container .dynamic-structure {
  min-width: 750px !important;
}
otus-activity-manager otus-activity-manager-bottom-sheet md-fab-speed-dial {
  max-height: 50px;
}
@media only screen and (max-width: 450px) {
  otus-activity-manager otus-activity-manager-bottom-sheet md-toolbar {
    display: none !important;
  }
  otus-activity-manager otus-activity-manager-bottom-sheet md-fab-speed-dial {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  otus-activity-manager otus-activity-manager-bottom-sheet md-fab-speed-dial md-fab-trigger {
    width: 80%;
  }
  otus-activity-manager otus-activity-manager-bottom-sheet md-fab-speed-dial md-fab-trigger button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 451px) {
  otus-activity-manager otus-activity-manager-bottom-sheet md-fab-speed-dial {
    display: none;
  }
}
@media only screen and (max-width: 451px) {
  otus-activity-manager otus-activity-manager-commander md-fab-speed-dial {
    display: none;
  }
}

otus-activity-adder-list .dynamic-table-container {
  min-width: 800px;
}
otus-activity-adder-list .dynamic-table-container .dynamic-structure {
  min-width: 750px !important;
}

@media only screen and (max-width: 550px) {
  lab-control-panel .control-toolbar {
    display: none;
  }
  lab-control-panel .mobile-control-toolbar {
    max-height: 65px;
  }
  lab-control-panel .mobile-control-toolbar md-fab-speed-dial {
    max-height: 50px;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  lab-control-panel .mobile-control-toolbar md-fab-speed-dial md-fab-trigger {
    width: 80%;
  }
  lab-control-panel .mobile-control-toolbar md-fab-speed-dial md-fab-trigger button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  lab-control-panel .mobile-control-toolbar md-fab-speed-dial md-fab-actions button {
    min-width: 150px;
  }
}
@media only screen and (min-width: 551px) {
  lab-control-panel .mobile-control-toolbar {
    display: none;
  }
  lab-control-panel .control-toolbar div .mobile-input {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  lab-control-panel .collect-control-toolbar {
    display: none;
  }
  lab-control-panel .mobile-collect-control-toolbar {
    max-height: 65px;
  }
  lab-control-panel .mobile-collect-control-toolbar md-fab-speed-dial {
    position: relative;
    top: -18px;
    max-height: 30px;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  lab-control-panel .mobile-collect-control-toolbar fast-collection {
    position: relative;
    top: -15px;
  }
  lab-control-panel .mobile-collect-control-toolbar fast-collection div {
    min-width: 80px;
  }
  lab-control-panel .mobile-collect-control-toolbar fast-collection div .desktop-input {
    display: none;
  }
  lab-control-panel .aliquots-control-toolbar {
    display: none;
  }
  lab-control-panel .mobile-aliquots-control-toolbar {
    max-height: 65px;
  }
  lab-control-panel .mobile-aliquots-control-toolbar div label {
    position: relative;
    top: 10px;
  }
  lab-control-panel .mobile-aliquots-control-toolbar div md-input-container {
    position: relative;
    top: -15px;
  }
  lab-control-panel .mobile-aliquots-control-toolbar md-fab-speed-dial {
    position: relative;
    top: -18px;
    max-height: 30px;
    display: flex;
    align-items: center;
    z-index: 20;
  }
}
@media only screen and (max-width: 359px) {
  lab-control-panel .mobile-aliquots-control-toolbar div label {
    display: none;
  }
}
@media only screen and (min-width: 651px) {
  lab-control-panel .mobile-collect-control-toolbar {
    display: none;
  }
  lab-control-panel .mobile-aliquots-control-toolbar {
    display: none;
  }
}

aliquots-view .aliquots-container {
  min-width: 900px;
}

otus-sample-transportation-manager-list otus-sample-transportation-lot-info-sidenav md-sidenav {
  min-width: 320px !important;
}
@media screen and (max-width: 726px) {
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component .desktop-filter div .md-subheader {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component .desktop-filter {
    display: none;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component .table-container {
    min-width: 850px;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component .table-container md-list {
    min-width: 800px;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component md-card {
    width: 300px;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component md-card md-card-title md-card-title-text .md-subhead {
    font-size: 10px;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component md-card md-card-title md-card-title-text .md-headline {
    font-size: 14px;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component md-card md-card-title div div otus-sample-transportation-lot-aliquots-chart {
    display: block;
    height: 87px;
    width: 128px;
    position: relative;
    right: 44px;
    top: -24px;
  }
}
@media screen and (min-width: 601px) {
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component .mobile-filter {
    display: none;
  }
  otus-sample-transportation-manager-list .sample-transportation-lot-manager-list-component md-card {
    width: 500px;
  }
}

otus-lot-info-manager-display .subtitle-table-container {
  max-height: 200px;
}
otus-lot-info-manager-display .dynamic-table-container {
  min-width: 850px;
  max-height: 420px;
}
otus-lot-info-manager-display .dynamic-table-container .dynamic-structure {
  min-width: 800px !important;
}
otus-lot-info-manager-display md-input-container md-datepicker {
  position: relative;
  left: -15px;
}

otus-view-sending-exam .dynamic-table-container-md-content {
  min-height: 400px;
}
otus-view-sending-exam .dynamic-table-container-md-content .dynamic-table-container {
  min-width: 850px;
  max-height: 420px;
}
otus-view-sending-exam .dynamic-table-container-md-content .dynamic-table-container .dynamic-structure {
  min-width: 800px !important;
}
otus-view-sending-exam otus-result-visualizer .dynamic-table-container {
  min-width: 850px;
  max-height: 420px;
}
otus-view-sending-exam otus-result-visualizer .dynamic-table-container .dynamic-structure {
  min-width: 800px !important;
}
@media screen and (max-width: 726px) {
  otus-view-sending-exam .desktop-filter .md-subheader {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  otus-view-sending-exam .desktop-filter {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  otus-view-sending-exam .mobile-filter {
    display: none;
  }
}

otus-exams-lots-manager .table-container {
  min-width: 850px;
}
otus-exams-lots-manager .table-container md-list {
  min-width: 800px;
}
@media screen and (max-width: 726px) {
  otus-exams-lots-manager .desktop-filter .md-subheader {
    display: none !important;
  }
}
@media screen and (max-width: 650px) {
  otus-exams-lots-manager .desktop-filter {
    display: none;
  }
}
@media screen and (min-width: 651px) {
  otus-exams-lots-manager .mobile-filter {
    display: none;
  }
}

otus-exam-lot-info-manager-display .dynamic-table-container {
  min-width: 850px;
}
otus-exam-lot-info-manager-display .dynamic-table-container .dynamic-structure {
  min-width: 800px !important;
}
@media screen and (max-width: 600px) {
  otus-exam-lot-info-manager-display .dynamic-table-container {
    max-height: 395px;
  }
  otus-exam-lot-info-manager-display .moment-type-title {
    display: none !important;
  }
}
otus-exam-lot-info-manager-display .aliquot-form {
  max-height: 70px;
}
otus-exam-lot-info-manager-display .aliquot-form md-input-container {
  margin-bottom: 0;
}

otus-exam-lot-info-sidenav md-sidenav {
  min-width: 320px !important;
}

@media screen and (max-width: 600px) {
  otus-monitoring-dashboard .desktop-filter {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  otus-monitoring-dashboard .mobile-filter {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  otus-flag-report-list-manager otus-flag-report-visualization md-content {
    max-height: 400px;
  }
}
@media screen and (min-width: 651px) {
  otus-flag-report-list-manager otus-flag-report-visualization md-content {
    max-height: 100%;
  }
}

@media screen and (max-width: 650px) {
  otus-laboratory-flag-report-list-manager .exam-heatmap-container {
    min-height: 400px;
  }
}
@media screen and (min-width: 651px) {
  otus-laboratory-flag-report-list-manager .exam-heatmap-container {
    min-height: 100%;
  }
}

otus-laboratory-monitoring-dashboard #orphans-by-exam svg {
  min-width: 600px;
}

otus-activity-category-adder otus-activity-category-adder-list md-card md-input-container {
  position: relative;
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
  top: -5px;
}

activity-grid-list .gridListDynamicTiles md-grid-list {
  margin: 10px;
  transition-duration: 0s;
}

activity-grid-list .gridListDynamicTiles md-grid-tile md-grid-tile-header {
  background: rgba(19, 125, 108, 0.68);
  position: relative;
  width: 100%;
  overflow: inherit;
  padding: 8px;
}

activity-grid-list .gridListDynamicTiles md-grid-tile-header figcaption {
  display: block;
  width: 100%;
}

activity-grid-list .gridListDynamicTiles md-grid-tile-header figcaption md-icon {
  margin: 0;
}

activity-grid-list .gridListDynamicTiles md-grid-tile figure {
  justify-content: normal;
  flex-direction: column;
  align-items: start;
  transition-duration: 0s;
}

activity-grid-list .gridListDynamicTiles .grid-aligh{
  padding-left: 10px;
  padding-top: 5px;
  width: 100%;
}

activity-grid-list .gridListDynamicTiles md-grid-tile:hover {
  background: #F5F5F5;
  cursor: pointer;
}

@media only screen and (max-width: 999px) {
  activity-grid-list .gridListDynamicTiles .clipped {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
  }
}
/*# sourceMappingURL=components-style.css.map */
