/*----------------------Novo login-----------------------------*/
.card {
  width: 60%;
  top: -50px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}
#user-login-page {
  height: 100%;
  position: relative;
}
#user-login-page #system-text{
  text-align:center;
}
#user-login-page #center {
  width: 55%;
  top: 30%;
  margin: 0 auto;
  position: relative;
  border: 2px solid #E6E6E6;
}
#user-login-page #divtop {
  height: 40%;
  z-index: 1;
  position: absolute;
  width: 100%;
}
#user-login-page .system-name {
  text-align: left;
  color: white;
  top: 5%;
  position: relative;
}
#user-login-page .system-name span {
  margin-left: -35%;
}
#user-login-page h2 {
  width: 110px;
  display: block;
}
#user-login-page .logotype {
  width: 24%;
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(-30%, -30%);
}
@media screen and (max-width: 1280px) and (min-width: 800px) {
  .card {
    top: -30px;
  }
  #user-login-page .logotype {
    width: 30%;
    position: absolute;
    left: 38%;
    transform: translate(-30%, -30%);
  }
  #user-login-page .system-name {
    top: 5%;
  }
  #user-login-page .system-name span {
    margin-left: -10%;
  }
}
@media screen and (max-width: 799px) and (min-width: 601px) {
  .card {
    top: -20px;
  }
  #user-login-page .logotype {
    width: 30%;
    position: absolute;
    left: 38%;
    transform: translate(-30%, -30%);
  }
  #user-login-page .system-name {
    top: 5%;
  }
  #user-login-page .system-name span {
    margin-left: -10%;
  }
}

@media screen and (max-width: 600px) and (min-width: 240px) {
  .card {
    top: 0%;
    box-shadow: 0 0 !important;
  }
  #user-login-page .logotype {
    width: 40%;
    position: absolute;
    left: 38%;
    transform: translate(-30%, -30%);
  }
  #user-login-page .system-name {
    top: 5%;
  }
  #user-login-page .system-name span {
    margin-left: 30%;
  }
  #user-login-page #system-text{
    text-align:justify;
  }
}
#user-login-page .content {
  margin-top: 11%;
  padding: 10px;
}
