*{
	margin:0;
	padding:0;
}

body {
	font-family: "Verdana", Times, sans-serif;
}

#main-left {
	float: left;
	width: 70%;
	height: 900px;
	text-align: center;
}

#main-right {
	float: right;
	width: 29	%;
	height: 978px;
	background-color: #F2F2F2;
	border-left: solid 1px rgb(211, 211, 211);
	
}


#div-logo{
	margin-top: 200px;
	height: 500px;
	width: 750px;
	display: inline-block;
	background-color: blue;
}

#logo{
	height: 500px;
	width: 750px;
	
}

#div-login{
	top: 165px;
	height: 450px;
	text-align: center;
	
	
	position: relative;
}

#logoOtus-div{
	height: 450px;
	text-align: center;
	
}

#logoOtus{
	height: 350px;
	width: 300px;
	margin-top: 10px;
	
}

#galho{
	height: 130px;
	width: 616px;
	top: -63px;
	float: right;
	position: relative;
}

#loginHome{
	background-color: green;
	color: white; 
	
	
}