<md-content flex>
  <div layout="row" flex>
    <md-whiteframe class="md-whiteframe-1dp aliquot-whiteframe" layout="column" flex layout-padding layout-align="center">
      <span class="md-subheader">Configuração de Impressão:</span>
      <span flex="5"></span>
      <div style="margin-top: 7px" layout="row" layout-xs="column" flex layout-align="space-between center" layout-align-xs="">
        <div layout="column" flex="50" flex-xs="100">
          <div flex layout="column">
            <md-input-container  class="remove-errors-spacer md-block" flex style="margin:0 0">
              <label class="md-subhead">Tamanho:</label>
              <md-select ng-change="$ctrl.changeLabelToPrint()" ng-model="$ctrl.printStructure.labelSize" ng-disabled="$index === 1">
                <md-option ng-repeat="size in $ctrl.sizes" ng-value="size" ng-click="">
                  {{size.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex layout="row" >
            <md-input-container class="remove-errors-spacer md-block" flex>
              <label class="md-subhead">Tipos:</label>
              <md-select ng-change="$ctrl.changeLabelToPrint()" ng-model="$ctrl.printStructure.type" ng-disabled="$index === 1">
                <md-option ng-repeat="type in $ctrl.types" ng-value="type" ng-click="">
                  {{type.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>

        <div layout="column" flex="50" flex-xs="100">
          <div flex layout="column">
            <md-input-container class="remove-errors-spacer md-block" flex style="margin:0 0">
              <label class="md-subhead">Identificada:</label>
              <md-select ng-change="$ctrl.changeLabelToPrint()" ng-model="$ctrl.printStructure.identified" ng-disabled="$index === 1">
                <md-option ng-repeat="identified in $ctrl.identified" ng-value="identified" ng-click="">
                  {{identified.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex layout="column">
            <md-input-container class="remove-errors-spacer md-block" flex>
              <label class="md-subhead">Colunas:</label>
              <md-select ng-change="$ctrl.changeLabelToPrint()" ng-model="$ctrl.printStructure.columns" ng-disabled="$index === 1">
                <md-option ng-repeat="columns in $ctrl.columns" ng-value="columns" ng-click="">
                  {{columns}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>

      </div>
    </md-whiteframe>
  </div>
</md-content>




