<style>
  md-list{
    padding: 0px;
  }
</style>

<md-list ng-repeat="pendency in $ctrl.pendencies" ng-cloak ng-if="$ctrl.pendencies.length">
  <otus-pendency-item item="pendency" pendency-attributes="$ctrl.pendencyAttributes"></otus-pendency-item>
</md-list>
<md-card ng-if="!$ctrl.pendencies.length"
         layout layout-align="center center"
         layout-padding layout-margin>
  <span class="md-title" style="color: #777777">{{$ctrl.PENDENCY_VIEWER_TITLES.EMPTY_PENDENCY_INFO}}</span>
</md-card>
