<div layout="row" layout-align="center center">
  <div class="participant-info-box participant-info-box-dimensions md-whiteframe-2dp" layout-fill layout-margin layout="row" layout-align="center center" ng-show="!$ctrl.selectedParticipant">
    <span class="md-display-1">Não há participante selecionado</span>
  </div>
  <div ng-show="$ctrl.selectedParticipant" class="participant-info-box participant-info-box-dimensions md-whiteframe-2dp" layout="column">
    <div class="participant-info-layout">
      <div hide-xs class="participant-info-name" layout="row" layout-align="start end">
        <span class="md-display-1" ng-if="$ctrl.selectedParticipant.name" md-truncate>
          {{$ctrl.selectedParticipant.name}}
        </span>
        <md-button class="md-accent md-mini" ng-click="$ctrl.updateParticipant()">
          <md-icon>edit</md-icon>
          <md-tooltip md-direction="bottom">Editar participante selecionado</md-tooltip>
        </md-button>
      </div>
      <div hide-xs class="participant-info-recruitmentNumber participant-padding" layout="row"
        layout-align="start start">
        <span class="md-headline">
          {{$ctrl.selectedParticipant.recruitmentNumber}}
        </span>
      </div>
      <span class="participant-info-sex md-subhead" ng-if="$ctrl.getSex($ctrl.selectedParticipant.sex)">
        Sexo: {{$ctrl.getSex($ctrl.selectedParticipant.sex)}}
      </span>
      <span class="participant-birthdate md-subhead" ng-if="$ctrl.selectedParticipant.birthdate">
        Nascimento: {{$ctrl.participantBirthdate | date: "dd/MM/yyyy"}}
      </span>
      <span class="participant-field-center md-subhead">
        Centro: {{$ctrl.selectedParticipant.fieldCenter.acronym}}
      </span>
      <span class="participant-mother-name md-subhead">
        Nome da mãe: {{$ctrl.selectedParticipant.motherName}}
      </span>
      <span class="participant-laboratory-identification"
        ng-show="$ctrl.hasLaboratory && $ctrl.participantLaboratory.identification" layout="row"
        layout-align="center center" class="md-subhead">
        Laboratório vinculado: {{$ctrl.participantLaboratory.identification}}
      </span>
    </div>
    <attache-laboratory class="participant-info-box" ng-show="!$ctrl.hasLaboratory" subtitle="$ctrl.attacheLabTitle"
      selected-participant="$ctrl.selectedParticipant"></attache-laboratory>
    <otus-user-comment-about-participant-dashboard-list participant="$ctrl.selectedParticipant">
    </otus-user-comment-about-participant-dashboard-list>
  </div>
</div>
