<md-content layout="column" flex class="participant-padding-top-and-bottom" layout-align="center center"
  ng-show="$ctrl.isEmpty">
  <span class="md-title" style="text-align: center">Não há participante selecionado(a).</span>
</md-content>
<div layout="column" ng-show="!$ctrl.isEmpty" flex>
  <md-divider></md-divider>
  <div class="participant-padding-top-and-bottom">
    <md-list ng-show="!$ctrl.isEmpty">
      <span class="md-body-2 participant-box-title">Participante</span>
      <md-list-item id="home-menu" ng-click="$ctrl.home()"
        ng-style="$ctrl.selectedStateColor($ctrl.state.PARTICIPANT_DASHBOARD)">
        <div layout-align="start center">
          <md-icon aria-label="Home" class="md-accent">
            dashboard
          </md-icon>
          <span class="participant-padding-sivenav">Dashboard</span>
        </div>
      </md-list-item>
      <md-list-item id="surveyforms-menu" ng-show="$ctrl.userAccessToActivity.participantActivityAccess"
        ng-style="$ctrl.selectedStateColor($ctrl.state.PARTICIPANT_ACTIVITY)"
        ng-click="$ctrl.loadParticipantActivities()">
        <div layout-align="start center">
          <md-icon md-svg-icon="file-document-box" aria-label="Atividades" class="md-accent"></md-icon>
          <span class="participant-padding-sivenav">Atividades</span>
        </div>
      </md-list-item>
      <md-list-item id="surveyforms-menu-stage" ng-show="$ctrl.userAccessToActivity.participantActivityAccess"
        ng-style="$ctrl.selectedStateColor($ctrl.state.PARTICIPANT_ACTIVITY_STAGE)"
        ng-click="$ctrl.loadParticipantActivityStage()">
        <div layout-align="start center">
          <md-icon md-svg-icon="file-document-box" aria-label="Etapas de Atividades" class="md-accent"></md-icon>
          <span class="participant-padding-sivenav">Atividades (nova)</span>
        </div>
      </md-list-item>
      <md-list-item id="laboratory-menu"
        ng-if="$ctrl.laboratoryChecking && $ctrl.userAccessToLaboratory.participantLaboratoryAccess"
        ng-click="$ctrl.loadLaboratory()" ng-style="$ctrl.selectedStateColor($ctrl.state.LABORATORY)">
        <div layout-align="start center">
          <md-icon md-svg-icon="eyedropper-variant" aria-label="Laboratório" class="md-accent"></md-icon>
          <span class="participant-padding-sivenav">Laboratório</span>
        </div>
      </md-list-item>
      <md-list-item id="comment-menu" ng-show="$ctrl.userAccessToActivity.participantActivityAccess"
        ng-click="$ctrl.loadUserCommentAboutParticipant()"
        ng-style="$ctrl.selectedStateColor($ctrl.state.USER_COMMENT_ABOUT_PARTICIPANT)">
        <div layout-align="start center">
          <md-icon aria-label="Comentários" class="md-accent">chat_bubble_outline</md-icon>
          <span class="participant-padding-sivenav">Comentários</span>
        </div>
      </md-list-item>
      <md-list-item id="follow-up-menu" ng-click="$ctrl.loadFollowUps()"
        ng-style="$ctrl.selectedStateColor($ctrl.state.PARTICIPANT_FOLLOW_UPS)">
        <div layout-align="start center">
          <md-icon class="material-icons md-accent">
            linear_scale
          </md-icon>
          <span class="participant-padding-sivenav">Seguimentos</span>
        </div>
      </md-list-item>
      <!-- <md-list-item id="surveyforms-menu" ng-click="$ctrl.loadParticipantReports()"
        ng-style="$ctrl.selectedStateColor($ctrl.state.PARTICIPANT_REPORT)">
        <div layout-align="start center">
          <md-icon md-font-library="material-icons">insert_chart</md-icon>
          <span class="participant-padding-sivenav">Relatórios</span>
        </div>
      </md-list-item> -->
    </md-list>
  </div>
</div>
