<md-toolbar style="z-index: 1" class="md-primary md-hue-1">
  <div class="md-toolbar-tools md-hue-2">
    <span flex>Adicionar lote</span>
    <md-button ng-click="$ctrl.returnToSampleTransportationDashboard()" style="background-color: grey" class="md-raised md-icon-button"  aria-label="Cancelar">
      <md-tooltip md-direction="down">Cancelar</md-tooltip>
      <md-icon  style="color: white" md-font-set="material-icons" aria-label="Cancelar">clear</md-icon>
    </md-button>
    <md-button ng-click="$ctrl.addLot()" class="md-raised md-accent md-icon-button" aria-label="Adicionar">
      <md-tooltip md-direction="down">Adicionar</md-tooltip>
      <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
    </md-button>
  </div>
</md-toolbar>
