<div layout="column" flex class="menuBardemoBasicUsage">
  <md-content layout="row" ng-if="$ctrl.ready && $ctrl.isListEmpty" flex layout-align="center center">
    <div class="label-light-gray">
      <h3 class="md-display-3">Nenhuma Atividade Adicionada</h3>
      <div>
        <span class="md-body-1">Utilize o menu</span>
        <md-icon md-svg-icon="plus" aria-label="Adicionar Atividade"></md-icon>
        <span class="md-body-1">para adicionar atividades ao participante</span>
      </div>
    </div>
  </md-content>
  <md-content layout="column" ng-show="$ctrl.ready && !$ctrl.isListEmpty" flex>
    <md-card>
      <md-card-actions layout="row" layout-gt-md="row" layout-align="start center" layout-padding>
        <h4>
          <md-icon>view_module</md-icon>
          <md-tooltip md-direction="right">
            Selecione o bloco de atividade a ser visualizado.
          </md-tooltip>
        </h4>
        <md-input-container flex="20" flex-md="50" flex-sm="60" flex-xs="60">
          <label>Blocos</label>
          <md-select ng-model="$ctrl.selectedGroups"
                     md-on-close="$ctrl.clearSearchTerm()"
                     data-md-container-class="selectdemoSelectHeader"
                     multiple flex>
            <md-select-header class="demo-select-header">
              <input id="searchBlock" ng-model="$ctrl.searchTerm"
                     type="search"
                     placeholder="Digite o bloco desejado.."
                     class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="Blocos">
              <md-option ng-value="item" ng-repeat="item in $ctrl.groupList | filter:$ctrl.searchTerm" ng-checked="$ctrl.existsGroup(item)">{{item}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
        <div>
          <md-checkbox style="margin-bottom: 0px !important;" aria-label="Select All"
                       ng-checked="$ctrl.isCheckedGroup()"
                       md-indeterminate="$ctrl.isIndeterminateGroups()"
                       ng-click="$ctrl.toggleAllGroups()">
            <span class="md-body-2">
                Todos
            </span>
            <md-tooltip md-direction="top">
              Selecionar todos
            </md-tooltip>
          </md-checkbox>
        </div>

      </md-card-actions>
    </md-card>
    <div flex>
      <activity-grid-list flex="100" grid-data-settings="$ctrl.griidDataChange" update-function="$ctrl.updateData"></activity-grid-list>
    </div>
  </md-content>
</div>

