<meta charset="utf-8"/>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<div style="padding: 20px; background-color: #efebe8; margin: auto; width: 600px; height: 100%">
    <img src="https://github.com/ccem-dev/otus/wiki/images/otus-icon.png">
    <h1 class="md-display-1">Cadastro Realizado!</h1>
    <div style="padding: 20px ;border-radius: 15px; height: 110px; background-color: aliceblue">
        <img align="left" style="margin-right:20px; width: 100px"
             src="https://github.com/ccem-dev/otus/wiki/images/check-icon.png">
        <span class="md-body-1">Gostariamos de informar que recebemos o seu cadastro.</span><br/>
        <span class="md-body-1"><strong>O usuário administrador do sistema foi notificado.</strong></span><br/>
        <span class="md-body-1">Logo que seus dados forem aprovados, seu cadastro será liberado para acesso ao sistema. Caso o mesmo não ocorra, entre em contato com os responsaveis pela administração do Sistema.</span>
        </a>
    </div>

    <br />
    <br />
    <div>
        <span>Att,</span><br/>
        <span>Administração</span><br/>
        <span>Sistema Otus</span><br/>
    </div>
</div>
