<span layout="row" layout-align="center center">
  <md-icon>{{$ctrl.filterItem.icon}}
    <md-tooltip md-direction="bottom">{{$ctrl.filterItem.translatedTitle}}</md-tooltip>
  </md-icon>
  <md-input-container class="remove-errors-spacer md-block" flex="20" ng-if="!$ctrl.userHaveCenter">
    <label class="md-subhead">{{$ctrl.placeholder}}</label>
    <md-select ng-model="$ctrl.selectedOption" ng-change="$ctrl.changeSelectedOption()" ng-disabled="">
      <md-option ng-repeat="option in $ctrl.options track by $index" ng-selected="{{$index === 0}}"
                 value="{{option}}" ng-click="">
        {{option}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-icon ng-click="$ctrl.clear($ctrl.filterItem)" class="icon-cursor">{{$ctrl.CANCEL_BUTTON_ICON}}</md-icon>
</span>