<md-dialog class="dialog-show-template" aria-label="Diálogo para recebimento de lotes">
    <form name="dialogForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Recebimento de lote</h2>
                <span flex>

                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon>close</md-icon>
                    <md-tooltip md-direction="bottom">Fechar</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content md-padding" layout="column">
                
                <md-input-container>
                    <label>Data/hora de recebimento</label>

                    <input
                        ng-model="$ctrl.receiptData.receiptDate"
                        max-date="$ctrl.now"
                        aria-label="Data/hora de recebimento"
                        name="date"
                        required
                        cancel-text="Cancelar" today-text="Hoje"
                        mdc-datetime-picker="" show-icon="true" date="true" time="true" type="text"
                        show-todays-date="" id="datetime" class="md-input" readonly="readonly"
                        format="DD/MM/YYYY HH:mm" disable-parent-scroll="true"
                    >
                </md-input-container>

                <md-input-container style="margin-top: auto;">
                    <label>Temperatura (ºC)</label>
                    <input
                        ng-model="$ctrl.receiptData.temperature"
                        required
                        name="temperature"
                        type="number"
                    >
                    <div ng-messages="dialogForm.temperature.$error" md-auto-hide="true">
                        <div ng-message="required">Campo obrigatório</div>
                    </div>
                    <div ng-messages="dialogForm.temperature.$error" md-auto-hide="true">
                        <div ng-message="number">Valor deve ser numérico</div>
                    </div>
                </md-input-container>

                <div layout="column" ng-if="$ctrl.metadataArrays.left.length > 0">
                    <p>Metadados</p>

                    <div layout="row" style="column-gap: 16px;" layout-align="center start">
                        <div class="col-md-6" ng-repeat="column in ['left', 'right']">
                            <div
                                layout="row"
                                layout-align="start center"
                                ng-repeat="metadata in $ctrl.metadataArrays[column]"
                            >
                                <input
                                    type="checkbox"
                                    name="metadata"
                                    style="margin-right: 8px"
                                    ng-model="$ctrl.metadataOptions[metadata]"
                                    ng-change="$ctrl.handleMetadataChange(metadata)"
                                >
                                <p ng-bind-html="metadata">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div>
                <md-button 
                    class="md-raised md-primary"
                    ng-click="$ctrl.updateLotReceipt()"
                    ng-disabled="!dialogForm.$valid"
                    aria-label="Confirmar recebimento"
                >Ok</md-button>
                <span flex>
            </div>

            <div>
                <md-button 
                    class="md-raised md-no-focus"
                    ng-click="$ctrl.closeDialog()"
                    aria-label="Cancelar"
                >Voltar</md-button>
                <span flex>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>