<style>
    * {
        margin: 0%;
        padding: 0%;
    }


</style>


<md-card class="md-whiteframe-1dp" layout-fill layout-padding>
    <div layout="row" layout-align="space-between center" ng-style="{background: '#5ba499'}">
        <div layout="row" layout-margin>
            <md-icon md-font-library="material-icons" md-svg-icon="{{$ctrl.getModeIcon()}}"
                     ng-style="{color: 'white'}"></md-icon>
            <h4 ng-style="{color: '#FFFFFF'}">{{$ctrl.activityDto.surveyForm.acronym}}</h4>
        </div>
        <div>
            <md-button class="md-icon-button">
                <md-icon md-font-set="material-icons" style="color:white">cancel</md-icon>
                </md-icon>
            </md-button>
        </div>
    </div>

    <div layout="column" layout-align="space-between stretch">
        <div layout="column">
            <div layout="column" layout-align="start start">
                <span class="md-subhead" layout-fill md-truncate>{{$ctrl.activityDto.surveyForm.name}}</span>
                <span class="md-caption" ng-style="{color:'#797985'}">{{$ctrl.activityDto.category.label}}</span>
            </div>
        </div>


        <div layout="column" layout-align="start start" ng-if="$ctrl.activityDto.mode === 'PAPER'">
            <small class="md-caption" ng-style="{color:'#797985'}">Informações do preenchimento obrigatório.</small>
            <md-input-container id="date">
                <label ng-show="$ctrl.realizationDate">Data de Realização</label>
                <input aria-label="Data de Nascimento" class="md-input" date="true" disable-parent-scroll="true"
                       format="DD/MM/YYYY" id="datetime" max-date="$ctrl.maxDate"
                       mdc-datetime-picker="" ng-change="$ctrl.onFilter()" ng-model="$ctrl.realizationDate"
                       placeholder="Data de Realização" readonly="readonly"
                       show-icon="true" time="false" type="text">
            </md-input-container>

            <md-autocomplete md-item-text="item.text"
                             md-items="item in $ctrl.checkerQuerySearch($ctrl.checkerSearchText)"
                             md-menu-class="autocomplete-custom-template"
                             md-min-length="0"
                             md-no-cache="true"
                             md-search-text="$ctrl.checkerSearchText"
                             md-search-text-change="$ctrl.checkerSearchTextChange($ctrl.checkerSearchText)"
                             md-selected-item="$ctrl.checkerSelectedItem"
                             md-selected-item-change="$ctrl.checkerSelectedItemChange(item, activityDto)"
                             placeholder="Aferidor (a)">
                <md-item-template>
                                      <span class="item-title">
                                        <md-icon md-svg-icon="account"></md-icon>
                                        <span md-highlight-flags="i" md-highlight-text="$ctrl.checkerSearchText">{{ item.title }}</span>
                                      </span>
                    <span class="item-metadata">
                                        <span class="item-metastat">
                                          E-mail: <strong>{{ item.metastat.email }}</strong>
                                        </span>
                                      </span>
                </md-item-template>
                <md-not-found>
                    Nenhum resultado para "{{ $ctrl.checkerSearchText }}" foi encontrado.
                </md-not-found>
            </md-autocomplete>
        </div>

        <div ng-if="$ctrl.activityDto.mode === 'ONLINE'" layout="column">
            <small class="md-caption" ng-style="{color:'#797985'}">Informações do Usuário.</small>
            <span class="item-metastat">Nome: <strong>{{$ctrl.activityDto.user.name}} {{$ctrl.activityDto.user.surname}}</strong></span>
            <span class="item-metastat">Email: <strong>{{$ctrl.activityDto.user.email}}</strong></span>
        </div>

        <div>
            <md-input-container ng-if="$ctrl.activityDto.surveyForm.isRequiredExternalID()">
                <label>ID Externo</label>
                <input ng-model="$ctrl.activityDto.configuration.externalID">
            </md-input-container>
            <md-input-container ng-if="!$ctrl.activityDto.surveyForm.isRequiredExternalID()">
                <small ng-style="{color:'#9e9e9e'}">* ID Externo não requerido</small>
            </md-input-container>
        </div>
    </div>
</md-card>