<div layout="column" flex>
  <md-content layout="column" flex>
    <md-list flex>
      <md-list-item class="md-1-line">
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">Código</span>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-repeat="Lot in $ctrl.lotsList track by $index "
                    ng-class="{ 'selectedState': Lot.isSelected, 'regularState': !Lot.isSelected }"
                    ng-click="$ctrl.selectLot(Lot)">
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center">
            <span layout="column">{{ Lot.code }}</span>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
