<meta charset="utf-8"/>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<div style="padding: 20px; background-color: #efebe8; margin: auto; width: 600px;">
    <img src="https://github.com/ccem-dev/otus/wiki/images/otus-icon.png">

    <h1 class="md-display-1">Bem Vindo!</h1>
    <p class="md-body-2">A configuração inicial do Sistema <strong>Otus</strong> foi realizada com sucesso.</p>
    <span class="md-body-1">Agora você pode usufruir de todos os recursos que o sistema oferece.</span><br/>
    <span class="md-body-1">Lembre-se de utilizar as demais plataformas, Otus Domain e Otus Studio, para potencializar a sua produtividade.</span><br/>

    <br/>
    <div style="cursor:pointer;padding: 20px ;border-radius: 16px; height: 130px; background-color: aliceblue">
        <a href="https://github.com/ccem-dev/otus"
           style="color:inherit;display: block;height: 100%;width: 100%;text-decoration: none;">
            <img align="left" style="width: 150px" src="https://github.com/ccem-dev/otus/wiki/images/github-icon.png">
            <h2 class="md-title">Gostaria de customizar seu projeto ?</h2>
            <span class="md-body-1">Disponibilizamos todo nosso projeto através da plataforma Github.</span>
            <span class="md-body-1">Acesso fácil e rapido. Sua customização é bem vinda e estamos disponiveis para facilitar o processo.</span>
        </a>
    </div>
    <br/>
    <div style="cursor:pointer; padding: 20px;border-radius: 15px; height: 100px; background-color: aliceblue">
        <a href="https://github.com/ccem-dev/otus/wiki"
           style="color:inherit;display: block;height: 100%;width: 100%;text-decoration: none;">

            <img align="right" style="width: 100px"
                 src="https://github.com/ccem-dev/otus/wiki/images/questions-icon.png">
            <h2 class="md-title">Dúvidas na utilização do Sistema ?</h2>
            <span class="md-body-1">Conheça mais o projeto consultado nossa documentação Online.</span>
        </a>
    </div>
    <br/>
    <div style="cursor:pointer;padding: 20px ;border-radius: 15px; height: 110px; background-color: aliceblue">
        <a href="mailto:ccem.projects@gmail.com"
           style="color:inherit;display: block;height: 100%;width: 100%;text-decoration: none;">
            <img align="left" style="margin-right:20px; width: 100px"
                 src="https://github.com/ccem-dev/otus/wiki/images/email-icon.png">
            <h2 class="md-title">Entre em contato conosco.</h2>
            <span class="md-body-1">Através do nosso email você pode tirar duvidas ou enviar sugestões.</span>
            <span class="md-body-1">ccem.projects@gmail.com</span><br/>
        </a>
    </div>
    <br/>
    <div style="cursor:pointer;padding: 20px ;border-radius: 15px; height: 110px; background-color: aliceblue">
        <a href="https://www.hipchat.com/gWD3zStLw"
           style="color: inherit; display: block;height: 100%;width: 100%;text-decoration: none;">
            <img align="right" style="width: 100px" src="https://github.com/ccem-dev/otus/wiki/images/hipchat-icon.png">
            <h2 class="md-title">Chat</h2>
            <span class="md-body-1">Disponibilizamos um chat para duvidas diretamente com a equipe.</span>
            <span class="md-body-1">https://www.hipchat.com/gWD3zStLw</span>
        </a>
    </div>
    <br/>
    <br/>
    <div>
        <span>Att,</span><br/>
        <span>Administração</span><br/>
        <span>Sistema Otus</span><br/>
    </div>
</div>



