<style>
  .bar {
    fill: steelblue;
  }
</style>
<md-content layout="column" flex>
  <otus-dashboard-sidenav layout="row">
    <hide-participant-box></hide-participant-box>
  </otus-dashboard-sidenav>
  <otus-dashboard-toolbar layout="row">
    <div flex layout-gt-md="row" layout="column" layout-align="center center" layout-margin>
      <span layout-align="center center">Monitoramento laboratorial</span>
    </div>
  </otus-dashboard-toolbar>
  <md-content layout flex>
    <md-content layout="column" layout-padding flex>
      <md-tabs md-border-bottom flex layout-fill>
        <md-tab label="Pendências de Resultados" id="pendingButton" ng-click="$ctrl.openTabPendingResultsByAliquots()"
          layout-padding>
          <div layout="row" layout-margin="" layout-align="center center" ng-init="$ctrl.openTabPendingResultsByAliquots()">
            <h1 class="md-no-sticky" layout-margin="" layout-padding>Pendências de Resultados</h1>
            <md-input-container class="remove-errors-spacer" style="margin-left:15px;min-width: 150px">
              <label class="md-subheader">Centro:</label>
              <md-select ng-model="$ctrl.centerFilter" ng-change="$ctrl.onFilter()">
                <md-tooltip>
                  Centros
                </md-tooltip>
                <md-option ng-repeat="center in $ctrl.centers track by $index" value="{{center}}" ng-click="$ctrl.loadExamDescriptors(center)">
                  {{center}}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-button ng-click="$ctrl.downloadCSVFile('pending')" class="md-icon-button md-raised">
              <md-icon>get_app</md-icon>
              <md-tooltip md-direction="down">Gerar CSV</md-tooltip>
            </md-button>
          </div>
          <div id="pending-results-chart" flex></div>
        </md-tab>
        <md-tab label="Quantidade por tipo de alíquotas" ng-click="$ctrl.openTabQuantitativeByTypeOfAliquots()" layout="column">
          <div layout="row" layout-margin="" layout-align="center center">
            <h1 class="md-no-sticky" layout-margin="" layout-padding>Quantidade por tipo de alíquotas</h1>
            <span flex></span>
          </div>
          <div id="quantitative-by-aliquots" layout-margin="" flex></div>
        </md-tab>
        <md-tab label="Exames órfãos" ng-click="$ctrl.openTabOrphanByExams()">
          <div layout="row" layout-margin="" layout-align="center center">
            <h1 class="md-no-sticky" layout-margin="" layout-padding>Exames órfãos</h1>
            <md-input-container class="remove-errors-spacer" style="margin-left:15px;min-width: 150px">
              <label class="md-subheader">Centro:</label>
              <md-select ng-model="$ctrl.centerFilter" ng-change="$ctrl.onFilter()">
                <md-tooltip>
                  Centros
                </md-tooltip>
                <md-option ng-repeat="center in $ctrl.centers track by $index" value="{{center}}" ng-click="$ctrl.loadExamDescriptors(center)">
                  {{center}}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-button ng-click="$ctrl.downloadCSVFile('orphan')" class="md-icon-button md-raised">
              <md-icon>get_app</md-icon>
              <md-tooltip md-direction="down">Gerar CSV</md-tooltip>
            </md-button>
          </div>
          <div id="orphans-by-exam" flex></div>
        </md-tab>
        <md-tab label="Armazenamento" ng-click="$ctrl.openTabStorageByAliquots()">
          <div layout="row" layout-margin="" layout-align="center center">
            <h1 class="md-no-sticky" layout-margin="" layout-padding>Armazenamento</h1>
            <span flex></span>
          </div>
          <div id="storage-by-exam" flex></div>
        </md-tab>
        <md-tab label="Resultados de Exames" ng-click="$ctrl.openTabResultsByExam()">
          <div layout="row" layout-margin="" layout-align="center center">
            <h1 class="md-no-sticky" layout-margin="" layout-padding>Resultados de Exames</h1>
            <span flex></span>
          </div>
          <div id="results-by-exam" flex></div>
        </md-tab>
      </md-tabs>
    </md-content>
  </md-content>
</md-content>