<md-toolbar style="z-index: 1" class="md-primary md-hue-1">
  <div class="md-toolbar-tools">
    <h2><span>Pendência de Atividade</span></h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="vm.cancel() "aria-label="Fechar">
      <md-icon aria-label="Fechar">close</md-icon>
      <md-tooltip md-direction="bottom">Fechar</md-tooltip>
    </md-button>
  </div>
</md-toolbar>

<div layout="row" flex layout-align="center center">
  <div layout-margin layout="column">
    <div layout-margin layout="column" class="label-light-gray">
      <span class="md-headline">Criação de Evento</span>
      <span class="md-body-2">Informe <b>vencimento</b> e o <b>responsável pelo monitoramento.</b></span>
    </div>
    <div flex>
      <div>
        <md-datepicker ng-model="vm.date" md-placeholder="Data de vencimento" md-max-date="vm.maxDate"></md-datepicker>
      </div>
      <md-autocomplete flex  md-selected-item="vm.selectedItem"
                       md-search-text-change="vm.searchTextChange(vm.searchText)" md-search-text="vm.searchText"
                       md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.querySearch(vm.searchText)"
                       md-item-text="item.text" md-min-length="0" placeholder="Responsável (a)" md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="account"></md-icon>
            <span md-highlight-text="vm.searchText" md-highlight-flags="i">{{ item.title }}</span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              E-mail: <strong>{{ item.metastat.email }}</strong>
            </span>
          </span>
        </md-item-template>
        <md-not-found>
          Nenhum resultado para "{{ vm.searchText }}" foi encontrado.
        </md-not-found>
      </md-autocomplete>
    </div>
  </div>
</div>
<md-dialog-actions layout="row">
  <span flex></span>
  <md-button ng-click="vm.createUserActivityPendency()" class="md-raised md-primary" aria-label="Criar" ng-disabled="!vm.selectedItem.checker">
    Criar
  </md-button>
  <md-button ng-click="vm.cancel()" class="md-raised md-no-focus" aria-label="Cancelar">
    Cancelar
  </md-button>
</md-dialog-actions>
