<div layout="row" layout-align="start center">
  <span ng-if="$ctrl.subtitle" class="md-subtitle">{{$ctrl.subtitle}}</span>
  <p ng-if="$ctrl.text" flex="80" class="md-subheader">
    {{$ctrl.text}}
  </p>
  <div style="padding-left:16px; padding-top:16px" layout="row">
    <md-input-container style="margin:0; padding:0;" class="md-block">
      <label>Id do Laboratório</label>
      <input ng-model="$ctrl.laboratoryIdentification" type="number" numbers-only min="0" step="1"
        ng-disabled="!$ctrl.selectedParticipant.identified">
    </md-input-container>
  </div>
  <md-button class="md-primary" ng-click="$ctrl.attacheLaboratory()" aria-label="More"
    ng-disabled="!$ctrl.laboratoryIdentification">
    <md-icon>compare_arrows</md-icon>
  </md-button>
</div>
