<div ng-if="$ctrl.ready && !$ctrl.hasLaboratory"  layout="column" layout-align="center center">
  <span ng-if="$ctrl.subtitle" class="md-title">{{$ctrl.subtitle}}</span>
  <div layout="row" layout-align="center center">
    <p ng-if="$ctrl.text" layout-padding="" flex="80" class="md-subheader" align="center">
      {{$ctrl.text}}
    </p>
  </div>
  <div layout="row" layout-align="start start">
    <md-input-container class="md-icon-float md-icon-right md-block">
      <label>Id do Laboratório</label>
      <input ng-model="$ctrl.laboratoryIdentification" type="number" numbers-only min="0" step="1"
             ng-disabled="!$ctrl.selectedParticipant.identified">
    </md-input-container>
    <md-button class="md-fab md-mini md-primary" ng-click="$ctrl.attacheLaboratory()" aria-label="More"
               ng-disabled="!$ctrl.laboratoryIdentification">
      <md-icon> compare_arrows</md-icon>
    </md-button>
  </div>
</div>