/*begin style for pendency-item*/
@media screen and (min-width: 360px) {
  .issue-item-layout {
    display: grid;
    /*width: 98vw;*/
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "rn           creationDate    centerName    status"
      "senderName   senderName      senderName    senderName"
      "title        title           title         title"
    ;
  }
}

@media screen and (min-width: 768px) {
  .issue-item-layout {
    display: grid;
    /*width: 98vw;*/
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: .1fr .1fr;
    grid-template-areas:
      "centerName   senderName    creationDate"
      "rn           title         status"
    ;
  }
}

@media screen and (min-width: 1280px) {
  .issue-item-layout {
    display: grid;
    /*width: 98vw;*/
    grid-template-columns: .3fr .4fr 1fr 1.6fr .5fr .6fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "centerName   rn    senderName   title  creationDate  status";
  }
}

.rn {
  grid-area: rn;
}

.sender-name {
  grid-area: senderName;
}

.center-name {
  grid-area: centerName;
}

.creation-date {
  grid-area: creationDate;
}

.msg-title {
  grid-area: title;
}

.issue-status {
  grid-area: status;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}

.status md-chips-wrap{
  padding: 0px;
}

.status md-chip{
  margin: 0px;
}

.status-opened {
  background-color: yellow;
}

.status-closed {
  background-color: red;
  color: white;
}

.status-finalized {
  background-color: green;
  color: white;
}

.padding {
  padding: 0 3px 0 3px;
}

/*end style for pendency-item*/

/*begin style for issue-list-filters*/
@media screen and (min-width: 360px) {
  .issue-list-filters {
    display: grid;
    /*width: 90vw;*/
    grid-template-columns: 1fr;
    grid-template-rows: .01fr .1fr 1fr .1fr .1fr .1fr .1fr .1fr;
    grid-template-areas: "toolbar" "status" "sortingCriteria" "item" "item" "item" "item" "item" "item"
  }
}

@media screen and (min-width: 768px) {
  .issue-list-filters {
    display: grid;
    /*width: 90vw;*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .01fr .1fr 1fr .5fr .5fr .5fr;
    grid-template-areas:
      "toolbar         toolbar"
      "status          status"
      "sortingCriteria sortingCriteria"
      "item            item"
      "item            item"
      "item            item"
  }
}

@media screen and (min-width: 1280px) {
  .issue-list-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .01fr .1fr .5fr .5fr;
    grid-template-areas:
      "toolbar         toolbar         toolbar"
      "status          sortingCriteria sortingCriteria"
      "item            item            item"
      "item            item            item"
  }
}


.padding-layout-fill {
  padding: 0 10px 0 10px;
}

.item-filter {
  grid-area: item;
}

md-toolbar-filler {
  grid-area: toolbar;
  background: #00907e;
  color: #ffffff;
}

.status {
  grid-area: status;
}

.sorting-criteria {
  grid-area: sortingCriteria;
}

#participantSearchAutoCompleteId {
  background-color: #ffffff;
}

.issue-list-filters .md-button.md-default-theme.md-raised:not([disabled]) md-icon, .md-button.md-raised:not([disabled]) md-icon {
  color: rgb(119, 119, 119);
}

.issue-list-filters md-input-container.md-default-theme {
  color: black;
  opacity: 0.54;
}

.issue-list-filters .md-autocomplete-participant {
  background-color: #ffffff !important;
}

.icon-cursor {
  cursor: pointer;
}

icon-move {
  cursor: move;
}

/* end style for issue-list-filters*/
