@media screen and (min-width: 360px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 17.2vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "activity-acronym      activity-button"
      "activity-name         activity-name";
  }

  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 23.5vh;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "activity-status     activity-date"
      "activity-status     activity-user-email"
      "activity-mode       activity-category"
      "activity-mode        activity-externalID"
      "activity-mode        activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 6vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      ".    activity-null"
      ".    activity-null";
  }

  .text-size {
    font-size: 3.3vw;
  }

  .margin-left {
    margin-left: 6px;
  }

  .layout-margin {
    margin: 8px 4px 0 4px;
  }

  .layout-margin-card {
    margin: 4px;
  }

  .margin-left-right {
    margin: 0 2px 4px 2px;
  }
}

@media screen and (min-width: 600px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 16vh;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }
  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 15.5vh;
    grid-template-columns: 0.2fr 0.2fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-status     activity-mode      activity-date      activity-user-email   activity-category    activity-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 12vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .layout-margin {
    margin: 8px 4px 8px 4px;
  }

  .layout-margin-card {
    margin: 4px;
  }

  .margin-left-right {
    margin: 0 8px 0 8px;
  }

  .text-size {
    font-size: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 8vh;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }
  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 6.5vh;
    grid-template-columns: 0.3fr 0.3fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-status     activity-mode      activity-date      activity-user-email   activity-category    activity-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 6vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .layout-margin {
    margin: 8px 4px 8px 4px;
  }

  .layout-margin-card {
    margin: 4px;
  }

  .margin-left-right {
    margin: 0 8px 0 8px;
  }

  .text-size {
    font-size: 2vw;
  }
}

@media screen and (min-width: 800px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 15vh;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }
  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 15.5vh;
    grid-template-columns: 0.2fr 0.2fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-status     activity-mode      activity-date      activity-user-email   activity-category    activity-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 12vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .layout-margin {
    margin: 8px 4px 8px 4px;
  }

  .layout-margin-card {
    margin: 4px;
  }

  .margin-left-right {
    margin: 0 8px 0 8px;
  }

  .text-size {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1024px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 8vh;
    grid-template-columns: 0.2fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }

  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 6vh;
    grid-template-columns: 0.15fr 0.15fr repeat(5, 0.8fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-status     activity-mode      activity-date      activity-user-email  activity-category   activity-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 5vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 2px;
  }

  .layout-margin {
    margin: 4px;
  }

  .layout-margin-card {
    margin: 4px;
  }

  .margin-left-right {
    margin: 0 20px 0 20px;
  }

  .text-size {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 1280px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 6vh;
    grid-template-columns: 0.2fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }

  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 4.5vh;
    grid-template-columns: 0.15fr 0.15fr repeat(5, 0.8fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-status     activity-mode      activity-date     activity-user-email   activity-category   activity-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 5vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 16px;
  }

  .layout-margin {
    margin: 16px 24px 2px 24px;
  }

  .layout-margin-card {
    margin: 0 28px 4px 28px;
  }

  .margin-left-right {
    margin: 0 24px 0 24px;
  }

  .text-size {
    font-size: 0.9vw;
  }
}

.margin-not-top {
  margin: 16px 0 0 16px;
}

.activity-acronym {
  grid-area: activity-acronym;
}

.activity-name {
  grid-area: activity-name;
}

.activity-category {
  grid-area: activity-category;
}

.activity-button {
  grid-area: activity-button;
}

.activity-list-layout:hover {
  background-color: rgba(158, 158, 158, 0.1);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.activity-null {
  grid-area: activity-null;
  color: gray;
}

.activity-status {
  grid-area: activity-status;
}

.activity-mode {
  grid-area: activity-mode;
}

.activity-date {
  grid-area: activity-date;
}

.activity-user-email {
  grid-area: activity-user-email;
}

.activity-externalID {
  grid-area: activity-externalID;
}

.activity-buttons {
  grid-area: activity-buttons;
}

md-chips.md-default-theme .md-chips,
md-chips .md-chips {
  box-shadow: 0 0 !important;
}

md-list {
  padding: 0;
}
