@media screen and (min-width: 360px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 12vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "activity-acronym      activity-button"
      "activity-name         activity-name";
  }

  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 21.5vh;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "activity-group-status     activity-group-date"
      "activity-group-status     activity-group-user-email"
      "activity-group-mode       activity-group-externalID"
      "activity-group-mode            activity-button"
      "activity-group-mode            activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 8vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      ".    activity-null"
      ".    activity-null";
  }

  .margin16 {
    margin: 0;
  }

  .layout-margin {
    margin: 8px 4px 0 4px;
  }

  .marginLeftRigh {
    margin: 0 2px 4px 2px;
  }
}

@media screen and (min-width: 600px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 15vh;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }
  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 15.5vh;
    grid-template-columns: 0.2fr 0.2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-group-status     activity-group-mode      activity-group-date      activity-group-user-email     activity-group-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 12vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 16px;
  }

  .layout-margin {
    margin: 8px 4px 8px 4px;
  }

  .marginLeftRigh {
    margin: 0 8px 0 8px;
  }
}

@media screen and (min-width: 768px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 8vh;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }
  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 6.5vh;
    grid-template-columns: 0.2fr 0.2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-group-status     activity-group-mode      activity-group-date      activity-group-user-email     activity-group-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 6vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 16px;
  }

  .layout-margin {
    margin: 8px 4px 8px 4px;
  }

  .marginLeftRigh {
    margin: 0 8px 0 8px;
  }
}

@media screen and (min-width: 800px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 15vh;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }
  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 15.5vh;
    grid-template-columns: 0.2fr 0.2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-group-status     activity-group-mode      activity-group-date      activity-group-user-email     activity-group-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 12vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 16px;
  }

  .layout-margin {
    margin: 8px 4px 8px 4px;
  }

  .marginLeftRigh {
    margin: 0 8px 0 8px;
  }
}

@media screen and (min-width: 1024px) {
   .stage-list-layout {
    display: grid;
    align-items: center;
    height: 10vh;
    grid-template-columns: 0.2fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }

  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 6.5vh;
    grid-template-columns: 0.15fr 0.15fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-group-status     activity-group-mode      activity-group-date      activity-group-user-email     activity-group-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 5vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 2px;
  }

  .layout-margin {
    margin: 8px;
  }

  .marginLeftRigh {
    margin: 0 20px 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .stage-list-layout {
    display: grid;
    align-items: center;
    height: 6vh;
    grid-template-columns: 0.2fr repeat(3, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "activity-acronym      activity-name      activity-name      activity-name     activity-button";
  }

  .activity-list-layout {
    display: grid;
    align-items: center;
    height: 4.5vh;
    grid-template-columns: 0.15fr 0.15fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "activity-group-status     activity-group-mode      activity-group-date      activity-group-user-email     activity-group-externalID     activity-button";
  }

  .activity-null-layout {
    display: grid;
    align-items: center;
    height: 5vh;
    grid-template-columns: 0.1fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ".    activity-null     activity-null    activity-null   activity-null";
  }

  .margin16 {
    margin: 16px;
  }

  .layout-margin {
    margin: 20px 24px 20px 24px;
  }

  .marginLeftRigh {
    margin: 0 20px 0 20px;
  }
}

.activity-acronym {
  grid-area: activity-acronym;
}

.activity-name {
  grid-area: activity-name;
}

.activity-buttom {
  grid-area: activity-buttom;
}

.activity-list-layout:hover {
  background-color: rgba(158, 158, 158, 0.1);
  transition: 0.3s;
}

.activity-null {
  grid-area: activity-null;
  color: gray;
}

.activity-group-status {
  grid-area: activity-group-status;
}

.activity-group-mode {
  grid-area: activity-group-mode;
}

.activity-group-date {
  grid-area: activity-group-date;
}

.activity-group-user-email {
  grid-area: activity-group-user-email;
}

.activity-group-externalID {
  grid-area: activity-group-externalID;
}

.activity-group-buttons {
  grid-area: activity-group-buttons;
}
