<link href="app/ux-component/activity/activity-stage-list/activity-stage-list.css" rel="stylesheet" type="text/css">

<md-content ng-cloak>
  <div class="layout-margin">
    <md-card>
      <h2 class="md-display-1" ng-show="$ctrl.stages.length == 0">
        Etapas Não Adicionada
      </h2>
      <md-list ng-repeat="stages in $ctrl.stages track by $index">
        <h2 class="md-headline margin-not-top">{{stages.stageName}}</h2>
        <md-list class="margin-left-right" ng-repeat="activity in stages.acronyms track by $index">
          <div class="stage-list-layout">
            <div class="activity-acronym" layout="row" layout-align="center center" layout-align-xs="start center">
              <md-chips layout-padding="">
                <md-chip>
                  <strong>{{activity.acronym}}</strong>
                </md-chip>
              </md-chips>
            </div>
            <div class="activity-name" layout="row" layout-align-xs="center center">
              <span class="md-title">{{activity.name}}</span>
            </div>
            <div class="activity-button" layout="row" layout-align="end center">
              <md-button class="md-icon-button md-accent" ng-click="">
                <md-icon md-svg-icon="plus"></md-icon>
                <md-tooltip md-direction="top">
                  Adicionar Atividade
                </md-tooltip>
              </md-button>
            </div>
          </div>
          <md-card class="activity-null-layout" ng-show="!activity.activities">
            <div class="activity-null">
              <p>Nenhuma Atividade Adicionada</p>
            </div>
          </md-card>
          <md-card class="activity-list-layout" ng-repeat="item in activity.activities track by $id(item)"
            ng-mouseover="item.actionButtons = $id" ng-mouseleave="item.actionButtons = false">
            <div class="activity-group-status" layout="row" layout-align="center center">
              <md-icon md-font-set="material-icons" ng-style="{color: item.lastStatus.status.color}">
                {{item.lastStatus.status.icon}}</md-icon>
              <md-tooltip md-direction="top">
                {{item.lastStatus.status.label}}
              </md-tooltip>
            </div>
            <div class="activity-group-mode" layout="row" layout-align="center center">
              <md-icon md-font-set="material-icons">{{item.lastStatus.mode.icon}}</md-icon>
              <md-tooltip md-direction="top">
                {{item.lastStatus.mode.label}}
              </md-tooltip>
              </md-icon>
            </div>
            <div class="activity-group-date" layout="row" layout-align="center center">
              <span class="md-body-2">{{item.lastStatus.realizationDate}}</span>
            </div>
            <div class="activity-group-user-email" layout="row" layout-align="center center">
              <span class="md-body-2">{{item.lastStatus.user.email}}</span>
            </div>
            <div class="activity-group-externalID" layout="row" layout-align="center center">
              <span class="md-body-2">{{item.externalId}}</span>
            </div>
            <div class="activity-button" layout="row" layout-align="end center" layout-align-xs="space-around center"
              ng-show="$id == item.actionButtons">
              <md-button class="md-icon-button md-warn" aria-label="Excluir"
                ng-click="$ctrl.deleteSelectedActivity(item)">
                <md-tooltip md-direction="top">Excluir</md-tooltip>
                <md-icon md-font-set="material-icons" aria-label="Excluir">delete</md-icon>
              </md-button>
              <md-button class="md-accent md-icon-button" aria-label="Preencher Atividade"
                ng-click="$ctrl.fillSelectedActivity(item)" ng-show="$ctrl.showFillingButton(item.mode)">
                <md-tooltip md-direction="top">Preencher Atividade</md-tooltip>
                <md-icon md-svg-icon="clipboard-check" aria-label="Preencher Atividade"></md-icon>
              </md-button>
            </div>
          </md-card>
        </md-list>
        <md-divider ng-hide="$index == $ctrl.stages.length -1"></md-divider>
      </md-list>
      <md-divider ng-hide="$index == $ctrl.stages.length -1"></md-divider>
    </md-card>
  </div>
</md-content>
