<link href="app/ux-component/activity/activity-stage-list/activity-stage-list.css" rel="stylesheet" type="text/css">

<md-content ng-cloak>
  <div class="margin-layout">
    <md-card>
      <h2 class="md-display-1" ng-show="$ctrl.stages.length == 0">
        Etapas Não Adicionada
      </h2>
      <md-list ng-repeat="stages in $ctrl.stages track by $index">
        <div class="margin-not-top" layout="row" layout-align="start center">
          <span class="md-headline new-chip-white" layout-padding ng-show="stages.stageName"
            ng-style="{ 'background': '{{$ctrl.colorStage}}'}">{{stages.stageName}}</span>
          <span class="md-headline new-chip-white" layout-padding ng-show="!stages.stageName" layout-padding
            ng-style="{ 'background': '{{$ctrl.colorStage}}'}">Atividades sem Etapas</span>
        </div>
        <md-list class="margin-bottom" ng-repeat="activity in stages.acronyms track by $id(activity)"
          ng-mouseover="activity.actionButton = $id" ng-mouseleave="activity.actionButton = false">
          <div class="stage-list-layout">
            <div class="activity-acronym" layout="row" layout-align="center center" layout-align-xs="start center">
              <md-chips>
                <md-chip>
                  <span class="md-body-2 text-size">{{activity.acronym}}</span>
                </md-chip>
              </md-chips>
            </div>
            <div class="activity-name" layout="row" layout-align-xs="center center">
              <span class="md-title text-size margin-left">{{activity.name}}</span>
            </div>
            <div class="activity-button" layout="row" layout-align="end center">
              <md-button class="md-icon-button md-accent" ng-show="$id == activity.actionButton" ng-click="">
                <md-icon md-svg-icon="plus"></md-icon>
                <md-tooltip md-direction="top">
                  Adicionar Atividade
                </md-tooltip>
              </md-button>
            </div>
          </div>
          <md-card class="activity-null-layout" ng-show="!activity.activities">
            <div class="activity-null">
              <p>Nenhuma Atividade Adicionada</p>
            </div>
          </md-card>
          <md-card class="activity-list-layout" ng-repeat="item in activity.activities track by $id(item)"
            ng-mouseover="item.actionButtons = $id" ng-mouseleave="item.actionButtons = false">
            <div class="activity-status" layout="row" layout-align="center center">
              <md-icon md-font-set="material-icons" ng-style="{color: item.lastStatus.status.color}">
                {{item.lastStatus.status.icon}}</md-icon>
              <md-tooltip md-direction="top">
                {{item.lastStatus.status.label}}
              </md-tooltip>
            </div>
            <div class="activity-mode" layout="row" layout-align="center center">
              <md-icon md-font-set="material-icons">{{item.lastStatus.mode.icon}}</md-icon>
              <md-tooltip md-direction="top">
                {{item.lastStatus.mode.label}}
              </md-tooltip>
              </md-icon>
            </div>
            <div class="activity-date" layout="row" layout-align="center center">
              <span class="md-caption" ng-style="{ color: '#797985' }" hide-xs hide-sm>Criado em <small
                  class="md-body-2" ng-style="{color:'black'}">{{item.lastStatus.realizationDate}}</small></span>
              <span class="md-body-2" hide-gt-md>{{item.lastStatus.realizationDate}}</span>
              <md-tooltip md-direction="top">
                Data de realização
              </md-tooltip>
            </div>
            <div class="activity-user-email" layout="row" layout-align="center center">
              <span class="md-caption" ng-style="{ color: '#797985' }" hide-xs hide-sm>por <small class="md-body-2"
                  ng-style="{color:'black'}">{{item.lastStatus.user.email}}</small></span>
              <span class="md-body-2" hide-gt-md>{{item.lastStatus.user.email}}</span>
              <md-tooltip md-direction="top">
                Realizado por
              </md-tooltip>
            </div>
            <div class="activity-category" layout="row" layout-align="center center">
              <span class="md-body-2">{{item.category}}</span>
              <md-tooltip md-direction="top">
                Categoria
              </md-tooltip>
            </div>
            <div class="activity-externalID" layout="row" layout-align="center center">
              <span class="md-body-2">{{item.externalId}}</span>
              <md-tooltip md-direction="top">
                ID Externo
              </md-tooltip>
            </div>
            <div class="activity-button" layout="row" layout-align="end center" layout-align-xs="space-around center"
              ng-show="$id == item.actionButtons">
              <md-button class="md-icon-button md-warn" aria-label="Excluir"
                ng-click="$ctrl.deleteSelectedActivity(item)">
                <md-tooltip md-direction="top">Excluir</md-tooltip>
                <md-icon md-font-set="material-icons" aria-label="Excluir">delete</md-icon>
              </md-button>
              <md-button class="md-accent md-icon-button" aria-label="Preencher Atividade"
                ng-click="$ctrl.fillSelectedActivity(item)" ng-show="$ctrl.showFillingButton(item.mode)">
                <md-tooltip md-direction="top">Preencher Atividade</md-tooltip>
                <md-icon md-svg-icon="clipboard-check" aria-label="Preencher Atividade"></md-icon>
              </md-button>
            </div>
          </md-card>
        </md-list>
        <md-divider class="margin-bottom" ng-hide="$index == $ctrl.stages.length -1">
        </md-divider>
      </md-list>
    </md-card>
  </div>
</md-content>
