<md-content>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title"><md-icon>fact_check</md-icon> Recebimento de material biológico</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content flex-offset="5">
      <span class="md-subhead" ng-if="!$ctrl.hasCurrLot()">Não há transporte atual</span>
      <!--metadatas-->
      <div layout="column" ng-if="$ctrl.hasCurrLot()">
        <md-card-title style="padding-left: 0;">
          <md-card-title-text>
            <span class="md-subtitle">Origem: {{ $ctrl.currLot.origin }} - Destino: {{ $ctrl.currLot.destination }}</span>
          </md-card-title-text>
        </md-card-title>
        <div layout="row" layout-align="start start" layout-align-xs="start center" layout-wrap flex>
          <div flex-gt-sm="30" flex-xs="100" flex-gt-xs="100" ng-repeat="metadata in $ctrl.metadataList track by $index">
            <md-checkbox ng-click="$ctrl.selectMetadata(metadata._id)">
              {{ metadata.value }}
            </md-checkbox>
          </div>
        </div>
        <md-input-container>
          <label>Outro</label>
          <input ng-model="$ctrl.otherMetadata"/>
        </md-input-container>
      </div>
    </md-card-content>
    <md-card-actions align="end" ng-show="$ctrl.hasCurrLot()">
      <md-button class="md-raised md-primary"
                 ng-click="$ctrl.receiveMaterial()">
        Receber
      </md-button>
    </md-card-actions>
  </md-card>
  <md-card ng-if="$ctrl.hasMaterialTrackingList()">
    <md-card-title>
      <md-card-title-text layout="row" layout-align="space-between center">
        <span class="md-title"><md-icon>history</md-icon> Histórico de recebimentos</span>
        <md-button class="md-icon-button"
                   ng-click="$ctrl.expandTab()">
          <md-icon ng-show="!$ctrl.expanded">
            expand_more
          </md-icon>
          <md-icon ng-show="$ctrl.expanded">
            expand_less
          </md-icon>
        </md-button>
      </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="$ctrl.expanded">
      <!--history items-->
      <md-card ng-repeat="material in $ctrl.materialTrackingList">
        <md-card-title>
          <md-card-title-text>
            <span class="md-subtitle">Origem: {{material.origin}} - Destino: {{material.destination}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="column">
            <div layout="row" layout-align="start start" layout-align-xs="start center" layout-wrap flex>
              <div flex-gt-sm="30" flex-xs="100" flex-gt-xs="100" ng-repeat="metadata in $ctrl.metadataList track by $index">
                <md-checkbox ng-checked="$ctrl.isMetadataChecked(material, metadata)" disabled="">
                  {{ metadata.value }}
                </md-checkbox>
              </div>
            </div>
            <md-input-container>
              <label>Outro</label>
              <input ng-model="material.otherMetadata"  disabled=""/>
            </md-input-container>
            <span class="md-subhead">
              Responsável: {{material.receiveResponsible}}
            </span>
            <span class="md-subheader">
              Enviado: {{material.sendingDate | date:'dd/MM/yyyy - h:mm'}} -
              Recebido: {{material.receiptDate | date:'dd/MM/yyyy - h:mm'}}
            </span>
          </div>
        </md-card-content>
      </md-card>
    </md-card-content>
  </md-card>
</md-content>
