<div>
  <otus-dashboard-sidenav layout="row">
    <hide-participant-box></hide-participant-box>
  </otus-dashboard-sidenav>
  <otus-dashboard-toolbar layout="row" flex="">
    <div flex layout="row" layout-align="center center" layout-margin>
      <span layout-align="center center">Laboratórios desvinculados</span>
    </div>
  </otus-dashboard-toolbar>
  <div layout="column">
    <div layout="column" flex>
      <div layout="row" layout-xs="column" layout-align="center">
        <md-input-container class="remove-errors-spacer" ng-if="!$ctrl.userHaveCenter"
                            style="margin-left:15px;min-width: 150px">
          <label class="md-subheader">Grupo de controle:</label>
          <md-select ng-model="$ctrl.collectGroupsFilter" ng-change="$ctrl.onFilter()">
            <md-tooltip>
              Grupo de coleta
            </md-tooltip>
            <md-option ng-repeat="collectGroup in $ctrl.collectGroups track by $index" value="{{collectGroup}}">
              {{collectGroup}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="remove-errors-spacer" ng-if="!$ctrl.userHaveCenter"
                            style="margin-left:15px;min-width: 150px">
          <label class="md-subheader">Centro:</label>
          <md-select ng-model="$ctrl.centerFilter" ng-change="$ctrl.onFilter()"
                     ng-disabled="$ctrl.centerFilterDisabled">
            <md-tooltip>
              Centro
            </md-tooltip>
            <md-option ng-repeat="center in $ctrl.centers track by $index" value="{{center}}">
              {{center}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>
</div>
<md-content flex>
  <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-cols-md="3"  md-cols-lg="4" md-cols-xl="6"
                md-cols-gt-md="6" md-row-height-gt-md="8:4" md-row-height-sm="3:2" md-row-height-md="4:4"
                md-row-height-lg="6:4"
                md-row-height="6:2" md-row-height-xs="3:2" md-row-height-xl="4:3.7" md-gutter-gt-md="14px"
                md-gutter="12px" md-gutter-sm="6px">
    <md-grid-tile ng-repeat="unattachedLaboratory in $ctrl.unattachedLaboratoryList"
                  name="unattachedLaboratory{{$index}}"
                  id="unattachedLaboratory{{$index}}"
                  aria-label="unattachedLaboratory{{$index}}"
                  md-rowspan="1" md-colspan="1" md-colspan-xl="1" md-colspan-lg="1" md-colspan-md="1"
                  md-colspan-sm="1" md-colspan-xs="1" md-whiteframe="3">
      <unattached-laboratory laboratory-data="unattachedLaboratory" layout="column" flex></unattached-laboratory>
    </md-grid-tile>
  </md-grid-list>
</md-content>
