<md-list flex>
  <md-list-item class="md-1-line list-header">
    <div class="md-list-item-text" layout="column" flex>
      <md-content layout="row" layout-align="start center" layout-padding>
        <span layout="column">Nome</span>
      </md-content>
    </div>
    <div class="md-list-item-text" layout="column" flex="10">
      <md-content layout="row" layout-align="start center">
        <span layout="column">Acrônimo</span>
      </md-content>
    </div>

    <div class="md-list-item-text" layout="column" flex="20">
      <md-content layout="row" layout-align="start center">
        <span layout="column">Data de realização</span>
      </md-content>
    </div>
    <div class="md-list-item-text" layout="column" flex="20">
      <md-content layout="row" layout-align="start center">
        <span layout="column">Aferido por</span>
      </md-content>
    </div>

    <div class="md-list-item-text" layout="column" flex="10">
      <md-content layout="row" layout-align="start center">
        <span layout="column"></span>
      </md-content>
    </div>
    <md-divider></md-divider>
  </md-list-item>

  <md-list-item class="md-1-line" ng-repeat="activity in $ctrl.activities | orderBy:'name'">
    <div class="md-list-item-text" layout="column" flex>
      <md-content layout="row" layout-align="start center">
        <span layout="column">{{ activity.name }}</span>
      </md-content>
    </div>
    <div class="md-list-item-text" layout="column" flex="10">
      <md-content layout="row" layout-align="start center">
        <span layout="column">{{ activity.acronym }}</span>
      </md-content>
    </div>

    <div class="md-list-item-text" layout="column" flex="20">
      <md-content layout="row" layout-align="start center">
        <md-input-container layout="column">
          <input ng-model="activity.realizationDate" />
        </md-input-container>
      </md-content>
    </div>
    <div class="md-list-item-text" layout="column" flex="20">
      <md-content layout="row" layout-align="start center">
        <md-autocomplete layout="column" ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Informe aferidor (a)">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No states matching "{{ctrl.searchText}}" were found.
            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
      </md-content>
    </div>

    <div class="md-list-item-text" layout="column" flex="10">
      <md-content layout="row" layout-align="start center">
        <md-checkbox ng-click="$ctrl.selectActivity(activity)" layout="column" aria-label="Selecionar"></md-checkbox>
      </md-content>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list flex>
