<div hide-xs layout="row" layout-xs="column" ng-style="{'margin': '0 auto', 'max-width': '940px'}">
  <div layout="row" layout-sm="column" layout-md="column" layout-align="center center" flex>
    <div layout-md="row" layout-gt-md="row" layout-align="center center" flex>
      <md-input-container class="remove-errors-spacer">
        <md-button ng-show="$ctrl.userAccessToLaboratory.sampleTransportationAccess"  ng-click="$ctrl.sampleTransportDashboard()" layout-align="center" layout-margin="">
          <md-icon>local_shipping</md-icon>Transporte de amostra
        </md-button>
      </md-input-container>
      <md-input-container ng-show="$ctrl.userAccessToLaboratory.unattachedLaboratoriesAccess" class="remove-errors-spacer">
        <md-button ng-click="$ctrl.unattachedLaboratory()" layout-align="center" layout-margin="">
          <md-icon>event_available</md-icon>Laboratório desvinculado
        </md-button>
      </md-input-container>
    </div>
    <div layout-md="row" layout-gt-md="row" layout-align="center center" flex>
      <md-input-container ng-show="$ctrl.userAccessToLaboratory.examLotsAccess" class="remove-errors-spacer">
        <md-button ng-click="$ctrl.examsDashboard()" layout-align="center" layout-margin="">
          <md-icon>event_note</md-icon>Lotes de exames
        </md-button>
      </md-input-container>
      <md-input-container ng-show="$ctrl.userAccessToLaboratory.examSendingAccess" class="remove-errors-spacer">
        <md-button ng-click="$ctrl.sendingExam()" layout-align="center" layout-margin="">
          <md-icon>event_available</md-icon>Envios de exames
        </md-button>
      </md-input-container>
    </div>
  </div>
</div>
<!--      Laboratory-->
<md-fab-speed-dial hide-gt-xs md-direction="down" class="md-scale" flex>
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-accent">
      acessar laboratorios
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions style="position: absolute; top: 40px">
      <span layout="row" layout-align="center center">
        <md-button class="md-raised md-primary"
                   ng-show="$ctrl.userAccessToLaboratory.sampleTransportationAccess"
                   ng-click="$ctrl.sampleTransportDashboard()">
        <md-icon>local_shipping</md-icon>Transporte de amostra
        </md-button>
      </span>
      <span layout="row" layout-align="center center">
        <md-button class="md-raised md-primary"
                   ng-show="$ctrl.userAccessToLaboratory.unattachedLaboratoriesAccess"
                   ng-click="$ctrl.unattachedLaboratory()">
         <md-icon>event_available</md-icon>Laboratório desvinculado
        </md-button>
      </span>
      <span layout="row" layout-align="center center">
        <md-button class="md-raised md-primary"
                   ng-show="$ctrl.userAccessToLaboratory.examLotsAccess"
                   ng-click="$ctrl.examsDashboard()">
        <md-icon>event_note</md-icon>Lotes de exames
        </md-button>
      </span>
      <span layout="row" layout-align="center center">
        <md-button class="md-raised md-primary"
                   ng-show="$ctrl.userAccessToLaboratory.examSendingAccess"
                   ng-click="$ctrl.sendingExam()">
        <md-icon>event_available</md-icon>Envios de exames
        </md-button>
      </span>
  </md-fab-actions>
</md-fab-speed-dial>
