<md-card id="groups-container" flex="50" flex-sm="100">
  <div>
    <span layout-padding="" layout="row" layout-align="start center" flex="">{{$ctrl.offlineCollectionGroupData.observation}}</span>
    <div layout="row" layout-xs="column" layout-align="start center">
      <span class="md-title" layout-padding>Vincular coletas<span hide-xs hide-sm>:</span></span>
      <md-input-container class="remove-errors-spacer">
        <label>Número de recrutamento</label>
        <input ng-model="$ctrl.recruitmentNumber" type="number" min="0" step="1">
      </md-input-container>
      <md-button class="md-icon-button md-primary" ng-click="$ctrl.synchronizeOfflineActivities()"
                 aria-label="More">
        <md-icon>compare_arrows</md-icon>
      </md-button>
    </div>
  </div>
  <div ng-repeat="collection in $ctrl.offlineCollectionGroupData.collections">
    <offline-activity-collection layout-margin offline-collection-data="collection"
                                 layout="row"
                                 layout-align="center center" flex></offline-activity-collection>
  </div>
</md-card>