otus-user-comment-about-participant-dashboard-list {
  @media screen and (min-width: 360px) {
    .comment-list-layout {
      display: grid;
      height: auto;
      padding-top: 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      grid-template-columns: repeat(4, 0.8fr) repeat(2, 0.1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "comment-name  comment-name  comment-name comment-status comment-status comment-date"
        "comment-text  comment-text comment-text comment-text  comment-button comment-button-menu";
    }

    .comment-list-null {
      display: grid;
      max-height: 15vh;
      align-items: center;
      padding-top: 0;
      grid-template-columns: 0.05fr 1fr 0.05fr;
      grid-template-rows: auto;
      grid-template-areas: "comment-null comment-null comment-null";
    }

    .layout-uc {
      height: auto;
    }

    .icon-size {
      font-size: 2em;
      height: auto;
      width: auto;
    }

    .md-headline {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  @media screen and (min-width: 410px) {
    .comment-box {
      line-height: 6em;
    }
  }

  @media screen and (min-width: 1024px) {
    .comment-list-layout {
      display: grid;
      height: auto;
      padding-top: 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      grid-template-columns: repeat(2, 1fr) repeat(3, 0.09fr);
      grid-template-rows: auto;
      grid-template-areas:
        "comment-name  comment-name   comment-status  comment-status    comment-date"
        "comment-text  comment-text   comment-text    comment-button  comment-button-menu";
    }
  }

  @media screen and (min-width: 1200px) {
    .comment-list-layout {
      display: grid;
      max-height: 15vh;
      padding-top: 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      grid-template-columns: 1fr 0.8fr repeat(3, 0.09fr);
      grid-template-rows: auto;
      grid-template-areas:
        "comment-name  comment-name  comment-status  comment-date   comment-date"
        "comment-text  comment-text  comment-text    comment-button comment-button-menu";
    }

    .comment-list-null {
      display: grid;
      max-height: 15vh;
      align-items: center;
      padding-top: 0;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "comment-null comment-null comment-null";
    }

    .layout-uc {
      padding-left: 16px;
      padding-right: 16px;
      height: auto;
    }

    .icon-size {
      font-size: 1.5em;
      height: auto;
      width: auto;
    }

    .comment-box {
      line-height: 2em;
    }

    .md-headline {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
    }
  }

  .margin-line {
    margin: 1px;
  }

  .comment-null {
    grid-area: comment-null;
    margin-bottom: 16px;
  }

  .comment-name {
    grid-area: comment-name;
    align-items: center;
  }

  .comment-text {
    grid-area: comment-text;
    align-items: start;
    cursor: pointer;
  }

  .comment-button {
    grid-area: comment-button;
  }

  .comment-button-menu {
    grid-area: comment-button-menu;
  }

  .comment-status {
    grid-area: comment-status;
  }

  .comment-date {
    grid-area: comment-date;
  }

  md-list {
    padding: 0;
  }

  .comment-textarea {
    max-width: 100vw;
  }

  .md-body-1 {
    color: rgba(0, 0, 0, 0.6);
  }

  .md-button {
    min-width: auto;
  }

  @mixin trim($numLines: null) {
    @if $numLines != null {
      display: -webkit-box;
      -webkit-line-clamp: $numLines;
      -webkit-box-orient: vertical;
      overflow: hidden;
    } @else {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }

  .viewAll {
    font-size: 10px;
    margin-top: 10px;
    line-height: 16px;
  }

  .ellipsis {
    @include trim(3);
  }
}
