<div class="layout-uc">
  <md-list class="comment-list-layout" ng-repeat="item in $ctrl.items track by $id(item)">
    <div class="comment-name" layout="row" layout-align="start center">
      <p class="ng-binding md-body-2 margin-line" md-truncate>{{item.userName}}</p>
    </div>
    <div class="comment-status" layout="row" ng-show="item.edited" layout-align="center center">
      <p class="md-caption margin-line" ng-style="{ color: '#797985' }">Editado</p>
      <md-tooltip md-direction="top">
        Comentário foi editado
      </md-tooltip>
    </div>
    <div class="comment-date" layout="row" layout-align-gt-sm="center center">
      <p class="md-caption ng-binding margin-line" ng-bind-html="$ctrl.getFormattedDate(item.creationDate)"></p>
      <md-tooltip md-direction="top">
        Data de realização
      </md-tooltip>
    </div>
    <div class="comment-text" layout="row" layout-align="start center">
      <p class="md-body-1 margin-line ellipsis">{{item.comment}}</p>
    </div>
    <div class="comment-button" layout="row" layout-align="center center">
      <md-button ng-click="$ctrl.showStarSelectedUserCommentAboutParticipant(item)">
        <md-tooltip md-direction="top">Favorito</md-tooltip>
        <md-icon layout="row" layout-align="center center" ng-style="$ctrl.colorStar(item.starred)"
          class="md-default-theme material-icons icon-size" aria-label="star"
          ng-bind-html="$ctrl.iconStar(item.starred)"></md-icon>
      </md-button>
    </div>
    <div class="comment-button-menu" layout="row" layout-align="center center">
      <md-button class="md-icon-button" ng-show="item.isCreator" aria-label="Menu"
        ng-click="$ctrl.viewPlusUserCommentAboutParticipant()">
        <md-tooltip md-direction="top">Menu</md-tooltip>
        <md-icon layout="row" layout-align="center center" md-font-set="material-icons" aria-label="Menu">more_vert
        </md-icon>
      </md-button>
    </div>
  </md-list>
</div>
</div>
