<div layout="row">
  <div layout="column" flex>
    <md-subheader class="md-no-sticky moment-type-title">
      Filtros de Pesquisa
    </md-subheader>
    <div layout="row" layout-xs="column"  layout-align="center">
      <md-input-container class="remove-errors-spacer" ng-if="!$ctrl.userHaveCenter" style="margin-left:15px;min-width: 150px">
        <label class="md-subheader">Centro de Realização:</label>
        <md-select ng-model="$ctrl.centerFilter" ng-change="$ctrl.onFilter()" ng-disabled="$ctrl.centerFilterDisabled">
          <md-tooltip >
            Centro responsável pela realização do exame
          </md-tooltip>
          <md-option ng-repeat="center in $ctrl.centers track by $index" value="{{center}}" ng-selected="$index == $ctrl.centerFilterSelectedIndex">
            {{center}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="remove-errors-spacer">
        <label>Período Inicial</label>
        <md-datepicker ng-model="$ctrl.realizationBeginFilter" ng-change="$ctrl.onFilter()" aria-label="Período Inicial"></md-datepicker>
      </md-input-container>
      <md-input-container class="remove-errors-spacer">
        <label>Período Fínal</label>
        <md-datepicker ng-model="$ctrl.realizationEndFilter" ng-change="$ctrl.onFilter()" aria-label="Período Final"></md-datepicker>
      </md-input-container>
      <md-input-container class="remove-errors-spacer" style="margin-left:15px;">
        <label class="md-subheader">Aliquota</label>
        <md-select ng-model="$ctrl.examFilter" ng-change="$ctrl.onFilter()">
          <md-option selected value="ALL">
            Todos
          </md-option>
          <md-option ng-repeat="exam in $ctrl.exams | orderBy:'label' track by $index " value="{{exam.name}}">
            {{exam.label}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
</div>
<md-divider></md-divider>
<div layout="column" flex>
  <md-content layout="column" flex>
    <md-list flex>
      <md-list-item class="md-1-line" style="margin-left:8px">
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">Código</span>
          </div>
        </div>
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">Exame</span>
          </div>
        </div>
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">Data de Realização</span>
          </div>
        </div>
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start " layout-padding>
            <span layout="column">Responsável</span>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-repeat="Lot in $ctrl.lotsList | orderBy: 'code' track by $index"
                    ng-class="{ 'selectedState': Lot.isSelected, 'regularState': !Lot.isSelected }"
                    ng-click="$ctrl.selectLot(Lot)">
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">{{ Lot.code }}</span>
          </div>
        </div>
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">{{ Lot.aliquotLabel }}</span>
          </div>
        </div>
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">{{ Lot.realizationDate | date:'dd/MM/yyyy - h:mm'}}</span>
          </div>
        </div>
        <div class="md-list-item-text" layout="column" flex>
          <div layout="row" layout-align="start center" layout-padding>
            <span layout="column">{{ Lot.operator}}</span>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>