<style>
  .option:hover {
    color: #000D11;
    cursor: pointer;
  }

  .header-home-options {
    background-color: #009588;
    font-weight: bold;
    color: #FFFFFF !important;
    min-height: 70px !important;
    max-height: 70px !important;
  }

  .card-button {
    margin-right: 8px;
  }

  .card-button:last-of-type {
    margin-right: 0;
  }

  .full-width{
    min-width: 90vw;
  }

  .first-menu-margin {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 1279px) {
    .first-menu-margin {
      margin-bottom: 0px;
      margin-right: 16px;
    }
  }
</style>
<md-content flex>
  <div layout="row" layout-xs="column" layout-align="end start" flex>

    <div layout="column" layout-align="start center" layout-align-xs="center center" layout-padding layout-fill flex="100">
      <div layout="row" ng-show="$ctrl.userAccessToParticipant.participantListAccess" layout-padding style="width: 100%;" layout-align="center center" >
        <div layout="column" layout-padding layout-align="center center">
          <otus-participant-search class="full-width" on-select="$ctrl.selectParticipant(participant)" show-all-participants="$ctrl.managerParticipantsDashboard()"
                                   show-all-participants-button="true" ng-disabled="!$ctrl.participantsReady" layout-fill on-ready="$ctrl.participantsReady">
          </otus-participant-search>
          <div ng-if="!$ctrl.showAllParticipantsButtoninsideSearch">
            <button class="md-accent md-raised md-button" ng-click="$ctrl.managerParticipantsDashboard()">EXIBIR TODOS PARTICIPANTES</button>
          </div>
        </div>
      </div>

      <!--    Menu buttons-->
      <div hide-xs layout="column" layout-sm="row" layout-md="row" layout-align="center center" layout-align-sm="center start" layout-align-md="center start">
        <!--    Laboratory buttons-->
        <div layout="column" layout-align="center center" class="first-menu-margin"
             ng-show="$ctrl.userAccessToActivity.offlineActivitySincAccess"
        >

          <div layout="row" layout-align="center center" layout-align-sm="start center" layout-align-md="start center">
            <md-button md-no-ink layout="row" disabled>
              <md-icon style="font-size:30px;color:#000000;">assignment</md-icon>
              <span class="md-header" layout-padding ><h2>ATIVIDADES</h2></span>
            </md-button>
          </div>

          <div layout="row" layout-sm="column" layout-md="column" ng-show="$ctrl.userAccessToActivity.offlineActivitySincAccess">
            <md-card class="card-button" ng-init="showLaboratory=true" layout-fill >
              <md-card-content class="no-padding" layout="column" layout-align="start start">
                <md-button ng-click="$ctrl.activateOfflineActivitySynchronize()" layout-align="center" layout-margin="">
                  <md-icon>wifi_off</md-icon>Sincronismo de atividades offline
                </md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>

        <!--    Laboratory buttons-->
        <div layout="column" layout-align="center center"
             ng-show="$ctrl.userAccessToLaboratory.sampleTransportationAccess ||
                      $ctrl.userAccessToLaboratory.examLotsAccess ||
                      $ctrl.userAccessToLaboratory.examSendingAccess ||
                      $ctrl.userAccessToLaboratory.unattachedLaboratoriesAccess ||
                      $ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess
                     "
             class="first-menu-margin">

          <div layout="row" layout-align="center center" layout-align-sm="start center" layout-align-md="start center">
            <md-button md-no-ink class="md-primary" layout="row" ng-show="$ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess" ng-click="$ctrl.activateLaboratoryMaterialManager()">
              <md-icon style="font-size:30px;" class="md-primary">colorize</md-icon>
              <span class="md-header" layout-padding><h2>LABORATÓRIO</h2></span>
            </md-button>

            <md-button md-no-ink disabled layout="row" ng-show="!$ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess" >
              <md-icon style="font-size:30px;color:#000000;" >colorize</md-icon>
              <span class="md-header" layout-padding><h2>LABORATÓRIO</h2></span>
            </md-button>
          </div>

          <div layout="row" layout-sm="column" layout-md="column">
            <md-card class="card-button" ng-init="showLaboratory=true" layout-fill
                     ng-show="$ctrl.userAccessToLaboratory.sampleTransportationAccess">
              <md-card-content class="no-padding" layout="column" layout-align="start start">
                <md-button ng-click="$ctrl.sampleTransportDashboard()" layout-align="center" layout-margin="">
                  <md-icon>local_shipping</md-icon>Transporte de amostra
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" ng-init="showLaboratory=true" layout-fill
                     ng-show="$ctrl.userAccessToLaboratory.examLotsAccess">
              <md-card-content class="no-padding" layout="column" layout-align="start start">
                <md-button ng-click="$ctrl.examsDashboard()" layout-align="center" layout-margin="">
                  <md-icon>event_note</md-icon>Lotes de exames
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" ng-init="showLaboratory=true" layout-fill
                     ng-show="$ctrl.userAccessToLaboratory.examSendingAccess">
              <md-card-content class="no-padding" layout="column" layout-align="start start" >
                <md-button ng-click="$ctrl.sendingExam()" layout-align="center" layout-margin="">
                  <md-icon>event_available</md-icon>Envios de exames
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" ng-init="showLaboratory=true" layout-fill
                     ng-show="$ctrl.userAccessToLaboratory.unattachedLaboratoriesAccess">
              <md-card-content class="no-padding" layout="column" layout-align="start start" >
                <md-button ng-click="$ctrl.unattachedLaboratory()" layout-align="center" layout-margin="">
                  <md-icon>event_available</md-icon>Laboratório desvinculado
                </md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>

        <!--      Monitoring buttons-->
        <div layout="column" layout-align="center center"
             ng-show="  $ctrl.userAccessToMonitoring.centerActivitiesAccess ||
                        $ctrl.userAccessToMonitoring.activityFlagsAccess ||
                        $ctrl.userAccessToMonitoring.laboratoryFlagsAccess ||
                        $ctrl.userAccessToMonitoring.laboratoryControlAccess ||
                        $ctrl.userAccessToMonitoring.pendencyVisualizerAccess
                        ">

          <div layout="row" layout-align="center center" layout-align-sm="start center" layout-align-md="start center">
            <md-button md-no-ink layout="row" disabled>
              <md-icon style="font-size:30px;color:#000000;">assessment</md-icon>
              <span class="md-header" layout-padding><h2>MONITORAMENTO</h2></span>
            </md-button>
          </div>

          <div layout="row" layout-sm="column" layout-md="column">
            <md-card class="card-button" layout-fill ng-show="$ctrl.userAccessToMonitoring.centerActivitiesAccess" >
              <md-card-content class="no-padding" layout="column" layout-align="start start">
                <md-button class="md-body-1 option" ng-click="$ctrl.startMonitoring()" layout-margin="">
                  <md-icon layout-margin>description</md-icon>Atividades do centro
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" layout-fill ng-show="$ctrl.userAccessToMonitoring.activityFlagsAccess">
              <md-card-content class="no-padding" layout="column" layout-align="start start">
                <md-button class="md-body-1 option" ng-click="$ctrl.activateActivityFlagsReport()" layout-margin=""
                           layout-align="center">
                  <md-icon layout-margin>flag</md-icon>Flags para Atividades
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" layout-fill ng-show="$ctrl.userAccessToMonitoring.laboratoryFlagsAccess">
              <md-card-content class="no-padding" layout="column" layout-align="start start">
                <md-button class="md-body-1 option"
                           ng-click="$ctrl.laboratoryActivityFlagsReport()"
                           layout-margin="" layout-align="center">
                  <md-icon layout-margin>flag</md-icon>Flags para Laboratório
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" layout-fill ng-show="$ctrl.userAccessToMonitoring.laboratoryControlAccess">
              <md-card-content layout="column" layout-align="start start" class="no-padding">
                <md-button class="md-body-1 option" layout-margin="" layout-align="center"
                           ng-click="$ctrl.laboratoryMonitoring()">
                  <md-icon layout-margin>assignment_turned_in</md-icon>Controle laboratorial
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" layout-fill ng-show="$ctrl.userAccessToMonitoring.pendencyVisualizerAccess">
              <md-card-content layout="column" layout-align="start start" class="no-padding">
                <md-button class="md-body-1 option" layout-margin="" layout-align="center"
                           ng-click="$ctrl.activatePendencyViewer()">
                  <md-icon layout-margin>visibility</md-icon>Visualizador de Pendências
                </md-button>
              </md-card-content>
            </md-card>

            <md-card class="card-button" layout-fill ng-init="showLaboratory=true" >
              <md-card-content layout="column" layout-align="start start" class="no-padding">
                <md-button class="md-body-1 option" layout-margin="" layout-align="center"
                           ng-click="$ctrl.activateIssueViewer()" id="issueViewer">
                  <md-icon layout-margin>mail</md-icon>Visualizador de Chamados
                </md-button>
              </md-card-content>
            </md-card>

          </div>
        </div>
      </div>

      <!--    Menu buttons Mobile-->
      <div hide-gt-xs layout="column" layout-align="start start" >
        <md-card ng-show="$ctrl.userAccessToActivity.offlineActivitySincAccess ||
                      $ctrl.userAccessToActivity.participantActivityAccess" class="card-button" layout-fill >
          <md-card-content  layout="row" layout-align="center center">
            <md-icon>assignment</md-icon>ATIVIDADES
            <div class="md-menu-demo" ng-cloak>
              <div class="menu-demo-container" layout-align="center center" layout="column">
                <md-menu>
                  <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                  </md-button>
                  <md-menu-content ng-show="$ctrl.userAccessToActivity.offlineActivitySincAccess"
                                   width="3">
                    <md-menu-item>
                      <md-button ng-click="$ctrl.activateOfflineActivitySynchronize()">
                        <md-icon>wifi_off</md-icon>Sincronismo de atividades offline
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </md-card-content>
        </md-card>
        <!--      Laboratory-->
        <md-card class="card-button" layout-fill ng-show="$ctrl.userAccessToLaboratory.sampleTransportationAccess ||
                 $ctrl.userAccessToLaboratory.examLotsAccess ||
                 $ctrl.userAccessToLaboratory.examSendingAccess ||
                 $ctrl.userAccessToLaboratory.unattachedLaboratoriesAccess ||
                 $ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess">
          <md-card-content layout="row" layout-align="center center">
            <md-icon class="md-primary" ng-show="$ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess">colorize</md-icon>
            <md-button ng-show="$ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess" md-no-ink class="md-primary" ng-click="$ctrl.activateLaboratoryMaterialManager()">LABORATÓRIO</md-button>
            <md-icon  ng-show="!$ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess">colorize</md-icon>
            <md-button ng-show="!$ctrl.userAccessToLaboratory.laboratoryMaterialManagerAccess" md-no-ink class="md-primary" disabled>LABORATÓRIO</md-button>
            <div class="md-menu-demo" ng-cloak>
              <div class="menu-demo-container" layout-align="center center" layout="column">
                <md-menu>
                  <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <md-menu-item ng-show="$ctrl.userAccessToLaboratory.sampleTransportationAccess">
                      <md-button ng-click="$ctrl.sampleTransportDashboard()">
                        <md-icon>local_shipping</md-icon>Transporte de amostra
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                      <md-button ng-show="$ctrl.userAccessToLaboratory.examLotsAccess" ng-click="$ctrl.examsDashboard()">
                        <md-icon layout-margin>event_note</md-icon>Lotes de exames
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-show="$ctrl.userAccessToLaboratory.examSendingAccess">
                      <md-button ng-click="$ctrl.sendingExam()">
                        <md-icon layout-margin>event_available</md-icon>Envios de exames
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-show="$ctrl.userAccessToLaboratory.unattachedLaboratoriesAccess">
                      <md-button ng-click="$ctrl.unattachedLaboratory()">
                        <md-icon layout-margin>event_available</md-icon>Laboratório desvinculado
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </md-card-content>
        </md-card>
        <!--        Monitoring-->
        <md-card class="card-button" layout-fill
                 ng-show="$ctrl.userAccessToMonitoring.centerActivitiesAccess ||
                        $ctrl.userAccessToMonitoring.activityFlagsAccess ||
                        $ctrl.userAccessToMonitoring.laboratoryFlagsAccess ||
                        $ctrl.userAccessToMonitoring.laboratoryControlAccess ||
                        $ctrl.userAccessToMonitoring.pendencyVisualizerAccess
                        ">
          <md-card-content layout="row" layout-align="center center">
            <md-icon>assessment</md-icon>MONITORAMENTO
            <div class="md-menu-demo" ng-cloak>
              <div class="menu-demo-container" layout-align="center center" layout="column">
                <md-menu>
                  <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <md-menu-item ng-show="$ctrl.userAccessToMonitoring.centerActivitiesAccess">
                      <md-button ng-click="$ctrl.startMonitoring()" layout-margin class="md-body-1 option ">
                        <md-icon layout-margin>description</md-icon>Atividades do centro
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-show="$ctrl.userAccessToMonitoring.activityFlagsAccess">
                      <md-button ng-click="$ctrl.activateActivityFlagsReport()" class="md-body-1 option" layout-margin=""
                                 layout-align="center">
                        <md-icon layout-margin>flag</md-icon>Flags para Atividades
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-show="$ctrl.userAccessToMonitoring.laboratoryFlagsAccess">
                      <md-button ng-click="$ctrl.laboratoryActivityFlagsReport()"
                                 class="md-body-1 option" layout-margin="" layout-align="center">
                        <md-icon layout-margin>flag</md-icon>Flags para Laboratório
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-show="$ctrl.userAccessToMonitoring.laboratoryControlAccess">
                      <md-button ng-click="$ctrl.laboratoryMonitoring()"
                                 class="md-body-1 option" layout-margin="" layout-align="center">
                        <md-icon layout-margin>assignment_turned_in</md-icon>Controle laboratorial
                      </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="$ctrl.userAccessToMonitoring.pendencyVisualizerAccess">
                      <md-button ng-click="$ctrl.activatePendencyViewer()"
                                 class="md-body-1 option" layout-margin="" layout-align="center">
                        <md-icon layout-margin>visibility</md-icon>Visualizador de pendências
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-init="showLaboratory=true">
                      <md-button class="md-body-1 option" layout-margin="" layout-align="center"
                                 ng-click="$ctrl.activateIssueViewer()" id="issueViewer-xs">
                        <md-icon layout-margin>mail</md-icon>Visualizador de Chamados
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>

      <br>

      <!--    Activity Pendency List-->
      <otus-dashboard-pendency layout="column"  layout-align="center center"
                               layout-fill layout-padding flex >
      </otus-dashboard-pendency>
    </div>
    <span flex flex-xs="0"></span>
  </div>
</md-content>
