<style>
  .dialog-layout {
    width: 30vw;
    background-color: #f3f3f3;
  }

  .content-share {
    padding: 0.5em;
  }

  md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none;
  }

  .activity-creation-form-layout {
    display: flex;
    flex-flow: column wrap;
  }

  .date-container {
    display: flex;
    flex-flow: column;
    margin-top: 1em;
  }

  .small-titles {
    color: #717171;
    margin: .8em 5px;
  }

  .small-title-date {
    color: #717171;
    margin: .8em 0px 0px 5px;
  }

  .checker-input {
    display: flex;
    flex-flow: column;
  }

  .external-id-input {
    display: flex;
    flex-flow: column;

  }

  .date-input {
    display: flex;
  }

</style>

<md-dialog class="dialog-layout">
  <md-toolbar class="md-primary md-toolbar-tools">
    <span class="md-subhead">{{ $ctrl.dialogValues.titles.dialogToTitle }}</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.data.cancel() "
               aria-label={{$ctrl.dialogValues.buttons.closeDialog.ariaLabel}}>
      <md-icon aria-label={{$ctrl.dialogValues.buttons.closeDialog.ariaLabel}}>
        {{$ctrl.dialogValues.buttons.closeDialog.icon}}
      </md-icon>
      <md-tooltip md-direction="bottom">
        {{$ctrl.dialogValues.buttons.closeDialog.tooltip}}
      </md-tooltip>
    </md-button>
  </md-toolbar>

  <md-dialog-content class="content-share">
    <div layout="column" layout-margin>

      <div layout="row" layout-align="space-between center">
        <md-chips>
          <md-chip class="md-body-2">{{ $ctrl.preActivityArtefacts.surveyForm.acronym }}</md-chip>
        </md-chips>
        <span class="md-body-1">{{ $ctrl.preActivityArtefacts.surveyForm.name }}</span>
        <span></span>
      </div>

      <form class="activity-creation-form-layout" name="$ctrl.activityCreationForm" ng-submit="$ctrl.createActivity()"
            novalidate>
        <md-input-container>
          <label>Tipo</label>
          <md-select class="form-control"
                     aria-label="Tipo de Atividades"
                     ng-model="$ctrl.preActivityArtefacts.mode" required>
            <md-option ng-repeat="type in $ctrl.optionModes track by $index"
                       ng-selected="type.isDefault"
                       ng-value="type.mode">{{type.label | uppercase}}
            </md-option>

          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Categoria</label>
          <md-select class="form-control"
                     aria-label="Categoria"
                     ng-model="$ctrl.preActivityArtefacts.configuration.category" required>
            <md-option ng-repeat="category in $ctrl.categories track by $index"
                       ng-selected="category.isDefault"
                       ng-value="category">{{category.label | uppercase}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container ng-if="$ctrl.surveyForm.isRequiredExternalID()" class="external-id-input">
          <label>ID Externo</label>
          <input name="externalId"
                 ng-model="$ctrl.preActivityArtefacts.externalID"
                 ng-change="$ctrl.updateExternalID($ctrl.preActivityArtefacts.externalID)"
                 placeholder="Id externo" aria-label="Id externo" required>
          <div class="" ng-messages="$ctrl.activityCreationForm.externalId.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>


        <md-input-container ng-if="!$ctrl.surveyForm.isRequiredExternalID()">
          <small class="small-titles">Id externo não requerido<sup>*</sup></small>
        </md-input-container>

        <div class="checker-input" ng-if="$ctrl.preActivityArtefacts.mode === 'PAPER'">
          <small class="small-titles">Aferidor(a)<sup>*</sup></small>
          <otus-checker-search id="checker" class="form-control checker-input"
                               selected-item="$ctrl.preActivityArtefacts.checkerData"
                               placeholder-title="Escolha um Aferidor(a)">
          </otus-checker-search>
        </div>
        <div ng-if="$ctrl.activityCreationForm.checker.$error.required && $ctrl.activityCreationForm.checker.$dirty">
          <small style="color: #d50000">Campo obrigatório</small>
        </div>


        <div class="date-container" ng-if="$ctrl.preActivityArtefacts.mode === 'PAPER'">
          <small class="small-title-date">Data de Realização<sup>*</sup></small>
          <md-input-container class="date-input">
            <input aria-label="Data de realização" class="form-control date-input" date="true"
                   disable-parent-scroll="true"
                   format="DD/MM/YYYY" name="realizationDate"
                   id="datetime" max-date="$ctrl.maxDate" mdc-datetime-picker=""
                   ng-change="$ctrl.updateRealizationDate($ctrl.preActivityArtefacts.realizationDate)"
                   ng-model="$ctrl.preActivityArtefacts.realizationDate"
                   required show-icon="true" time="false" type="text" required>
          </md-input-container>
        </div>

        <md-input-container>
          <md-button type="submit" class="md-raised md-primary"
                     aria-label={{$ctrl.dialogValues.buttons.createActivity.arialLabel}} layout-fill>
            <span class="md-caption">{{$ctrl.dialogValues.buttons.createActivity.title}}</span>
          </md-button>
        </md-input-container>
      </form>

    </div>

  </md-dialog-content>
</md-dialog>
