.pc-layout {
  display: grid;
  width: 100%;
  grid-template-columns: .5fr 11.5fr;
  grid-template-rows: .5fr 11.5fr;
  grid-template-areas:
    "returnButton anonymousMsg"
    "mainUpdate   mainUpdate"
}

.return-button {
  grid-area: returnButton;
}

.anonymous-msg {
  grid-area: anonymousMsg;
}

.main-update {
  grid-area: mainUpdate;
}

.personal-data-card {
  width: 70vw;
}

.contact-label{
  width: 80vw;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media (min-height: 1000px) {
  .pc-layout {
    height: 60vh;
  }
}

@media (min-height: 1300px) {
  .pc-layout {
    height: 50vh;
  }
}
