.pc-layout {
  display: grid;
  width: 100vw;
  height: 90vh;
  grid-template-columns: .5fr 11.5fr;
  grid-template-rows: .5fr 11.5fr .5fr;
  grid-template-areas:
    "returnButton anonymousMsg"
    "mainUpdate   mainUpdate"
    "btnAction  btnAction"
}

.return-button {
  grid-area: returnButton;
}

.anonymous-msg {
  grid-area: anonymousMsg;
}

.main-update {
  grid-area: mainUpdate;
}

.personal-data-card {
  width: 80vw;
}

.btn-action{
  grid-area: btnAction;
  width: 80vw;
}


