* {
    box-sizing: border-box;
}

#installer .hearder {

}
#installer .logo {
  height: 178px;
  z-index: 3;
  position: absolute;
  bottom: 25%;
  left: 40%;
}

#installer #separatorLine {
  background-color: #006064;
  color: #ECEFF1;
}
#installer #logo_otus {
    content: url(../../assets/img/OtusImg.png);
    top: 1%;
}

#installer #installerLayout {
    background-color: white;
}

#installer #headerSize {
  background-color: #ECEFF1;
  height: 201px;
  z-index: 3;
}

#installer #welcome {
  height: 200px;
  position: absolute;
  left: 20%;
}

#installer #container {
    height: 450px;
    z-index: 3;
}
/** AngularJS **/


/** Float label color */


/*md-input-container label, md-input-container .md-placeholder {
    color: black !important;
}*/


/** This style is to fix float label 'celular'! Do NOT remove**/

#installer #installer-page label[for="phonenumber"] {
    -webkit-transform: translate3d(0, 6px, 0) scale(.75) !important;
}
