<div layout="column" flex class="menuBardemoBasicUsage">
  <md-content md-whiteframe="3dp" ng-if="!$ctrl.isListEmpty" layout-wrap="" layout="row" layout-align="start center" layout-padding="">
    <md-card flex layout-padding="">
      <md-card-actions layout="row" layout-align="space-between center" layout-fill>
        <h4>
          <md-icon>view_module</md-icon>
          Blocos de Atividades
          <md-tooltip md-direction="right">
            Selecione o bloco de atividade a ser visualizado.
          </md-tooltip>
        </h4>
        <md-checkbox aria-label="Select All"
                     ng-checked="$ctrl.isCheckedBlocks()"
                     md-indeterminate="$ctrl.isIndeterminateBlocks()"
                     ng-click="$ctrl.toggleAllBlocks()">
          Todos
        </md-checkbox>
      </md-card-actions>
      <md-card-content layout="row" flex="90" layout-align="start center" layout-fill layout-wrap>
        <div flex-gt-sm="5" flex="10" layout-margin="" ng-repeat="item in $ctrl.blocksList">
          <md-checkbox ng-checked="$ctrl.existsBlock(item)" ng-click="$ctrl.toggleBlock(item)">
            {{ item }}
          </md-checkbox>
        </div>
        <span flex="5"></span>
      </md-card-content>

    </md-card>
  </md-content>
  <md-content layout="row" ng-if="$ctrl.isListEmpty" flex layout-align="center center">
    <div class="label-light-gray">
      <h3 class="md-display-3">Nenhuma Atividade Adicionada</h3>
      <div>
        <span class="md-body-1">Utilize o menu</span>
        <md-icon md-svg-icon="plus" aria-label="Adicionar Atividade"></md-icon>
        <span class="md-body-1">para adicionar atividades ao participante</span>
      </div>
    </div>
  </md-content>

  <md-content layout="column" ng-show="!$ctrl.isListEmpty" flex>
    <dynamic-data-table flex="100" dynamic-table-settings="$ctrl.dynamicTableSettings" table-update-function="$ctrl.updateDataTable"></dynamic-data-table>
  </md-content>
  <md-content md-whiteframe="3dp" style="height: 6em !important;" layout="row" layout-align="start center">

  </md-content>
</div>

