<md-card class="generic-list-control-layout" style="background-color: #f5f5f5" layout-padding ng-cloak>
  <div layout="row" class="title" layout-align="start center">
    <span class="md-title">{{$ctrl.LABELS.TITLE}}</span>
    <md-button class="md-button md-icon-button" ng-click="$ctrl.showOrHideFilters()" >
      <md-icon md-font-set="material-icons">{{$ctrl.filtersIcon.icon}}</md-icon>
      <md-tooltip md-direction="right">{{$ctrl.filterIcon.tooltip}}</md-tooltip>
    </md-button>
  </div>

  <div class="ordination" layout="row" layout-align="space-around start" layout-margin
       md-swipe-left="onSwipeLeft($event, $target)">
    <div>
      <md-icon md-font-set="material-icons">{{$ctrl.orderModeIcon.icon}}
        <md-tooltip md-direction="bottom">{{$ctrl.orderModeIcon.tooltip}}</md-tooltip>
      </md-icon>
    </div>
    <md-switch aria-label="ActivityType" class="md-primary" ng-false-value=1 ng-true-value=-1
               ng-model="$ctrl.searchSettings.order.mode" ng-change="$ctrl.updateOrderModeArrow()">
    </md-switch>
    <md-tooltip md-direction="top">{{$ctrl.LABELS.ORDERING}}</md-tooltip>
  </div>

  <div class="filter" bind-html-compile="$ctrl.filtersTemplate"></div>

  <div class="submit">
    <md-button layout-fill class="md-raised md-primary"
               ng-click="$ctrl.getItems($ctrl.searchSettings)">
      {{$ctrl.LABELS.LIST_BUTTON}}
    </md-button>
  </div>
</md-card>
