<!--<otus-activity-adder-toolbar  title="Atividade"-->
<!--  on-add-activities="$ctrl.addActivities()">-->
<!--</otus-activity-adder-toolbar>-->

<!--<otus-activity-adder-list layout="column" flex-->
<!--  on-activity-selection="$ctrl.catchActivity(activity)"-->
<!--  style="overflow-y: auto">-->
<!--</otus-activity-adder-list>-->


<style>
    .gridListdemoDynamicTiles md-grid-list {
        margin: 1px;
        padding: 0px;
    }
</style>
<!--style="padding-left: 20px; margin-bottom: 0; margin-top: 0"-->

<md-card style="background-color: #f5f5f5">
    <div layout="row" layout-align="space-between start" flex layout-margin>
        <div layout="column" layout-align="space-between start">
            <span class="md-headline">Gerenciador de Atividades</span>
            <span class="md-subhead">Inclusão de Formulários ao Participante</span>
        </div>
        <div layout="row" layout-align="space-between start" layout-margin
             md-swipe-left="onSwipeLeft($event, $target)">
            <md-icon md-font-set="material-icons">assessment</md-icon>
            <md-switch aria-label="ActivityType" class="md-primary" ng-false-value="'ONLINE'"
                       ng-model="$ctrl.mode" ng-true-value="'PAPER'">
            </md-switch>
            <md-icon md-font-set="material-icons">description</md-icon>
        </div>


        <div layout="row" layout-align="space-between start" layout-margin md-swipe-right="onSwipeRight($event, $target)">
            <md-icon md-font-set="material-icons">bookmarks</md-icon>
            <md-switch aria-label="ActivitySelection" class="md-primary" ng-false-value="'activityList'"
                       ng-model="$ctrl.selectType" ng-true-value="'activityUnit'">
            </md-switch>
            <md-icon md-font-set="material-icons">bookmark_border</md-icon>
        </div>

        <md-input-container layout-align="space-between start" flex="20">
            <md-select aria-label="Categoria"
                       ng-model="$ctrl.configuration[activity.surveyTemplate.identity.acronym].category">
                <md-option ng-repeat="category in $ctrl.categories track by $index"
                           ng-selected="category.isDefault"
                           ng-value="category">{{category.label | uppercase}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <md-card-actions layout="row" layout-align="end center">
        <span layout="row" layout-align="start center" flex>
        <md-autocomplete id="autocomplete_selectSurvey" md-item-text="item.name"
                         md-items="item in $ctrl.querySearch($ctrl.searchText)"
                         md-menu-class="autocomplete-custom-template"
                         md-min-length="0"
                         md-no-cache="true"
                         md-search-text="$ctrl.searchText"
                         md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
                         md-selected-item="$ctrl.selectedItem" md-selected-item-change="$ctrl.selectedItemChange(item)"
                         placeholder="Selecione" flex="50">
            <md-item-template>
          <span class="item-title">
            <span md-highlight-flags="i" md-highlight-text="$ctrl.searchText">{{item.acronym}}</span>
          </span>
                <span class="item-metadata">
            <span class="item-metastat">
              {{item.name}}
            </span>
          </span>
            </md-item-template>
            <md-not-found>
                Nenhum resultado para "{{ $ctrl.searchText }}" foi encontrado.
            </md-not-found>
        </md-autocomplete>

        <md-button class="md-icon-button" ng-click="$ctrl.addActivity($ctrl.selectedItem)">
            <md-icon md-font-set="material-icons">add_box</md-icon>
        </md-button>
        </span>

        <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons">save</md-icon>
        </md-button>
        <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons">cancel</md-icon>
            </md-icon></md-button>
    </md-card-actions>
</md-card>

<div>
    <md-content class="gridListdemoDynamicTiles">
        <md-grid-list md-cols="3" md-cols-gt-md="3" md-cols-md="3" md-cols-sm="3" md-gutter="8px"
                      md-gutter-gt-sm="8px" md-row-height="2.8:2" md-row-height-gt-md="1:1">
            <md-grid-tile ng-repeat="tile in $ctrl.selectedActivities">

                <md-whiteframe class="md-whiteframe-1dp" layout-fill>
                    <div layout="row" layout-align="space-between start">
                        <md-button class="md-fab">{{tile.surveyForm.acronym}}</md-button>
                        <span class="md-button md-truncate" flex="60">{{tile.name}}</span>
                        <md-button class="md-icon-button" flex="3">
                            <md-icon md-font-set="material-icons">close</md-icon>
                            </md-icon>
                        </md-button>
                    </div>
                    <div flex layout="column" layout-padding>
                        <span> Modo: {{tile.mode}}</span>
                        <span> Categoria: {{tile.category}}</span>
                        <md-input-container>
                            <label>ID Externo</label>
                            <input ng-model="activity.ExternalID">
                        </md-input-container>
                    </div>
                </md-whiteframe>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>

<!-- line 96 <md-grid-tile ng-repeat="tile in $ctrl.candidatesActivities">-->

<!--line 79-->
<!--<md-button class="md-icon-button" ng-click="$ctrl.addPreviewActivity($ctrl.selectedItem)">-->
<!--    <md-icon md-font-set="material-icons">add_box</md-icon>-->
<!--</md-button>-->