<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" flex="80">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-icon md-font-library="material-icons" class="md-icon-button">information</md-icon>
      <span>Informações da Atividade</span>
    </div>
  </md-toolbar>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Detalhes">
      <md-content layout-padding layout="column">
        <div layout="column">
          <span class="md-caption">Nome</span>
          <span class="md-body-1">{{ $ctrl.activity.details.name }}</span>
        </div>
        <div layout="column">
          <span class="md-caption">Acrônimo</span>
          <span class="md-body-1">{{ $ctrl.activity.details.acronym }}</span>
        </div>
        <div layout="column">
          <span class="md-caption">Blocos</span>
          <span class="md-body-1">{{ $ctrl.activity.details.block }}</span>
        </div>
        <div layout="column">
          <span class="md-caption">Descrição</span>
          <span class="md-body-1">{{ $ctrl.activity.details.description }}</span>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Histórico">
      <md-list flex>
        <md-list-item class="md-2-line" style="margin-top: 15px" ng-repeat="item in $ctrl.activity.history track by $index" ng-click="null">
          <md-icon style="color:{{item.status.color}}" md-font-library="material-icons">{{item.status.icon}}</md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.status.label }}</h3>
            <p>
              Em {{ item.date }}
              <br />Por {{ item.user.formattedName }}
              <br />{{ item.user.email }}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-tab>

    <md-tab label="Revisões">
      <div layout="row" layout-align="center stretch">
      <md-button class="md-primary md-hue-1 " aria-label="Adicionar Revisão" ng-click="$ctrl.activityReviewForm()">
        <md-icon>note_add</md-icon>
        <md-tooltip md-direction="down">Adicionar Revisão</md-tooltip>ADICIONAR REVISÃO</md-button>
      </div>

      <md-list flex layout-fill>
        <md-list-item class="md-2-line" style="margin-top: 15px" ng-repeat="item in $ctrl.activity.revisions  | orderBy:'-revisionDate'" ng-click="null">
          <md-icon style="color:{{item.status.color}}" md-font-library="material-icons" class="activity-item-icon md-avatar-icon">done_all</md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Revisado por</h3>
            <p>{{ item.user.name+" "+item.user.surname }}</p>
            <p>{{ item.user.email }}</p>
            <p>Em {{ item.revisionDate | date: "dd/MM/yyyy" }}</p>
          </div>
          <md-divider></md-divider>
        </md-list-item>

      </md-list>

    </md-tab>
  </md-tabs>
</md-sidenav>
