<div
  ng-if="$ctrl.addresses.length > 0"
  layout="column"
  class="layout-margin layout-padding"
  style="width: 832px; max-width: calc(100% - 2px); margin: 0 auto;"
  layout-fill=""
  flex
>
  <div class="md-whiteframe-z1" style="background: white; padding: 10px">
    <span class="md-subhead"><b>Registrar tentativa de contato</b></span>

    <div layout="row" layout-align="center center" style="margin-top: 16px">
      <md-input-container flex="" layout-fill="">
        <md-select ng-model="$ctrl.selectedAddress" ng-change='$ctrl.getAttempts()' aria-label="address">
          <md-option ng-value="address"
                     ng-repeat="address in $ctrl.addresses track by $index"
                     ng-selected="$index === 0">
            {{address.address.value.census && address.address.value.census + " - "}}{{address.address.value.street}}{{address.address.value.streetNumber && ", " + address.address.value.streetNumber}}{{" - " + address.address.value.city + ", " + address.address.value.state + " (" + address.address.value.country + ")"}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column" layout-align="space-between center" style="row-gap: 8px">
      <div flex="100" layout="row" layout-xs="column" style="width: 100%">
        <div
          layout="row"
          layout-align="center center"
          ng-style="{
            marginRight: window.innerWidth > 600 && '16px',
            width: window.innerWidth <= 600 && '100%'
          }"
        >
          <span class="md-subheader">Status: </span>
          <md-input-container flex="">
            <md-select ng-model="$ctrl.selectedStatus" aria-label="address">
              <md-option ng-value="status"
                         ng-repeat="status in $ctrl.addressConfiguration.statusMetadata track by $index">
                {{status.value}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <span flex="5"></span>

        <div
          layout="row"
          layout-align="center center"
          ng-style="{
            marginTop: '-16px',
            width: window.innerWidth <= 600 && '100%'
          }"
        >
          <md-input-container
            class="md-input-has-placeholder md-input-has-value"
            ng-style="{
              position: 'relative',
              top: '20px',
              marginLeft: '5px',
              width: '100%',
              margin: 0
            }"
          >
            <label class="md-subheader"></label>
            <input placeholder="data/hora" mdc-datetime-picker=""
                   show-icon="true" date="true" time="true" aria-label="attemptDatetime"
                   type="text" id="datetime" show-todays-date=""
                   max-date="$ctrl.now" ng-model="$ctrl.attemptDate"
                   class="md-input" readonly="readonly" short-time="true" format="DD/MM/YYYY HH:mm A"
                   disable-parent-scroll="true">
          </md-input-container>
        </div>
      </div>

      <md-button
        ng-click="$ctrl.save()"
        ng-disabled="!$ctrl.attemptDate || !$ctrl.selectedStatus"
        class="md-raised md-primary"
        style="margin-left: auto"
      >
        registrar
      </md-button>
    </div>

    <md-divider style="margin-left: auto; margin-right: auto; margin-top: 16px; margin-bottom: 16px" />

    <div>
      <span ng-if="$ctrl.attemptAddresses.length > 0" class="md-subhead"><b>Tentativas de contato ({{$ctrl.translatePosition($ctrl.selectedAddress.pos)}})</b></span>
      <md-list class="md-dense" ng-repeat="attemptAddress in $ctrl.lastAttempts track by $index" ng-if="$ctrl.attemptAddresses.length > 0" style="margin-top: 16px">
        <span class="md-subheader">{{attemptAddress.fullAddress}}</span>
        <div class="secondary-button-padding" layout-fill=""
                      ng-repeat="attempt in attemptAddress.attemptList track by $index">
          <div class="md-list-item-text" layout-fill="" layout="row" layout-align="space-between center">
            <span
              hide-gt-xs
              ng-style="{
                backgroundColor: attempt.attemptStatus.statusColor,
                height: '5px',
                width: '10px',
                padding: '10px',
                borderRadius: '50%',
                textAlign: 'center'
              }"
            ></span>
            <span hide-gt-xs flex="5"></span>
            <div layout="column" flex="20">
              <span style="text-align: center">
                {{$ctrl.parseToDateWithTime(attempt.attemptDateTime)}}
              </span>
            </div>
            <span flex="5"></span>
            <div layout="column" flex="35">
              <span style="line-break: anywhere">
                {{ attempt.userEmail }}
              </span>
            </div>
            <span hide-xs flex="5"></span>
            <span
              hide-xs
              ng-style="{
                backgroundColor: attempt.attemptStatus.statusColor,
                padding: '5px',
                textAlign: 'center'
              }" flex="15">
              {{attempt.attemptStatus.value}}
            </span>
            <md-button ng-click="$ctrl.remove(attempt._id)" class="md-icon-button">
              <md-icon style="color: #d50000">
                delete_forever
              </md-icon>
            </md-button>
          </div>
        </div>
      </md-list>
      <div layout="row" style="margin-top: 5px" layout-align="end end">
        <dynamic-dialog
          ng-if="$ctrl.selectedAddress.hasOwnProperty('pos')"
          data="{
            attempts: $ctrl.attemptAddresses,
            position: $ctrl.translatePosition($ctrl.selectedAddress.pos)
          }"
          callback-functions="{
            'parseDate': $ctrl.parseToDateWithTime,
            'remove': $ctrl.remove
          }"
          template="'app/ux-component/participant-attempt/participant-attempt-modal/participant-attempt-modal-template.html'"
          button-type="'md-raised'"
          button-text="'histórico'"
        ></dynamic-dialog>
      </div>
      <div ng-if="$ctrl.attemptAddresses.length < 1" layout="row" layout-align="center center" style="margin-bottom: 8px">
        <span class="md-subhead">
          Não há tentativas de contato para este endereço
        </span>
      </div>
    </div>
  </div>
</div>