<otus-panel header-label="'Tentativas de contato'" align="'center center'" flex>
  <div layout="column" style="width: 850px; margin: 0 auto;" flex>
    <div layout="row" layout-align="center center" style="margin-bottom: 5px">
      <span class="md-subheader">Endereço: </span>
      <md-input-container flex="" layout-fill="">
        <md-select ng-model="$ctrl.selectedAddress" ng-change='$ctrl.getAttempts()' aria-label="address">
          <md-option ng-value="address"
                     ng-repeat="address in $ctrl.addresses track by $index"
                     ng-selected="$index === 0">
            {{address.posValue}} - {{address.address.value.street}}, {{address.streetNumber}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="md-whiteframe-z1" style="background: white; padding: 10px">
      <span class="md-subhead">Registro de tentativa</span>
      <div layout="row" layout-xs="column" layout-align-xs="center center" layout-align="space-between start">
        <div layout="row" layout-align="center center">
          <span class="md-subheader">Status: </span>
          <md-input-container flex="">
            <md-select ng-model="$ctrl.selectedStatus" aria-label="address">
              <md-option ng-value="status"
                         ng-repeat="status in $ctrl.statusAddress.metadataOptions track by $index"
                         ng-selected="$index == 0">
                {{status}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
          <md-input-container class="md-input-has-placeholder md-input-has-value"
                              style="position: relative; top: 20px;margin-left: 5px;"
                              ng-style="{'margin':'0 auto'}">
            <label class="md-subheader"></label>
            <input placeholder="data/hora" mdc-datetime-picker=""
                   show-icon="true" date="true" time="true" aria-label="attemptDatetime"
                   type="text" id="datetime" show-todays-date=""
                   max-date="$ctrl.now" ng-model="$ctrl.attemptDate"
                   class="md-input" readonly="readonly" short-time="true" format="DD/MM/YYYY HH:mm A"
                   disable-parent-scroll="true">
          </md-input-container>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="end center">
      <md-button ng-click="$ctrl.save()" ng-disabled="!$ctrl.attemptDate || !$ctrl.selectedStatus" class="md-raised white">
        registrar
      </md-button>
    </div>
    <div>
      <md-list ng-if="$ctrl.attempts.length > 0">
        <md-list-item class="md-whiteframe-z1" style="background: white;" layout-fill=""
                      ng-repeat="attempt in $ctrl.attempts track by $index">
          <div class="md-list-item-text"  layout-xs="column" layout-align-xs="end end" layout-fill="" layout="row" layout-align="space-between center">
            <div layout="row" flex="">
              <div layout="column">
                <span class="md-subhead" ng-if="attempt.address[$ctrl.selectedAddress.pos].value.census">
                  {{attempt.address[$ctrl.selectedAddress.pos].value.census}}
                </span>
                <span class="md-subhead" ng-if="!attempt.address[$ctrl.selectedAddress.pos].value.census">
                  {{$ctrl.parseToDateWithTime(attempt.attemptDateTime)}}
                </span>
                <span ng-if="attempt.address[$ctrl.selectedAddress.pos].value.census">
                  {{$ctrl.parseToDateWithTime(attempt.attemptDateTime)}}
                </span>
              </div>
              <span flex="5"></span>
              <div layout="column">
                <span class="md-subhead">
                {{attempt.address[$ctrl.selectedAddress.pos].value.street}}, {{attempt.address[$ctrl.selectedAddress.pos].value.streetNumber}}
                </span>
              </div>
            </div>
            <div layout="row"  layout-align-xs="space-between center" layout-align="center center">
              <span ng-style="{backgroundColor: '{{$ctrl.statusColorParser(attempt.attemptStatus)}}',
                               padding: '10px',
                               width: '100px',
                               textAlign: 'center'}">
                {{attempt.attemptStatus}}
              </span>
              <span flex="5"></span>
              <md-button ng-click="$ctrl.remove(attempt._id)" class="md-icon-button">
                <md-icon style="color: #d50000">
                  delete_forever
                </md-icon>
              </md-button>
            </div>
          </div>
        </md-list-item>
      </md-list>
      <div ng-if="$ctrl.attempts.length < 1" layout="row" layout-align="center center">
        <span class="md-subhead">
          Não há tentativas para este endereço
        </span>
      </div>
    </div>
  </div>
</otus-panel>