otus-user-comment-about-participant-list {
  @media screen and (min-width: 360px) {
    .comment-list-layout {
      display: grid;
      height: auto;
      padding-top: 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      grid-template-columns: repeat(4, 0.8fr) repeat(4, 0.1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "comment-name  comment-name  comment-name comment-status comment-status comment-date comment-button  comment-button-menu"
        "comment-text  comment-text comment-text  comment-text   comment-text   comment-text comment-text    comment-text";
    }

    .comment-list-null {
      display: grid;
      max-height: 15vh;
      align-items: center;
      padding-top: 0;
      grid-template-columns: 0.05fr 1fr 0.05fr;
      grid-template-rows: auto;
      grid-template-areas: ". comment-null .";
    }

    .layout-box {
      padding-left: 8px;
      padding-right: 8px;
      height: auto;
    }

    .icon-size {
      font-size: 2em;
      height: auto;
      width: auto;
    }

    .comment-box {
      line-height: 2em;
    }

    .comment-layout-margin-line {
      margin: 0;
      padding: 0;
      background: #fff;
    }

    .comment-layout-padding {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  @media screen and (min-width: 410px) {
    .comment-box {
      line-height: 6em;
    }
  }

  @media screen and (min-width: 1024px) {
    .comment-list-layout {
      display: grid;
      height: auto;
      padding-top: 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      grid-template-columns: repeat(2, 1fr) repeat(5, 0.09fr);
      grid-template-rows: auto;
      grid-template-areas:
        "comment-name  comment-name   comment-status  comment-status  comment-date  comment-button  comment-button-menu"
        "comment-text  comment-text   comment-text    comment-text    comment-text  comment-text    comment-text";
    }
  }

  @media screen and (min-width: 1200px) {
    .comment-list-layout {
      display: -ms-grid;
      display: grid;
      height: auto;
      min-width: 50vw;
      padding-top: 0;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
      grid-template-columns: repeat(2, 1fr) repeat(5, 0.07fr);
      grid-template-rows: auto;
      grid-template-areas:
        "comment-name  comment-name  comment-status  comment-date   comment-date  comment-button  comment-button-menu"
        "comment-text  comment-text  comment-text    comment-text   comment-text  comment-text    comment-text";
    }

    .comment-list-null {
      display: grid;
      max-height: 15vh;
      align-items: center;
      padding-top: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas: ". comment-null .";
    }

    .layout-box {
      padding-left: 16px;
      padding-right: 16px;
      background-color: #fff;
      min-height: 100vh;
    }

    .icon-size {
      font-size: 1.5em;
      height: auto;
      width: auto;
    }

    .comment-box {
      line-height: 2em;
    }

    .layout-pagination {
      width: 50vw;
    }

    .comment-layout-margin-line {
      background: #fff;
      padding-left: 8px;
      padding-right: 8px;
    }

    .comment-layout-padding {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .comment-null {
    grid-area: comment-null;
    margin-bottom: 16px;
  }

  .margin-line {
    margin-bottom: 6px;
  }

  .comment-name {
    grid-area: comment-name;
    min-height: 5vh;
  }

  .comment-text {
    grid-area: comment-text;
    align-items: start;
    word-break: break-word;
  }

  .comment-button {
    grid-area: comment-button;
  }

  .comment-button-menu {
    grid-area: comment-button-menu;
  }

  .comment-status {
    grid-area: comment-status;
  }

  .comment-date {
    grid-area: comment-date;
    padding-left: 4px;
  }

  md-list {
    padding: 0;
  }

  .md-body-1 {
    color: rgba(0, 0, 0, 0.6);
  }

  .md-button {
    min-width: auto;
    margin: 6px 4px;
  }

  .comment-box {
    max-width: 100vw;
    padding: 1em;
  }

  .comment-textarea {
    height: auto;
    color: #999 !important;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    line-height: 2em;
    border: 2px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1) !important;
    padding: 4px;
    transition: height 2s ease;
    resize: vertical;
  }

  md-card {
    margin: 8px;
  }

  md-input-container {
    padding: 4px 0;
    margin: 0;
  }

  md-input-container .md-errors-spacer {
    min-height: 0;
  }
}
