<div class="desktop-filter">
  <div layout="row">
    <md-subheader class="md-no-sticky moment-type-title" flex="20">
      Filtros de Pesquisa
    </md-subheader>
    <div layout="row" layout-xs="column" layout-align="start center" flex>
      <md-input-container class="remove-errors-spacer">
        <label>Período Inicial</label>
        <md-datepicker ng-model="$ctrl.shipmentBeginFilter" ng-change="$ctrl.onFilter()"
                       aria-label="Período Inicial"></md-datepicker>
      </md-input-container>
      <md-input-container class="remove-errors-spacer">
        <label>Período Fínal</label>
        <md-datepicker ng-model="$ctrl.shipmentEndFilter" ng-change="$ctrl.onFilter()"
                       aria-label="Período Final"></md-datepicker>
      </md-input-container>
      <md-input-container class="remove-errors-spacer" flex="" flex-gt-sm="25" flex-gt-md="15" style="margin-left:15px">
        <label>Ponto de origem</label>
        <md-select ng-model="$ctrl.locationFilters.origin" ng-change="$ctrl.onFilter()"
                   ng-disabled="$ctrl.centerFilterDisabled">
          <md-option value="{{null}}">
            Nenhum
          </md-option>
          <md-option ng-repeat="originLocationPoint in $ctrl.userLocationsPoints track by $index"
                     value="{{originLocationPoint._id}}" ng-selected="$index == 0">
            {{originLocationPoint.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="remove-errors-spacer" flex="" flex-gt-sm="25" flex-gt-md="15" style="margin-left:15px">
        <label>Ponto de destino</label>
        <md-select ng-model="$ctrl.locationFilters.destination" ng-change="$ctrl.onFilter()"
                   ng-disabled="$ctrl.centerFilterDisabled">
          <md-option value="{{null}}">
            Nenhum
          </md-option>
          <md-option ng-repeat="destinationLocationPoint in $ctrl.userLocationsPoints track by $index"
                     value="{{destinationLocationPoint._id}}" ng-selected="$index == 0">
            {{destinationLocationPoint.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="remove-errors-spacer" style="margin-left:15px">
        <label>Visualização</label>
        <md-select ng-model="$ctrl.view" style="width: 90px;">
          <md-option ng-repeat="view in ['Cards','Lista']" value="{{view}}">
            {{view}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-accent md-raised md-icon-button" ng-click="$ctrl.getLots()">
        <md-icon>search</md-icon>
      </md-button>
      <md-tooltip md-direction="up">Filtrar</md-tooltip>
    </div>
  </div>
  <md-divider></md-divider>
</div>
<div class="md-padding" layout="column">
  <div class="mobile-filter">
    <div layout="row">
      <div layout="row" layout-xs="column" layout-align="center " flex>
        <md-input-container class="remove-errors-spacer">
          <label>Período Inicial</label>
          <md-datepicker ng-model="$ctrl.shipmentBeginFilter" ng-change="$ctrl.onFilter()"
                         aria-label="Período Inicial"></md-datepicker>
        </md-input-container>
        <md-input-container class="remove-errors-spacer">
          <label>Período Fínal</label>
          <md-datepicker ng-model="$ctrl.shipmentEndFilter" ng-change="$ctrl.onFilter()"
                         aria-label="Período Final"></md-datepicker>
        </md-input-container>
        <md-input-container class="remove-errors-spacer" style="margin-left:15px">
          <label>Ponto de origem</label>
          <md-select ng-model="$ctrl.locationFilters.origin" ng-change="$ctrl.onFilter()"
                     ng-disabled="$ctrl.centerFilterDisabled">
            <md-option value="{{null}}">
              Nenhum
            </md-option>
            <md-option ng-repeat="originLocationPoint in $ctrl.userLocationsPoints track by $index"
                       value="{{originLocationPoint._id}}" ng-selected="$index == 0">
              {{originLocationPoint.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="remove-errors-spacer" style="margin-left:15px">
          <label>Ponto de destino</label>
          <md-select ng-model="$ctrl.locationFilters.destination" ng-change="$ctrl.onFilter()"
                     ng-disabled="$ctrl.centerFilterDisabled">
            <md-option value="{{null}}">
              Nenhum
            </md-option>
            <md-option ng-repeat="destinationLocationPoint in $ctrl.userLocationsPoints track by $index"
                       value="{{destinationLocationPoint._id}}" ng-selected="$index == 0">
              {{destinationLocationPoint.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="remove-errors-spacer" style="margin-left:15px">
          <label>Visualização</label>
          <md-select ng-model="$ctrl.view" style="width: 90px;">
            <md-option ng-repeat="view in ['Cards','Lista']" value="{{view}}">
              {{view}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-accent md-raised" hide-gt-xs ng-click="$ctrl.getLots()" flex>
          <md-icon>search</md-icon>
        </md-button>

      </div>
    </div>
    <md-divider></md-divider>
  </div>
  <div ng-if="$ctrl.view=='Cards'">
    <div layout-align="center none" layout-wrap layout="row" flex>
      <div ng-repeat="lot in $ctrl.lotsList | limitTo:$ctrl.show track by lot.code">
        <md-card layout-padding ng-click="$ctrl.selectLot(lot)"
                 class="{{(lot.isSelected ? 'selectedState' : 'regularState') + ' aliquot-md-card card-tube' }}"
                 ng-class="{ 'selectedState': lot.isSelected, 'regularState': !lot.isSelected }">
          <md-card-title flex>
            <md-card-title-text flex="100" layout-wrap>
              <span class="md-headline">{{lot.code}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-xs="column">
            <div flex="50" layout="column" flex-xs="100">
              <span class="md-subhead">Envio: {{lot.shipmentDate | date:'dd/MM/yyyy - h:mm'}}</span>
              <span class="md-subhead">Processamento: {{lot.processingDate | date:'dd/MM/yyyy - h:mm'}}</span>
              <span class="md-subhead">Responsável:</span>
              <span class="md-subhead">{{lot.operator}}</span>
              <span class="md-subhead" ng-repeat="origin in $ctrl.originLocationPoints | filter: { _id: lot.originLocationPoint} track by $index"
                    value="{{origin._id}}">Origem: {{origin.name}}</span>
              <span class="md-subhead" ng-repeat="destination in $ctrl.destinationLocationPoints | filter: { _id: lot.destinationLocationPoint} track by $index"
                    value="{{destination._id}}">Destino: {{destination.name}}</span>
              <span class="md-subhead" ng-repeat="destination in $ctrl.destinationLocationPoints | filter: { _id: lot.destinationLocationPoint} track by $index"
                    value="{{destination._id}}">
                Recebido: {{$ctrl.percentOfReceived(lot.receivedMaterials.length, lot.tubeList.length + lot.aliquotList.length)}}%
              </span>
            </div>
            <div layout="row" flex="50" flex-xs="100">
              <otus-sample-transportation-lot-aliquots-chart
                lot-data-set="lot.chartAliquotDataSet" ng-show="lot.chartAliquotDataSet"></otus-sample-transportation-lot-aliquots-chart>
              <otus-sample-transportation-lot-tubes-chart
                lot-data-set="lot.chartTubeDataSet"  ng-show="lot.chartTubeDataSet"></otus-sample-transportation-lot-tubes-chart>
            </div>
          </md-card-content>
          <md-card-footer>
            <div>
              <otus-sample-transportation-lot-chart-subtitle-table ng-if="lot.chartAliquotDataSet.labels.length"
                                                                   lot-data-set="lot.chartAliquotDataSet"></otus-sample-transportation-lot-chart-subtitle-table>
              <otus-sample-transportation-lot-chart-subtitle-table ng-if="lot.chartTubeDataSet.labels.length"
                                                                   lot-data-set="lot.chartTubeDataSet"></otus-sample-transportation-lot-chart-subtitle-table>
            </div>
            <div layout-align="center center" layout="column" ng-if="!lot.chartAliquotDataSet.labels.length && !lot.chartTubeDataSet.labels.length">
              <span class="md-title" >Não há Alíquotas no lote</span>
            </div>
            </md-card-content>
          </md-card-footer>
        </md-card>
      </div>
    </div>
    <div layout="row" ng-if="$ctrl.lotsList.length > 3">
      <md-button class="md-accent" flex ng-click="$ctrl.showMore()">Exibir mais</md-button>
    </div>
  </div>
  <div ng-if="$ctrl.view!='Cards'" layout="column">
    <md-content>
      <div class="table-container">
        <md-list flex>
          <md-list-item class="md-1-line" style="margin-left:8px">
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column">Código</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column">Data de Processamento</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start " layout-padding>
                <span layout="column">Data de Envio</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start " layout-padding>
                <span layout="column">Origem</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start " layout-padding>
                <span layout="column">Destino</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start " layout-padding>
                <span layout="column">Responsável</span>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item ng-repeat="Lot in $ctrl.lotsList | orderBy: 'code' track by $index"
                        ng-class="{ 'selectedState': Lot.isSelected, 'regularState': !Lot.isSelected }"
                        ng-click="$ctrl.selectLot(Lot)">
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column">{{ Lot.code }}</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column">{{ Lot.processingDate | date:'dd/MM/yyyy - h:mm'}}</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column">{{ Lot.shipmentDate | date:'dd/MM/yyyy - h:mm'}}</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column" ng-repeat="origin in $ctrl.originLocationPoints | filter: { _id: Lot.originLocationPoint} track by $index"
                      value="{{origin._id}}">{{origin.name}}</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column" ng-repeat="destination in $ctrl.destinationLocationPoints | filter: { _id: Lot.destinationLocationPoint} track by $index"
                      value="{{destination._id}}">{{destination.name}}</span>
              </div>
            </div>
            <div class="md-list-item-text" layout="column" flex="25">
              <div layout="row" layout-align="start center" layout-padding>
                <span layout="column">{{ Lot.operator}}</span>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-content>
  </div>
</md-content>


<!--<div layout="row" layout-margin ng-if="$ctrl.lot.tubesInfo.length">-->
<!--  <div layout="column" flex-gt-sm="40" flex-gt-md="25" flex="40">-->
<!--    <otus-sample-transportation-lot-tubes-chart-->
<!--      lot-data-set="$ctrl.lot.chartTubeDataSet"></otus-sample-transportation-lot-tubes-chart>-->
<!--  </div>-->
<!--  <div layout="column" flex class="subtitle-table-container" layout-fill="">-->
<!--    <span class="md-title" layout-margin="">Tubos inseridos</span>-->
<!--    <md-content class="no-background-color" flex layout-fill="">-->
<!--      <otus-sample-transportation-lot-chart-subtitle-table lot-data-set="$ctrl.lot.chartTubeDataSet"-->
<!--                                                           flex></otus-sample-transportation-lot-chart-subtitle-table>-->
<!--    </md-content>-->
<!--  </div>-->
<!--</div>-->