<md-dialog aria-label="Observações relacionadas a atividade do participante">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Observações relacionadas a atividade do participante</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
          <md-tooltip md-direction="bottom">Fechar</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-checkbox class="md-block" name="tos" ng-model="isUnnecessary" required>
          O formulário não será aplicado ao participante
        </md-checkbox>
        <md-input-container ng-show="isUnnecessary" class="md-block">
          <label>Observações</label>
          <textarea ng-model="observation" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="cancelar" ng-click="cancel()">
        Cancelar
      </md-button>
      <md-button class="md-raised md-primary" aria-label="atualizar" ng-click="update()">
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>