<md-content layout="column" flex>
  <div layout-align="start center" flex>
    <div layout-gt-md="row" flex>
      <md-card layout="row" flex>
        <div layout="column" flex>
          <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
            Informações do Lote
          </md-subheader>
          <div flex>
            <div flex layout-padding>
              <div flex>
                <div layout="row" layout-xs="column" flex>
                  <div layout="column" layout-align="center start" flex="20" flex-md="25" flex-gt-md="20">
                    <span>Envio:</span>
                  </div>
                  <md-input-container class="remove-errors-spacer input-container-lot-margin">
                    <md-datepicker ng-model="$ctrl.lot.shipmentDate"
                                   ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})"
                                   aria-label="Data de Envio"></md-datepicker>
                  </md-input-container>
                  <md-input-container class="remove-errors-spacer input-container-lot-margin">
                    <md-icon class="material-icons">access_time</md-icon>
                    <input type="time" ng-model="$ctrl.lot.shipmentDate"
                           ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})" aria-label="Tempo" min="0"
                           max="4999">
                  </md-input-container>
                </div>
              </div>
              <div>
                <div layout="row" layout-xs="column" flex>
                  <div layout="column" layout-align="center start" flex="20" flex-md="25" flex-gt-md="20">
                    <span>Processamento:</span>
                  </div>
                  <md-input-container class="remove-errors-spacer input-container-lot-margin">
                    <md-datepicker ng-model="$ctrl.lot.processingDate"
                                   ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})"
                                   aria-label="Data de processamento"></md-datepicker>
                  </md-input-container>
                  <md-input-container class="remove-errors-spacer input-container-lot-margin">
                    <md-icon class="material-icons">access_time</md-icon>
                    <input type="time" ng-model="$ctrl.lot.processingDate"
                           ng-change="$ctrl.onLotAlteration({ newData: $ctrl.lot.toJSON()})" aria-label="Tempo" min="0"
                           max="4999">
                  </md-input-container>
                </div>
                <div layout="row" layout-align="start center">
                  <span>Responsável: </span> <span class="md-body-1" layout-margin
                                                   layout-padding>{{$ctrl.lot.operator}}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </md-card>
      <md-card layout="column" flex flex-gt-md="30">
        <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
          Rastreio do Lote
        </md-subheader>
        <div layout="row" layout-align="start center" layout-wrap layout-padding>
          <md-input-container flex="100" flex-gt-xs="80">
            <label>Origem:</label>
            <md-select ng-model="$ctrl.lot.originLocationPoint" ng-disabled="$ctrl.lot.code" id="originLocationPoint">
              <md-option ng-repeat="origin in $ctrl.originLocationPoints" value="{{origin._id}}">{{origin.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="100" flex-gt-xs="80">
            <label>Destino:</label>
            <md-select ng-model="$ctrl.lot.destinationLocationPoint" ng-disabled="$ctrl.lot.code">
              <md-option
                ng-repeat="destination in $ctrl.destinationLocationPoints | filter: { _id: '!'+$ctrl.lot.originLocationPoint} track by $index"
                value="{{destination._id}}">{{destination.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-card>
    </div>
    <div flex layout="row" layout-align="center center">
      <span class="md-display-1" ng-show="!$ctrl.lot.originLocationPoint" layout-margin="">Informe a origem do Lote.</span>
      <md-card flex ng-show="$ctrl.lot.originLocationPoint">
        <md-subheader class="md-no-sticky moment-type-title backgroud-color-default left-alignment">
          <div layout="row">
            <span>
          Materiais
        </span>
            <span flex></span>
            <md-input-container ng-show="$ctrl.currentNavItem == 'insertionByPeriod'"
                                class="remove-padding activity-item-icon remove-errors-spacer input-container-lot-margin"
                                ng-if="!$ctrl.userHaveCenter" style="margin-left:15px;min-width: 150px">
              <md-checkbox ng-model="$ctrl.storage" class="activity-item-icon remove-padding">
                <span class="md-subheader">
                  Armazenamento
                </span>
              </md-checkbox>
            </md-input-container>
          </div>
        </md-subheader>
        <md-tabs>
          <md-tab label="Inserção por Período" ng-click="$ctrl.changeNavItem('insertionByPeriod')">
            <div layout-align="start center" layout="row" layout-xs="column" layout-padding>
              <div layout-align="center center">
                <span>Período Inicial:</span>

                <md-input-container class="remove-errors-spacer input-container-lot-margin">
                  <md-datepicker ng-model="$ctrl.initialDate" aria-label="Período Inicial"
                                 ng-keydown="$ctrl.periodInputkeydown($event)"></md-datepicker>
                </md-input-container>
              </div>
              <div layout-align="center center">
                <span>Período Final:</span>

                <md-input-container class="remove-errors-spacer input-container-lot-margin">
                  <md-datepicker ng-model="$ctrl.finalDate" aria-label="Período Final"
                                 ng-keydown="$ctrl.periodInputkeydown($event)"></md-datepicker>
                </md-input-container>
              </div>
              <div>
                <md-button ng-click="$ctrl.insertAliquotsByPeriod()" class="md-raised md-primary"
                           aria-label="Adicionar Alíquotas por Período">
                  <md-tooltip md-direction="down">Adicionar</md-tooltip>
                  <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
                </md-button>
              </div>
            </div>
          </md-tab>
          <md-tab label="Inserção de Alíquota" ng-click="$ctrl.changeNavItem('aliquotInsertion')">
            <div layout="row" layout-xs="column" layout-align="center center" layout-padding>
              <span class="single-aliquot-label" hide-xs>Código:</span>
              <input type="text" numbers-only class="aliquot-lot-input" flex placeholder="Alíquota" name="fast-trigger"
                     value="Inserção rápida" ng-model="$ctrl.aliquotCode"
                     ng-keydown="$ctrl.aliquotInputkeydown($event)"/>
              <div>
                <md-button ng-click="$ctrl.fastInsertion($ctrl.aliquotCode)" class="md-raised md-primary"
                           aria-label="Adicionar Alíquota" ng-disabled="!$ctrl.aliquotCode.length">
                  <md-tooltip md-direction="down">Adicionar</md-tooltip>
                  <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
                </md-button>
              </div>
            </div>
          </md-tab>
          <md-tab label="Inserção de Tubo" ng-click="$ctrl.changeNavItem('tubeInsertion')">
            <div layout="row" layout-xs="column" layout-align="center center" layout-padding>
              <span class="single-aliquot-label" hide-xs>Código:</span>
              <input type="text" numbers-only class="aliquot-lot-input" flex placeholder="Tubo" name="fast-trigger"
                     value="Inserção rápida" ng-model="$ctrl.tubeCode"
                     ng-keydown="$ctrl.tubeInputkeydown($event)"/>
              <div>
                <md-button ng-click="$ctrl.insertionTube($ctrl.tubeCode)" class="md-raised md-primary"
                           aria-label="Adicionar Tubo" ng-disabled="!$ctrl.tubeCode.length">
                  <md-tooltip md-direction="down">Adicionar</md-tooltip>
                  <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
                </md-button>
              </div>
            </div>
          </md-tab>
        </md-tabs>

        <div layout="column" layout-fill="" flex="100">
          <div layout="row" layout-margin ng-if="$ctrl.lot.aliquotsInfo.length">
            <div layout="column" flex-gt-sm="40" flex-gt-md="25" flex="40">
              <otus-sample-transportation-lot-aliquots-chart
                lot-data-set="$ctrl.lot.chartAliquotDataSet"></otus-sample-transportation-lot-aliquots-chart>
            </div>
            <div layout="column" flex class="subtitle-table-container" layout-fill="">
              <span class="md-title" layout-margin="">Alíquotas inseridas</span>
              <md-content class="no-background-color" layout-fill="">
                <otus-sample-transportation-lot-chart-subtitle-table lot-data-set="$ctrl.lot.chartAliquotDataSet"
                                                                     flex></otus-sample-transportation-lot-chart-subtitle-table>
              </md-content>
            </div>
          </div>
          <md-divider></md-divider>
          <span flex="20"></span>
          <div layout="row" layout-margin ng-if="$ctrl.lot.tubesInfo.length">
            <div layout="column" flex-gt-sm="40" flex-gt-md="25" flex="40">
              <otus-sample-transportation-lot-tubes-chart
                lot-data-set="$ctrl.lot.chartTubeDataSet"></otus-sample-transportation-lot-tubes-chart>
            </div>
            <div layout="column" flex class="subtitle-table-container" layout-fill="">
              <span class="md-title" layout-margin="">Tubos inseridos</span>
              <md-content class="no-background-color" flex layout-fill="">
                <otus-sample-transportation-lot-chart-subtitle-table lot-data-set="$ctrl.lot.chartTubeDataSet"
                                                                     flex></otus-sample-transportation-lot-chart-subtitle-table>
              </md-content>
            </div>
          </div>
        </div>

        <md-divider></md-divider>
        <md-content ng-show="$ctrl.lot.aliquotList.length + $ctrl.lot.tubeList.length">
          <div class="dynamic-table-container">
            <dynamic-data-table flex dynamic-table-settings="$ctrl.dynamicTableSettings"
                                table-update-function="$ctrl.MaterialTransportationService.dynamicDataTableFunction.updateDataTable">
            </dynamic-data-table>
          </div>
        </md-content>
      </md-card>
    </div>
  </div>
</md-content>
