<md-toolbar style="z-index: 1" class="md-primary md-hue-1">
  <div class="md-toolbar-tools md-hue-2">
    <span flex>Adicionar {{ $ctrl.title}} {{ $ctrl.activityType }}</span>
    <md-button ng-click="$ctrl.returnToParticipantActivities()" style="background-color: grey" class="md-raised md-icon-button"  aria-label="Cancelar">
      <md-tooltip md-direction="down">Cancelar</md-tooltip>
      <md-icon  style="color: white" md-font-set="material-icons" aria-label="Cancelar">clear</md-icon>
    </md-button>
    <md-button ng-click="$ctrl.addActivities()" class="md-raised md-accent md-icon-button" aria-label="Adicionar">
      <md-tooltip md-direction="down">Adicionar</md-tooltip>
      <md-icon md-svg-icon="plus" aria-label="Adicionar"></md-icon>
    </md-button>
    <!-- <div style="
      border-right: 1px solid #555;
      display: inline-block;
      height: 53px;
      margin: -10.5px 8px;
      vertical-align: middle;">
    </div>
    <md-button class="md-raised md-primary md-icon-button" aria-label="Visualização em grade" ng-click="$ctrl.visualizeSelectedActivity()">
      <md-tooltip md-direction="down">Visualização em grade</md-tooltip>
      <md-icon md-svg-icon="view-grid" aria-label="Visualização em grade"></md-icon>
    </md-button>
    <md-button class="md-raised md-primary md-icon-button" aria-label="Detalhes" ng-click="$ctrl.visualizeSelectedActivity()">
      <md-tooltip md-direction="down">Detalhes</md-tooltip>
      <md-icon md-svg-icon="information" aria-label="Detalhes"></md-icon>
    </md-button> -->
  </div>
</md-toolbar>
