<md-content layout="row" ng-if="$ctrl.isListEmpty" flex layout-align="center center">
  <div class="label-light-gray">
    <h3 class="md-display-3">Sem Atividades</h3>
    <div>
      <span>Atualmente não existem atividades disponiveis para adição.</span>
    </div>
  </div>
</md-content>
<md-content layout="column" flex>
  <input type="text" ng-model="searchActivity.surveyTemplate.identity.name" placeholder="Busca por nome de atividade." style="padding:15px 20px;font-size:16px;border:0.5px solid #ddd;outline:none;"/>
  <md-list flex ng-show="!$ctrl.isListEmpty">

    <md-list-item class="md-1-line">
      <div class="md-list-item-text" layout="row" layout-align="start center" flex>
        <md-buttom class="md-button" ng-click="$ctrl.changeSort('surveyTemplate.identity.name',!$ctrl.reverseSort)">
        <span>Nome</span>
        <md-icon class="material-icons" ng-show="$ctrl.orderByField == 'surveyTemplate.identity.name' && !$ctrl.reverseSort">
                keyboard_arrow_down</md-icon>
        <md-icon class="material-icons" ng-show="$ctrl.orderByField == 'surveyTemplate.identity.name' && $ctrl.reverseSort">
                keyboard_arrow_up</md-icon>
        </md-buttom>
      </div>
      <div class="md-list-item-text" layout="row" flex="10">
        <div layout="row" layout-align="start center" layout-margin>
          <md-buttom class="md-button" ng-click="$ctrl.changeSort('surveyTemplate.identity.acronym',!$ctrl.reverseSort)">
          <span>Acrônimo</span>
          <md-icon class="material-icons" ng-show="$ctrl.orderByField == 'surveyTemplate.identity.acronym' && !$ctrl.reverseSort">
                  keyboard_arrow_down</md-icon>
          <md-icon class="material-icons" ng-show="$ctrl.orderByField == 'surveyTemplate.identity.acronym' && $ctrl.reverseSort">
                  keyboard_arrow_up</md-icon>
        </md-buttom>
        </div>
      </div>
      <div class="md-list-item-text" layout="column" flex="10">
        <div layout="row" layout-align="start" layout-margin>
          <md-buttom class="md-button" ng-click="$ctrl.changeSort('surveyFormType',!$ctrl.reverseSort)">
          <span>Tipo</span>
          <md-icon class="material-icons" ng-show="$ctrl.orderByField == 'surveyFormType' && !$ctrl.reverseSort">
                  keyboard_arrow_down</md-icon>
          <md-icon class="material-icons" ng-show="$ctrl.orderByField == 'surveyFormType' && $ctrl.reverseSort">
                  keyboard_arrow_up</md-icon>
        </md-buttom>
        </div>
      </div>
      <div class="md-list-item-text" layout="column" flex="10">
        <div layout="row" layout-align="start center">
          <span layout="column"></span>
        </div>
      </div>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item ng-repeat="activity in $ctrl.activities track by activity.surveyTemplate.identity.acronym | orderBy:$ctrl.orderByField:$ctrl.reverseSort | filter:searchActivity">
      <div class="md-list-item-text" layout="column" flex>
        <div layout="row" layout-align="start center">
          <span layout="column">{{ activity.surveyTemplate.identity.name }}</span>
        </div>
      </div>
      <div class="md-list-item-text" layout="column" flex="10">
        <div layout="row" layout-align="start center">
          <span layout="column">{{ activity.surveyTemplate.identity.acronym }}</span>
        </div>
      </div>
      <div class="md-list-item-text" layout="column" flex="10">
        <div layout="row" layout-align="start center">
          <span layout="column">{{ $ctrl.getType(activity) }}</span>
        </div>
      </div>
      <div flex="10">
        <div class="md-secondary-container"layout-align="center center">
          <md-checkbox ng-click="$ctrl.selectActivity(activity)" layout="column" aria-label="Selecionar"></md-checkbox>
        </div>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-content>
