<md-content layout="column" flex id="installer">
    <div layout="row" id="headerSize">
        <div class="logo" id="logo_otus"></div>
        <div layout="row" id="welcome">
            <h2 layout="row" layout-align="center center">
                <span class="md-display-2">Bem-vindo!</span>
            </h2>
        </div>
    </div>

    <md-content layout="row" id="separatorLine" layout-align="center center">
        <h2>Vamos iniciar a Instalação do Projeto.</h3>
    </md-content>

    <md-content layout="column" flex>
        <form name="initialConfigForm" novalidate>
            <div layout="row" layout-align="center" id="installerLayout">
                <div layout="column" flex="80">
                    <div layout="row" id="container">
                        <div layout="column" flex style="padding: 20px">
                            <div layout="row" flex>
                                <md-tabs md-border-bottom flex>
                                    <md-tab label="Cadastro do Administrador">
                                        <md-input-container flex>
                                            <label>Nome</label>
                                            <input name="name" ng-model="project.user.name" type="text" ng-required="true" />

                                            <div ng-messages="initialConfigSystemForm.name.$error">
                                                <div ng-message="required" ng-show="initialConfigSystemForm.name.$error.required">
                                                    Obrigatório
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex>
                                            <label>Sobrenome</label>
                                            <input name="surname" ng-model="project.user.surname" type="text" ng-required="true" />

                                            <div ng-messages="initialConfigSystemForm.surname.$error">
                                                <div ng-message="required" ng-show="initialConfigSystemForm.surname.$error.required">
                                                    Obrigatório
                                                </div>
                                            </div>
                                        </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Celular</label>
                                                <input name="phone" id="phonenumber" ng-model="project.user.phone" type="text" ui-options={clearOnBlur:false} ng-required="true" ui-mask="(99) 99999999?9" />

                                                <div ng-messages="initialConfigSystemForm.phone.$error">
                                                    <div ng-message="required" ng-show="initialConfigSystemForm.phone.$error.required">Obrigatório
                                                    </div>
                                                    <div ng-message="ui-mask" ng-show="initialConfigSystemForm.phone.$error.mask">Insira um número válido.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Email</label>
                                                <input name="email" ng-model="project.user.email" type="email" ng-required="true" />

                                                <div ng-messages="initialConfigSystemForm.email.$error">
                                                    <div ng-message="required" ng-show="initialConfigSystemForm.email.$error.required">Obrigatório
                                                    </div>
                                                    <div ng-message="email" ng-show="initialConfigSystemForm.email.$error.email">Insira um email válido.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Senha</label>
                                                <input name="password" ng-model="project.user.password" type="password" ng-required="true" st-password />

                                                <div ng-messages="initialConfigSystemForm.password.$error">
                                                    <div ng-message="passwordPattern" ng-show="initialConfigSystemForm.password.$error.required">
                                                        A senha deve conter caracter minúsculo, um maiúsculo, um digito e de 6 a 32 caracteres.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Confirmação de Senha</label>
                                                <input name="passwordConfirm" ng-model="project.user.passwordConfirm" type="password" ng-required="true" st-password-match="systemConf.user.password" />

                                                <div ng-messages="initialConfigSystemForm.passwordConfirm.$error">
                                                    <div ng-message="required" ng-show="initialConfigSystemForm.passwordConfirm.$error.required">
                                                        Obrigatório
                                                    </div>
                                                    <div ng-message="passwordMatch">
                                                        Suas senhas não coincidem.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                    </md-tab>
                                    <md-tab label="Projeto">
                                        <md-content class="md-padding md-margin">
                                            <md-input-container class="md-block">
                                                <label>Nome do Projeto</label>
                                                <input type="text" name="projectName" ng-model="project.project.projectName" ng-required="true"/>
                                                <div ng-messages="initialConfigForm.projectName.$error">
                                                    <div ng-message="required">Campo Obrigatório</div>
                                                </div>
                                            </md-input-container>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Domínio">
                                        <md-content class="md-padding md-margin">
                                            <md-input-container class="md-block">
                                                <label>Endereço. Exemplo: http://www.my-domain.com.br</label>
                                                <input type="url" name="urlProject" ng-change="resetValidationDomain()" ng-model="project.domain.domainRestUrl" ng-required="true"/>
                                                <div ng-messages="initialConfigForm.urlProject.$error">
                                                    <div ng-message="required">Campo Obrigatório</div>
                                                    <div ng-message="url">URL inválida.</div>
                                                    <div ng-message="domainAccess">Esse endereço não é um domínio valido</div>
                                                </div>
                                            </md-input-container>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="E-mail">
                                        <md-input-container class="md-block">
                                            <label>Nome</label>
                                            <input name="emailSenderName" ng-model="project.emailSender.name" type="text" ng-required="true" />

                                            <div ng-messages="initialConfigSystemForm.emailSenderName.$error">
                                                <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderName.$error.required">
                                                    Obrigatório
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <label>Email</label>
                                            <input name="emailSenderEmail" ng-model="project.emailSender.email" ng-change="resetValidationEmail()" type="email" ng-required="true" />

                                            <div ng-messages="initialConfigSystemForm.emailSenderEmail.$error">
                                                <div ng-message="email">Insira um email válido.</div>
                                                <div ng-message="required">Obrigatório</div>
                                                <div ng-message="emailService">Erro ao validar serviço de email. Verifique dados informados</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <label>Senha</label>
                                            <input name="emailSenderPassword" ng-change="resetValidationEmail()" ng-model="project.emailSender.password" type="password" ng-required="true" />

                                            <div ng-messages="initialConfigSystemForm.emailSenderPassword.$error">
                                                <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderPassword.$error.required">Obrigatório
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <label>Confirmação de Senha</label>
                                            <input name="emailSenderPasswordConfirm" ng-model="project.emailSender.passwordConfirm" st-password-match="systemConf.emailSender.password" type="password" ng-required="true" />

                                            <div ng-messages="initialConfigSystemForm.emailSenderPasswordConfirm.$error">
                                                <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderPasswordConfirm.$error.required">Obrigatório
                                                </div>
                                                <div ng-message="passwordMatch">
                                                    Suas senhas não coincidem.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </div>
                    </div>
                    <md-content layout="row" layout-align="start center">
                        <md-button ng-click="controller.register(project)" class="md-raised md-accent" ng-disabled="initialConfigForm.$invalid || isLoading">
                            Cadastrar
                        </md-button>
                    </md-content>
                </div>
            </div>
        </form>
    </md-content>
</md-content>
