<md-content layout="column" flex id="installer">
    <md-content layout="row" flex="10" id="OtusColor">
        <div class="logo" id="logo_otus"></div>
        <md-content flex="35" layout-align="center end" layout="column" id="OtusColor">
            <h2 layout="row" layout-align="end center">
                <span class="md-display-1">Bem-vindo!</span>
            </h2>
        </md-content>
    </md-content>

    <md-content layout="row" layout-align="center" flex id="installerLayout">
        <md-content layout="column" flex="70">
            <md-content layout="row">
                <h3>Vamos iniciar a Instalação do Projeto.</h3>
            </md-content>
            <md-content layout="row" flex="95">
                <md-content layout="column" flex style="padding: 20px">
                    <md-content layout="row" flex>
                        <md-tabs md-border-bottom flex>
                            <md-tab label="Nome do Projeto">
                                <md-content class="md-padding">
                                    <md-input-container class="md-block">
                                        <label>Insira o Nome do Projeto</label>
                                        <input type="text" name="projectName" ng-model="project.name" required="true" />
                                    </md-input-container>
                                </md-content>
                            </md-tab>
                            <md-tab label="URL Domain">
                                <md-content class="md-padding">
                                    <md-input-container class="md-block">
                                        <label>Insira a URL do projeto Domain.</label>
                                        <input type="url" name="urlProject" ng-model="project.url" required="true"/>
                                    </md-input-container>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                        <md-content layout="row" layout-align="center center" flex="20">
                            <md-button type="submit" class="md-raised md-accent">
                              Cadastrar
                            </md-button>
                        </md-content>
                    </md-content>
                </md-content>
            </md-content>
        </md-content>
    </md-content>

    <md-content layout="row" flex="20" id="OtusColor">
        <md-button aria-label="GitHub">
            <a href="https://github.com/ccem-dev/otus" id="logo_github" title="Github"></a>
        </md-button>
    </md-content>
</md-content>
