<md-grid-tile-header>
  <div layout="row" flex="">
    <div layout-padding flex="80">
      <h4>Observação: {{$ctrl.offlineCollectionData.observation | limitTo : 15 : 0}}<span ng-if="$ctrl.offlineCollectionData.observation.length>15">...</span></h4>
    </div>
    <div layout-padding layout-align="center end" flex="10">
      <md-button class="md-icon-button" ng-click="$ctrl.showInfo()" aria-label="More">
        <md-icon>info</md-icon>
      </md-button>
    </div>
  </div>
</md-grid-tile-header>
<div class="md-grid-tile-body">
  <div layout="column" layout-align="center center">
    <span class="md-caption">Vincular coleta ao participante</span>
    <div layout="row" layout-align="end end">
      <md-input-container class="remove-errors-spacer">
        <label>Número de recrutamento</label>
        <input ng-model="$ctrl.recruitmentNumber" type="number" min="0" step="1">
      </md-input-container>
      <md-button class="md-icon-button md-primary" ng-click="$ctrl.attacheLaboratory()" aria-label="More">
        <md-icon> compare_arrows</md-icon>
      </md-button>
    </div>
  </div>
</div>
<md-grid-tile-footer>
  <label-maker ng-show="false" class="label-maker-{{$ctrl.laboratoryData._id.$oid}}" label-data="$ctrl.labels"></label-maker>
  <div layout-align="center center" layout-margin="" layout="row">
    <h4>Data da coleta: {{$ctrl.offlineCollectionData.date | date:'dd/MM/yyyy - h:mm'}}</h4>
  </div>
</md-grid-tile-footer>