<style>

  md-card {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inputLeft nextPage inputRight"
  }

  .input-left {
    grid-area: inputLeft;
  }

  .input-right {
    grid-area: inputRight;
  }

  input {
    width: 3vw;
    border: none;
    margin-left: 2vw;

  }

  .next-page {
    grid-area: nextPage;
  }

</style>

<md-card>
  <input ng-model="$ctrl.searchSettings.currentQuantity" type="number" class="input-left container">
  <md-button layout-fill class="md-raised md-primary next-page"
             ng-click="$ctrl.getPendencies($ctrl.searchSettings)">
    <md-icon md-font-set="material-icons">fast_forward</md-icon>
    <md-tooltip md-direction="right">Próxima Página</md-tooltip>
  </md-button>
  <input ng-model="$ctrl.searchSettings.quantityToGet" type="number" class="input-right container">
</md-card>