<style>
  .plc-layout {
    /*width: 98vw;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .5fr .1fr .1fr;
    grid-template-areas:
      "title   title   title    ordination  ordination ordination"
      "filter  filter  filter   filter      filter     filter"
      "submit  submit  submit   submit      submit     submit"
  }

  .title { grid-area: title}
  .ordination { grid-area: ordination}
  .filter { grid-area: filter}
  .submit { grid-area: submit}

</style>

<!--style="background-color: #f5f5f5-->

  <md-card class="plc-layout" style="background-color: #f5f5f5" layout-margin>
    <div layout="column" class="title">
      <span class="md-headline">Filtragem e Ordenação</span>
      <span class="md-subhead">Painel de Controle da Lista de Pendências</span>
    </div>
    <div class="ordination">Espaço para Ordenação</div>




    <div layout="row" ng-repeat="item in $ctrl.pendencyAttributes" layout-align="start center">
      <div class="filter">
        <md-icon>{{item}}</md-icon>
<!--        <md-checkbox-->
<!--          ng-checked="$ctrl.exists(item, selected)"-->
<!--          ng-click="$ctrl.toggle(item, selected)">-->
<!--        </md-checkbox>-->
        <md-input></md-input>
      </div>
    </div>

    <div flex="100">
      <h2 class="md-title">Selected Items</h2>
      <code style="display: block; padding: 8px;">{{$ctrl.selected | json}}</code>
    </div>

    <div class="submit">
      <md-button layout-fill class="md-raised md-primary" ng-disabled="">Listar</md-button>
    </div>

<!--   <form ng-submit="">-->
<!--     <md-radio-group ng-model="$ctrl.orderingPreference" ng-repeat="choice in $ctrl.ordination" layout="row">-->
<!--       <md-radio-button value=choice>{{choice}}</md-radio-button>-->
<!--     </md-radio-group>-->

<!--     <p>Selected Value: <span class="radioValue">{{ ordering.preference }}</span> </p>-->
<!--   </form>-->




  </md-card>
</div>