<style>
  .plc-layout {
    /*width: 98vw;*/
    display: grid;
    grid-template-columns: repeat(6, 1.5fr);
    grid-template-rows: .1fr 1fr .1fr;
    grid-template-areas:
      "title   title   title    ordination  ordination ordination"
      "filter  filter  filter   filter      filter     filter"
      "submit  submit  submit   submit      submit     submit"
  }

  .title {
    grid-area: title
  }

  .ordination {
    grid-area: ordination
  }

  .filter {
    grid-area: filter
  }

  .submit {
    grid-area: submit
  }

  md-input-container {
    padding: 0px;
    margin: 0px;
  }


</style>

<md-card class="plc-layout" style="background-color: #f5f5f5" layout-margin>
  <div layout="column" class="title">
    <span class="md-headline">Filtragem e Ordenação</span>
    <span class="md-subhead">Painel de Controle da Lista de Pendências</span>
  </div>
  <div class="ordination">Espaço para Ordenação</div>

  <div layout="row" ng-repeat="item in $ctrl.pendencyAttributes" layout-align="start center">
    <div class="filter">
        <span ng-if="!$ctrl.checkStates[item]">
           <md-icon>{{item}}</md-icon>
           <md-checkbox aria-label={{item}}
                        ng-model="$ctrl.checkStates[item]"
                        ng-click="$ctrl.exists(item, selected)">
           </md-checkbox>
        </span>
      <span ng-if="$ctrl.checkStates[item]">
           <md-input-container>
             <md-icon>{{item}}</md-icon>
             <input ng-model="$ctrl.infoFilter[$index]" required aria-label={{item}}>
             <md-icon ng-click="$ctrl.clear(item)">clear</md-icon>
        </md-input-container>
        </span>
    </div>
  </div>

  <div class="submit">
    <md-button layout-fill
               class="md-raised md-primary"
               ng-click="$ctrl.getPendencyList($ctrl.infoFilter)">Listar
    </md-button>
  </div>

</md-card>
</div>