<style>
  .plc-layout {
    /*width: 98vw;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr) .2fr;
    grid-template-rows: .1fr .2fr .1fr;
    grid-template-areas: "title . ordination" "filter filter filter" "submit submit submit"
  }

  .title {
    grid-area: title
  }

  .ordination {
    grid-area: ordination
  }

  .filter {
    grid-area: filter
  }

  .submit {
    grid-area: submit
  }

  md-input-container {
    padding: 0px;
    margin: 0px;
  }

  otus-participant-search {
    background-color: #ffffff;
  }

</style>

<md-card class="plc-layout" style="background-color: #f5f5f5" layout-margin ng-cloak>
  <div layout="row" class="title" layout-align="start center">
    <span class="md-title">Painel de Controle</span>
    <md-button class="md-button md-icon-button" ng-click="$ctrl.openFilters()" ng-hide="$ctrl.filtersViewEnable">
      <md-icon md-font-set="material-icons">visibility</md-icon>
      <md-tooltip md-direction="right">mostrar filtros</md-tooltip>
    </md-button>
    <md-button class="md-button md-icon-button" ng-click="$ctrl.closeFilters()" ng-hide="!$ctrl.filtersViewEnable">
      <md-icon md-font-set="material-icons">visibility_off</md-icon>
      <md-tooltip md-direction="right">ocultar filtros</md-tooltip>
    </md-button>
  </div>

  <div class='wrapper'>
    <div class='container' dragula='"new-order-list"' dragula-model='$ctrl.searchSettings.order.fields' layout="row">
      <md-chips ng-repeat='text in $ctrl.searchSettings.order.fields'>
        <md-chip>{{text}}</md-chip>
      </md-chips>
    </div>
  </div>



  <div class="ordination" layout="row" layout-align="space-between start" layout-margin
       md-swipe-left="onSwipeLeft($event, $target)">
    <div>
      <md-icon md-font-set="material-icons">arrow_upward
        <md-tooltip md-direction="bottom">crescente</md-tooltip>
      </md-icon>
    </div>
    <md-switch aria-label="ActivityType" class="md-primary" ng-false-value= 1
               ng-model="$ctrl.searchSettings.order.mode" ng-true-value= -1>
    </md-switch>
    <md-tooltip md-direction="top">Ordenação</md-tooltip>
    <div>
      <md-icon md-font-set="material-icons">arrow_downward
        <md-tooltip md-direction="bottom">decrescente</md-tooltip>
      </md-icon>

    </div>
  </div>

  <otus-pendecy-list-filters ng-hide="!$ctrl.filtersViewEnable"
                             class="filter" search-settings="$ctrl.searchSettings">
  </otus-pendecy-list-filters>

  <div class="submit">
    <md-button layout-fill class="md-raised md-primary"
               ng-click="$ctrl.getPendencies($ctrl.searchSettings)">Listar
    </md-button>
  </div>

</md-card>
</div>


