<md-dialog md-theme="layoutTheme" aria-label="Sair">
    <md-dialog-content>
        <md-toolbar class="md-toolbar-tools">
            <span>Sair</span>
        </md-toolbar>
        <md-content class="autoScroll" layout-padding>
            Você tem certeza que deseja sair do sistema?
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="hide()" class="md-raised">Cancelar</md-button>
        <md-button ng-click="answer()" class="md-raised md-primary">OK</md-button>
    </md-dialog-actions>
</md-dialog>
