<md-toolbar style="z-index: 1" class="md-primary md-hue-1">
  <div class="md-toolbar-tools">

    <span flex></span>
    <span class="md-body-5">Revisão de Atividade </span>
    <span flex></span>

    <md-button ng-click="vm.cancel()" class="md-icon-button" aria-label="Cancelar">
      <md-tooltip md-direction="down">Cancelar</md-tooltip>
      <md-icon aria-label="Cancelar">close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="row" flex layout-align="center center">
  <div layout-margin layout="column">
    <div layout="column" class="label-light-gray">
      <span class="md-body-3">
        <p class="md-body-3">Confirme as informações, selecione data e hora, e salve para criar o registro</p>
      </span>
    </div>
    <div flex class="label-light-gray">
      <md-whiteframe class="md-whiteframe-3dp" layout="" layout-align="left center" layout-padding="50">
        <span>
          <p>Atividade: {{vm.activity.getName()}}</p>
          <p> Revisor: {{vm.user.name}} {{vm.user.surname}}</p>
          <p> Email: {{vm.user.email}}</p><br>
          <p> Data da Revisão:
          <input mdc-datetime-picker="true" ng-change="" show-icon="true" date="true" time="true" aria-label="Data de Processamento" type="text" id="datetime" show-todays-date="" max-date="$ctrl.now" ng-model="vm.revisionDate" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope dtp-no-msclear dtp-input ng-not-empty" readonly="readonly" short-time="true" format="DD/MM/YYYY HH:mm A" disable-parent-scroll="true" aria-invalid="false">
          </p>
        </span>
      </md-whiteframe>
      <br>
      <md-dialog-actions layout="row">
        <md-button ng-click="vm.addActivityRevision()" class="md-primary md-raised" aria-label="Salvar"
                   ng-disabled="!vm.revisionDate">SALVAR</md-button>
      </md-dialog-actions>
    </div>
  </div>
</div>