<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" flex>
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
      <md-icon md-font-library="material-icons" layout-margin>colorize</md-icon>
      <span>Aliquotas no Lote</span>
    </div>
  </md-toolbar>

  <md-list flex>
    <md-list-item class="md-2-line" style="margin-top: 15px" ng-repeat="aliquot in $ctrl.selectedLot.aliquotList" ng-click="null">
      <md-icon aria-label="Atividades">keyboard_arrow_right</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>{{aliquot.code}}-{{aliquot.label}}</h3>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav>
