<md-sidenav class="md-sidenav-right" md-component-id="right" flex>
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
      <md-icon md-font-library="material-icons" layout-margin>colorize</md-icon>
      <span>Aliquotas</span>
    </div>
  </md-toolbar>
  <md-list flex>
    <md-list-item class="md-2-line"  ng-repeat="aliquot in $ctrl.selectedLot.aliquotList" ng-click="null">
      <md-icon aria-label="Atividades">keyboard_arrow_right</md-icon>
      <div class="md-list-item-text" layout="column">
        <div layout="row" layout-align="start center">
          <h2 flex class="md-title">{{aliquot.code}}</h2>
          <h3 flex class="md-subhead" >{{aliquot.containerLabel}}</h3>
        </div>
        <span class="md-subhead">{{aliquot.label}}</span>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav>