<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" flex>
  <md-toolbar>
    <div layout="row" layout-padding>
      <md-whiteframe class="md-whiteframe-1dp image-brand" layout-align="center center" style="margin-left: 1px; height: 41px; width: 41px;">
        <md-icon md-svg-icon="information" style="margin-left: 1px; height: 41px; width: 41px;"></md-icon>
      </md-whiteframe>
      <h1 class="md-toolbar-tools">Informações da Atividade</h1>
    </div>
  </md-toolbar>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Detalhes">
      <md-content layout-padding layout="column">
        <div layout="row">
          <div layout="column" flex="50">
            <span>Nome</span>
          </div>
          <div layout="column" flex>
            <span>{{ $ctrl.activity.details.name }}</span>
          </div>
        </div>
        <div layout="row">
          <div layout="column" flex="50">
            <span>Acrônimo</span>
          </div>
          <div layout="column" flex>
            <span>{{ $ctrl.activity.details.acronym }}</span>
          </div>
        </div>
        <div layout="row">
          <div layout="column" flex="50">
            <span>Descrição</span>
          </div>
          <div layout="column" flex>
            <span>{{ $ctrl.activity.details.description }}</span>
          </div>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Histórico">
      <md-list flex>
        <md-list-item class="md-2-line" style="margin-top: 15px" ng-repeat="status in $ctrl.activity.history track by $index" ng-click="null">
          <img ng-src="{{ status.face }} ? {{ $index }}" class="md-avatar" alt="{{ status.who }}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ status.name }}</h3>
            <p>
              Em {{ status.date }}
              <br /> Por {{ status.user.name }}
              <br /> {{ status.user.email }}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>

</md-sidenav>
