<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" flex="80">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-icon md-font-library="material-icons">information</md-icon>
      <span>Informações da Atividade</span>
    </div>
  </md-toolbar>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Detalhes">
      <md-content layout-padding layout="column">
        <div layout="column">
          <span class="md-caption">Nome</span>
          <span class="md-body-1">{{ $ctrl.activity.details.name }}</span>
        </div>
        <div layout="column">
          <span class="md-caption">Acrônimo</span>
          <span class="md-body-1">{{ $ctrl.activity.details.acronym }}</span>
        </div>
        <div layout="column">
          <span class="md-caption">Descrição</span>
          <span class="md-body-1">{{ $ctrl.activity.details.description }}</span>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Histórico">
      <md-list flex>
        <md-list-item class="md-2-line" style="margin-top: 15px" ng-repeat="item in $ctrl.activity.history track by $index" ng-click="null">
          <md-icon style="color:{{item.status.color}}" md-font-library="material-icons">{{item.status.icon}}</md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.status.label }}</h3>
            <p>Em {{ item.date }}</p>
            <p>Por {{ item.user.name }}</p>
            <p>{{ item.user.email }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-tab>

    <md-tab label="Revisões">
      <div layout="row" layout-align="center center">
      <md-button class="md-primary md-hue-1 " aria-label="Adicionar Registro de Revisão" ng-click="$ctrl.activityReviewForm()">
        <md-tooltip md-direction="down">Adicionar Registro de Revisão</md-tooltip>ADICIONAR REGISTRO DE REVISÃO</md-button>
      </div>

      <md-list flex>
        <md-list-item class="md-2-line" style="margin-top: 15px" ng-repeat="item in $ctrl.activity.revisions track by $index" ng-click="null">
          <md-icon style="color:{{item.status.color}}" md-font-library="material-icons">done_outline</md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Revisado por</h3>
            <p>{{ item.user.name }}</p>
            <p>{{ item.user.email }}</p>
            <p>Em {{ item.revisionDate }}</p>
          </div>
        </md-list-item>
      </md-list>

    </md-tab>
  </md-tabs>
</md-sidenav>
